Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: integrate useMetronomeSettings hook for persistent metronome configuration
  frontendv2/src/components/metronome/CollapsibleMetronome.tsx
  frontendv2/src/pages/Toolbox.tsx
  frontendv2/src/services/patternMetronomeService.ts
  frontendv2/tailwind.config.js
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve scorebook upload, search, and import issues
  frontendv2/src/components/score/ScoreManagement.tsx
  frontendv2/src/hooks/useScoreSearch.ts
  frontendv2/src/services/scoreService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve import endpoint routing conflict in staging
  scores/src/api/routes.ts
Due: prettier --write

fix: add error handling for AI metadata extraction failures
  scores/src/api/handlers/import.ts
Due: prettier --write

feat(scores): optimize R2 storage for PDF serving
  scores/docs/R2_OPTIMIZATION.md
  scores/src/api/handlers/import.ts
  scores/src/api/handlers/render.ts
  scores/src/index.ts
  scores/src/services/uploadService.ts
  scores/src/utils/cache.ts
Due: prettier --write

docs: update scorebook plans with progress and user collections feature
  docs/SCOREBOOK.md
  docs/SCOREBOOK_UNIFIED_PLAN.md
  scores/docs/R2_COST_ANALYSIS.md
  scores/docs/R2_HYBRID_ANALYSIS.md
Due: prettier --write

fix: unified top menu and toolbox improvements
  frontendv2/src/components/layout/UnifiedHeader.tsx
  frontendv2/src/i18n/config.ts
  frontendv2/src/i18n/i18n.d.ts
  frontendv2/src/locales/de/toolbox.json
  frontendv2/src/locales/en/toolbox.json
  frontendv2/src/locales/es/toolbox.json
  frontendv2/src/locales/fr/toolbox.json
  frontendv2/src/locales/zh-CN/toolbox.json
  frontendv2/src/locales/zh-TW/toolbox.json
  frontendv2/src/pages/Logbook.tsx
  frontendv2/src/pages/ScoreBrowser.tsx
  frontendv2/src/pages/Scorebook.tsx
  frontendv2/src/pages/Toolbox.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: unified top menu and toolbox improvements
  frontendv2/src/pages/Toolbox.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update Logbook tests to work with UnifiedHeader
  frontendv2/src/tests/unit/pages/Logbook.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: apply prettier formatting to unified header and toolbox translations
  frontendv2/src/components/layout/UnifiedHeader.tsx
  frontendv2/src/locales/de/toolbox.json
  frontendv2/src/locales/en/toolbox.json
  frontendv2/src/locales/es/toolbox.json
  frontendv2/src/locales/fr/toolbox.json
  frontendv2/src/locales/zh-CN/toolbox.json
  frontendv2/src/locales/zh-TW/toolbox.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: complete l10n and fix auth UI inconsistencies
  frontendv2/src/components/auth/SignInModal.tsx
  frontendv2/src/components/layout/UnifiedHeader.tsx
  frontendv2/src/hooks/useMetronomeSettings.ts
  frontendv2/src/locales/de/scorebook.json
  frontendv2/src/locales/de/toolbox.json
  frontendv2/src/locales/es/scorebook.json
  frontendv2/src/locales/es/toolbox.json
  frontendv2/src/locales/fr/toolbox.json
  frontendv2/src/locales/zh-CN/scorebook.json
  frontendv2/src/locales/zh-CN/toolbox.json
  frontendv2/src/locales/zh-TW/scorebook.json
  frontendv2/src/locales/zh-TW/toolbox.json
  frontendv2/src/pages/Scorebook.tsx
  frontendv2/src/pages/Toolbox.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add SignInModal to ScoreBrowser page and update docs
  docs/DESIGN.md
  frontendv2/src/pages/ScoreBrowser.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: implement Cloudflare AI for image processing with Gemini fallback
  scores/migrations/0007_add_visual_analysis_columns.sql
  scores/src/api/handlers/import.ts
  scores/src/queue/pdf-processor.ts
  scores/src/services/__tests__/cloudflareAiExtractor.test.ts
  scores/src/services/__tests__/hybridAiExtractor.test.ts
  scores/src/services/aiMetadataExtractor.ts
  scores/src/services/cloudflareAiExtractor.ts
  scores/src/services/hybridAiExtractor.ts
  scores/src/types/ai.ts
  scores/worker-configuration.d.ts
  scores/wrangler.toml
Due: prettier --write

fix: complete Cloudflare AI integration with all type fixes
  scores/src/api/handlers/import.ts
  scores/src/queue/pdf-processor.ts
  scores/src/services/aiMetadataExtractor.ts
  scores/src/services/cloudflareAiExtractor.ts
  scores/src/services/hybridAiExtractor.ts
  scores/src/types/ai.ts
Due: prettier --write

feat: add Cloudflare observability logs configuration to all services
  api/wrangler.toml
  frontendv2/wrangler.toml
  scores/wrangler.toml
Due: none

fix: update observability logs syntax in wrangler.toml files
  api/wrangler.toml
  docs/CLOUDFLARE_AI_DEPLOYMENT_CHECKLIST.md
  docs/CLOUDFLARE_AI_UAT_PLAN.md
  frontendv2/wrangler.toml
  scores/scripts/test-ai-import.sh
  scores/wrangler.toml
Due: prettier --write

fix: prevent duplicate slugs by including opus information
  docs/RUN_SLUG_MIGRATION.md
  scores/docs/RUN_SLUG_MIGRATION.md
  scores/migrations/0008_update_slugs_with_opus.sql
  scores/src/api/handlers/__tests__/generateSlug.test.ts
  scores/src/api/handlers/import.ts
Due: prettier --write

fix: make Cloudflare AI primary provider with Gemini fallback
  scores/src/api/handlers/import.ts
  scores/src/services/__tests__/hybridAiExtractor.test.ts
  scores/src/services/hybridAiExtractor.ts
Due: prettier --write

docs: update documentation with Cloudflare AI integration and slug enhancements
  docs/SCOREBOOK.md
  docs/SCOREBOOK_UNIFIED_PLAN.md
Due: prettier --write

fix: remove misleading 'Advanced import options' link
  frontendv2/src/components/score/ScoreManagement.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add PDF queue processing to import handler
  scores/src/api/handlers/import.ts
Due: prettier --write

feat: add admin endpoints to reprocess imported PDFs
  scores/scripts/reprocess-imported-pdfs.ts
  scores/scripts/reprocess-production.sh
  scores/src/api/handlers/admin.ts
  scores/src/api/routes.ts
  scores/worker-configuration.d.ts
Due: prettier --write

feat: implement responsive mobile navigation for UnifiedHeader
  frontendv2/src/components/layout/UnifiedHeader.tsx
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/tests/unit/pages/Logbook.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: implement vertical semi-transparent mobile score controls
  frontendv2/src/components/metronome/CollapsibleMetronome.tsx
  frontendv2/src/components/score/ScoreControls.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: implement image upload support for sheet music
  api/src/utils/cache.ts
  frontendv2/src/components/score/AdaptivePdfViewer.tsx
  frontendv2/src/components/score/ImageScoreViewer.tsx
  frontendv2/src/components/score/ScoreManagement.tsx
  frontendv2/src/services/scoreService.ts
  scores/migrations/0009_add_user_ownership_privacy.sql
  scores/migrations/0010_create_score_pages_table.sql
  scores/migrations/0011_create_user_collections_table.sql
  scores/src/api/handlers/importImages.ts
  scores/src/api/handlers/scores.ts
  scores/src/api/handlers/userCollections.ts
  scores/src/api/routes.ts
  scores/src/utils/auth.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve migrations to properly set up existing scores
  scores/migrations/0009_add_user_ownership_privacy.sql
  scores/migrations/0012_create_general_collection.sql
  scores/scripts/update-general-collection.sql
Due: none

fix: complete image upload feature with editor and build fixes
  frontendv2/package.json
  frontendv2/src/components/score/ImageEditor.tsx
  frontendv2/src/components/score/ImageScoreViewer.tsx
  frontendv2/src/components/score/ScoreManagement.tsx
  frontendv2/src/services/scoreService.ts
  package-lock.json
  scores/migrations/0013_fix_missing_mime_types.sql
  scores/src/api/handlers/importImages.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: make migrations idempotent and add remote flag to npm scripts
  scores/migrations/0002_add_slug_pdf_url.sql
  scores/migrations/0003_add_import_columns.sql
  scores/migrations/0006_add_missing_import_columns.sql
  scores/migrations/0007_add_visual_analysis_columns.sql
  scores/migrations/0009_add_user_ownership_privacy.sql
  scores/migrations/0012_create_general_collection.sql
  scores/migrations/MIGRATION_STRATEGY.md
  scores/package.json
Due: prettier --write

fix: add authentication headers to PDF viewer and fix permissions for private scores
  frontendv2/src/components/score/PdfViewer.tsx
  scores/src/api/handlers/render.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add missing user ownership columns to PDF import handler
  scores/migrations/0009_add_user_ownership_privacy.sql
  scores/src/api/handlers/import.ts
Due: prettier --write

fix: make uploaded scores public by default
  scores/src/api/handlers/import.ts
  scores/src/api/handlers/importImages.ts
Due: prettier --write

feat: add 'My Scores' section to scorebook browse page
  frontendv2/src/pages/ScoreBrowser.tsx
  frontendv2/src/services/scoreService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused userCollections variable
  frontendv2/src/pages/ScoreBrowser.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve score viewer issues for image and PDF scores
  frontendv2/src/components/score/PdfViewer.tsx
  frontendv2/src/components/score/ScoreViewer.tsx
  frontendv2/src/utils/pdfWorkerSetup.ts
  scores/src/api/handlers/scores.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve PDF.js worker CORS errors by switching to jsDelivr CDN
  frontendv2/public/pdf-worker-cdn-fallback.js
  frontendv2/src/components/score/PdfViewer.tsx
  frontendv2/src/services/pdfRenderingService.ts
  frontendv2/src/utils/pdfWorkerSetup.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: increase metronome max beat count from 16 to 36
  frontendv2/src/components/metronome/CollapsibleMetronome.tsx
  frontendv2/src/pages/Toolbox.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add jsdelivr to CSP and use it for PDF.js worker
  frontendv2/public/pdf-worker-cdn-fallback.js
  frontendv2/src/components/score/PdfViewer.tsx
  frontendv2/src/index.js
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve PDF flickering issue
  frontendv2/src/components/score/PdfViewer.tsx
  frontendv2/src/components/score/ScoreViewer.tsx
  frontendv2/src/stores/scoreStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update CSP to include jsDelivr for PDF.js worker
  frontendv2/src/index.js
Due: prettier --write

fix: consolidate CSP configuration and add jsDelivr support
  frontendv2/PDF_FIX_SUMMARY.md
  frontendv2/public/_headers
  frontendv2/src/index.js
Due: prettier --write

Path conditions:
  cd backend && eslint --fix: any of: backend/**/*.{ts,tsx}
  cd backend && vitest related --run --no-coverage --passWithNoTests: any of: backend/**/*.{ts,tsx}
  cd frontend && eslint --fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && jest --bail --findRelatedTests --passWithNoTests: any of: frontend/**/*.{ts,tsx}
  cd frontendv2 && eslint --fix: any of: frontendv2/**/*.{ts,tsx}
  cd frontendv2 && vitest related --run --no-coverage --passWithNoTests: any of: frontendv2/**/*.{ts,tsx}
  cd api && eslint --fix: any of: api/**/*.{ts,tsx}
  cd api && vitest related --run --no-coverage --passWithNoTests: any of: api/**/*.{ts,tsx}
  cd apiv2 && eslint --fix: any of: apiv2/**/*.{ts,tsx}
  cd apiv2 && vitest related --run --no-coverage --passWithNoTests: any of: apiv2/**/*.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
