Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add security headers and resolve CORS/COOP issues
  frontendv2/public/_headers
Due: none

chore: remove outdated Generate Documentation workflow
  .github/workflows/docs.yml
Due: none

fix: add Google accounts to CSP style-src for Sign-In
  frontendv2/public/_headers
Due: none

fix: use raw GitHub URL for screenshot in README
  README.md
Due: prettier --write

fix: explicitly configure Vite to copy public assets to dist
  frontendv2/vite.config.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: move workers_dev config to correct location in wrangler.toml
  frontendv2/wrangler.toml
Due: none

fix: add images to source control and update gitignore
  .gitignore
  frontendv2/public/mirubato-cover.jpeg
  frontendv2/public/mirubato-screenshot.jpg
Due: none

fix: update scores service footer to 2025 and MIT license
  scores/src/index.ts
Due: prettier --write

fix: resolve Swagger UI 'No layout defined' error
  scores/src/api/handlers/docs.ts
Due: prettier --write

fix: update API footer and add doc links
  api/src/index.ts
  api/src/services/email.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: make E2E tests self-contained and robust
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: update ROADMAP and DESIGN to reflect completed REST API migration
  README.md
  docs/DESIGN.md
  docs/ROADMAP.md
Due: prettier --write

feat: implement unified UI/UX improvements
  frontendv2/package.json
  frontendv2/src/components/LogbookEntryList.tsx
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/ui/Button.tsx
  frontendv2/src/components/ui/SplitButton.tsx
  frontendv2/src/components/ui/TimelineNav.tsx
  frontendv2/src/styles/index.css
  frontendv2/src/utils/cn.ts
  package-lock.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve instrument button layout in ManualEntryForm
  frontendv2/src/components/ManualEntryForm.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: optimize mood selector for mobile and consistency
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/ui/SplitButton.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve staging environment issues
  api/src/index.ts
  docs/STAGING_ISSUES.md
  frontendv2/src/index.js
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: clarify staging issues status and add secret generation examples
  docs/STAGING_ISSUES.md
Due: prettier --write

docs: add CRITICAL warning about missing JWT secrets in production
  docs/STAGING_ISSUES.md
Due: prettier --write

fix: resolve TypeScript lint error in SplitButton component
  frontendv2/src/components/ui/SplitButton.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: update E2E tests for new collapsible UI
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript build errors and add D1 debugging
  api/src/api/handlers/sync.ts
  api/src/utils/database.ts
  frontendv2/src/components/ManualEntryForm.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: update staging issues with data persistence fixes
  docs/STAGING_ISSUES.md
Due: prettier --write

fix: implement deduplication and fix E2E tests for logbook sync
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/unit/stores/logbookStore.test.ts
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve E2E test failures for mobile and sync scenarios
  frontendv2/tests/e2e/logbook-sync.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: correct logbook entry sorting and timeline navigation
  frontendv2/.gitignore
  frontendv2/src/components/LogbookEntryList.tsx
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/unit/stores/logbookStore.sorting.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: implement timeline filtering for logbook entries
  frontendv2/src/components/LogbookEntryList.tsx
  frontendv2/src/tests/unit/components/LogbookEntryList.timeline.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve linting issues in timeline filtering
  frontendv2/src/components/LogbookEntryList.tsx
  frontendv2/src/tests/unit/components/LogbookEntryList.timeline.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add interactive piano with real sounds to home page
  frontendv2/src/components/InteractivePiano.tsx
  frontendv2/src/pages/Home.tsx
  package-lock.json
  package.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: update piano with 2-note melody exercise
  frontendv2/src/components/InteractivePiano.tsx
  frontendv2/src/pages/Home.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: add sustain
  frontendv2/src/components/InteractivePiano.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add more sustain to piano sounds
  api/package-lock.json
  package-lock.json
Due: prettier --write

fix: resolve npm lockfile corruption and workerd version conflicts
  api/package.json
  frontendv2/src/components/InteractivePiano.tsx
  package-lock.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add tonejs.github.io to CSP for piano audio samples
  frontendv2/public/_headers
Due: none

docs: add microservices architecture plan to roadmap
  docs/ROADMAP.md
Due: prettier --write

docs: add i18n/l10n implementation plan to roadmap
  docs/ROADMAP.md
Due: prettier --write

feat: implement i18n foundation with 4 languages
  frontendv2/package.json
  frontendv2/src/components/LanguageSwitcher.tsx
  frontendv2/src/i18n/config.ts
  frontendv2/src/i18n/i18n.d.ts
  frontendv2/src/locales/en/auth.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/en/errors.json
  frontendv2/src/locales/en/logbook.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/auth.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/es/errors.json
  frontendv2/src/locales/es/logbook.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/auth.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/fr/errors.json
  frontendv2/src/locales/fr/logbook.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-TW/auth.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/locales/zh-TW/errors.json
  frontendv2/src/locales/zh-TW/logbook.json
  frontendv2/src/locales/zh-TW/reports.json
  frontendv2/src/main.tsx
  frontendv2/src/pages/Home.tsx
  package-lock.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: complete i18n implementation with all translations
  frontendv2/src/components/LogbookReports.tsx
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/locales/en/logbook.json
  frontendv2/src/locales/es/logbook.json
  frontendv2/src/locales/fr/auth.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/fr/errors.json
  frontendv2/src/locales/fr/logbook.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-TW/auth.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/locales/zh-TW/errors.json
  frontendv2/src/locales/zh-TW/logbook.json
  frontendv2/src/locales/zh-TW/reports.json
  frontendv2/src/pages/Logbook.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: complete i18n implementation with missing translations
  frontendv2/src/components/LogbookEntryList.tsx
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/en/logbook.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/es/logbook.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/fr/logbook.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/locales/zh-TW/logbook.json
  frontendv2/src/tests/unit/components/LogbookEntryList.timeline.test.tsx
  frontendv2/tests/setup.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

Path conditions:
  cd backend && eslint --fix: any of: backend/**/*.{ts,tsx}
  cd backend && vitest related --run --no-coverage --passWithNoTests: any of: backend/**/*.{ts,tsx}
  cd frontend && eslint --fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && jest --bail --findRelatedTests --passWithNoTests: any of: frontend/**/*.{ts,tsx}
  cd frontendv2 && eslint --fix: any of: frontendv2/**/*.{ts,tsx}
  cd frontendv2 && vitest related --run --no-coverage --passWithNoTests: any of: frontendv2/**/*.{ts,tsx}
  cd api && eslint --fix: any of: api/**/*.{ts,tsx}
  cd api && vitest related --run --no-coverage --passWithNoTests: any of: api/**/*.{ts,tsx}
  cd apiv2 && eslint --fix: any of: apiv2/**/*.{ts,tsx}
  cd apiv2 && vitest related --run --no-coverage --passWithNoTests: any of: apiv2/**/*.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
