Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: prettier
  sync-worker/src/syncCoordinator.ts
Due: prettier --write

fix: fix removal sync
  sync-worker/src/syncCoordinator.ts
Due: prettier --write

fix: resolve metronome beat highlight synchronization issue
  frontendv2/src/components/metronome/CollapsibleMetronome.tsx
  frontendv2/src/services/patternMetronomeService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: prettier
  frontendv2/src/components/metronome/CollapsibleMetronome.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: replace Tone.Draw.schedule with setTimeout for dynamic visual callbacks
  frontendv2/src/components/metronome/CollapsibleMetronome.tsx
  frontendv2/src/pages/Toolbox.tsx
  frontendv2/src/services/patternMetronomeService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused variable to satisfy linter
  frontendv2/src/services/patternMetronomeService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: address code review issues for metronome beat sync
  frontendv2/src/components/metronome/CollapsibleMetronome.tsx
  frontendv2/src/pages/Toolbox.tsx
  frontendv2/src/services/patternMetronomeService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: start working on plan
  AGENTS.md
  docs/specs/05-features/practice-planning.md
Due: prettier --write

prettier
  docs/specs/05-features/practice-planning.md
Due: prettier --write

update the plan of plan with sample plan considered
  docs/specs/05-features/practice-planning.md
Due: prettier --write

feat: planning
  api/src/api/handlers/sync.ts
  api/src/api/openapi.ts
  api/src/schemas/entities.ts
  api/src/utils/validation.ts
  frontendv2/src/api/planning.ts
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
  frontendv2/src/components/practice-reports/ReportsTabs.tsx
  frontendv2/src/locales/en/reports.json
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: update codeowner
  .github/CODEOWNERS
Due: none

chore: prettier
  api/src/schemas/entities.ts
  docs/specs/05-features/practice-planning.md
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: plan basic CRUD
  frontendv2/src/api/planning.ts
  frontendv2/src/components/practice-planning/PlanEditorModal.tsx
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/locales/en/reports.json
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: integrate plan into entries
  api/src/api/handlers/sync.ts
  api/src/schemas/entities.ts
  frontendv2/src/api/planning.ts
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/practice-planning/PlanCheckInModal.tsx
  frontendv2/src/components/practice-planning/PlanEditorModal.tsx
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/locales/en/reports.json
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: finish the i18n of plan
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/de/logbook.json
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/de/ui.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/es/logbook.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/es/ui.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/fr/logbook.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/fr/ui.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-CN/logbook.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-CN/ui.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/locales/zh-TW/logbook.json
  frontendv2/src/locales/zh-TW/repertoire.json
  frontendv2/src/locales/zh-TW/reports.json
  frontendv2/src/locales/zh-TW/ui.json
Due: prettier --write

fix: TypeScript Build Error
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore:prettier
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

ui: minor adjust of ui to align with general design language
  frontendv2/src/components/practice-planning/PlanningView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: adding unittest for planning
  frontendv2/src/api/planning.test.ts
  frontendv2/src/components/practice-planning/PlanCheckInModal.test.tsx
  frontendv2/src/components/practice-planning/PlanEditorModal.test.tsx
  frontendv2/src/components/practice-planning/PlanningView.test.tsx
  frontendv2/src/stores/planningStore.test.ts
  frontendv2/src/tests/builders/planning.builders.ts
  frontendv2/src/tests/mocks/i18n.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: add basic unittest for planning
  frontendv2/src/api/planning.ts
  frontendv2/src/components/practice-planning/PlanCheckInModal.test.tsx
  frontendv2/src/components/practice-planning/PlanEditorModal.test.tsx
  frontendv2/src/components/practice-planning/PlanningView.test.tsx
  frontendv2/src/stores/planningStore.test.ts
  frontendv2/src/tests/mocks/i18n.ts
  frontendv2/src/tests/setup.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: prettier
  frontendv2/src/api/planning.test.ts
  frontendv2/src/api/planning.ts
  frontendv2/src/components/practice-planning/PlanningView.test.tsx
  frontendv2/src/stores/planningStore.test.ts
  frontendv2/src/tests/builders/planning.builders.ts
  frontendv2/src/tests/mocks/i18n.ts
  frontendv2/src/tests/setup.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: address Dependabot security vulnerabilities (#36, #38, #39, #40)
  api/package.json
  dictionary/package.json
  frontendv2/package.json
  pnpm-lock.yaml
  scores/package.json
  tools/debug-data-fix/package.json
Due: prettier --write

chore: prettier
  pnpm-lock.yaml
Due: prettier --write

chore: bump up expired versions
  api/eslint.config.js
  api/package.json
  api/src/api/handlers/auth.ts
  api/src/api/handlers/debug.ts
  api/src/api/handlers/health.ts
  api/src/api/handlers/sync.test.ts
  api/src/api/handlers/sync.ts
  api/src/api/middleware.ts
  dictionary/eslint.config.js
  dictionary/package.json
  dictionary/src/api/handlers/batch.ts
  dictionary/src/api/handlers/export.ts
  dictionary/src/api/handlers/health.ts
  dictionary/src/index.ts
  dictionary/src/types/env.ts
  frontendv2/package.json
  pnpm-lock.yaml
  scores/eslint.config.js
  scores/package.json
  scores/src/api/handlers/health.ts
  scores/src/api/handlers/import-enhanced.ts
  scores/src/api/handlers/import.ts
  scores/src/api/handlers/importImages.ts
  scores/src/api/handlers/pdf-renderer-v2.ts
  scores/src/api/handlers/pdf-renderer.ts
  scores/src/api/handlers/render.ts
  scores/src/api/handlers/scores.ts
  scores/src/api/middleware.ts
  scores/src/utils/auth.ts
  scores/src/utils/pdfValidation.ts
  tools/debug-data-fix/package.json
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: address to dependabot alert #36
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: support custom recurrence scheduling
  api/src/api/handlers/sync.ts
  api/src/utils/validation.ts
  frontendv2/src/api/planning.ts
  frontendv2/src/components/practice-planning/PlanEditorModal.tsx
  frontendv2/src/stores/planningStore.test.ts
  frontendv2/src/stores/planningStore.ts
  frontendv2/src/tests/builders/planning.builders.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: preserve schedule metadata on plan updates
  .lintstagedrc.json
  frontendv2/src/stores/planningStore.test.ts
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: prefill manual log entries from practice plans
  frontendv2/src/api/logbook.ts
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/practice-planning/PlanCheckInModal.tsx
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: keep plan context in check-in entries
  frontendv2/src/api/logbook.ts
  frontendv2/src/components/practice-planning/PlanCheckInModal.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: surface plan reflections in log entry detail
  frontendv2/src/components/practice-planning/PlanCheckInModal.tsx
  frontendv2/src/components/practice-planning/__tests__/PlanCheckInModal.test.tsx
  frontendv2/src/components/ui/EntryDetailPanel.tsx
  frontendv2/src/components/ui/__tests__/EntryDetailPanel.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add planning realtime sync broadcasts
  api/src/api/handlers/sync.test.ts
  api/src/api/handlers/sync.ts
  api/src/services/syncWorkerBroadcaster.ts
  api/src/utils/database.test.ts
  api/src/utils/database.ts
  frontendv2/src/services/webSocketSync.ts
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/stores/planningStore.ts
  frontendv2/src/tests/unit/services/webSocketSync.test.ts
  sync-worker/src/index.ts
  sync-worker/src/schemas.ts
  sync-worker/src/syncCoordinator.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: ensure planning broadcasts include identifiers
  .lintstagedrc.json
  api/src/api/handlers/sync.test.ts
  api/src/api/handlers/sync.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: clarify planning tab reminders and progress UI
  docs/specs/05-features/practice-planning.md
Due: prettier --write

docs: expand planning outstanding tasks
  docs/specs/05-features/practice-planning.md
Due: prettier --write

feat(planning): add memoized selectors and coverage
  frontendv2/src/stores/__tests__/planningStore.test.ts
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: add planning follow-up tickets
  docs/tickets/planning-analytics-templates-phase4.md
Due: prettier --write

feat: refresh planning view reminders and progress
  frontendv2/src/components/practice-planning/PlanProgressRail.tsx
  frontendv2/src/components/practice-planning/PlanReminderCard.tsx
  frontendv2/src/components/practice-planning/PlanningView.test.tsx
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/lib/analytics/planning.ts
  frontendv2/src/locales/en/reports.json
  frontendv2/src/tests/mocks/i18n.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

Path conditions:
  cd backend && eslint --fix: any of: backend/**/*.{ts,tsx}
  cd backend && vitest related --run --no-coverage --passWithNoTests: any of: backend/**/*.{ts,tsx}
  cd frontend && eslint --fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && jest --bail --findRelatedTests --passWithNoTests: any of: frontend/**/*.{ts,tsx}
  cd frontendv2 && eslint --fix: any of: frontendv2/**/*.{ts,tsx}
  cd frontendv2 && vitest related --run --no-coverage --passWithNoTests: any of: frontendv2/**/*.{ts,tsx}
  cd api && eslint --fix: any of: api/**/*.{ts,tsx}
  cd api && vitest related --run --no-coverage --passWithNoTests: any of: api/**/*.{ts,tsx}
  cd dictionary && eslint --fix: any of: dictionary/**/*.{ts,tsx}
  cd dictionary && vitest related --run --no-coverage --passWithNoTests: any of: dictionary/**/*.{ts,tsx}
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,html,cjs,mjs,graphql}
