Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && vitest related --run --no-coverage --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontendv2/**/*.{ts,tsx}": [
    "cd frontendv2 && eslint --fix",
    "cd frontendv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "api/**/*.{ts,tsx}": [
    "cd api && eslint --fix",
    "cd api && vitest related --run --no-coverage --passWithNoTests"
  ],
  "dictionary/**/*.{ts,tsx}": [
    "cd dictionary && eslint --fix",
    "cd dictionary && vitest related --run --no-coverage --passWithNoTests"
  ],
  "**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,html,cjs,mjs,graphql}": [
    "prettier --write"
  ]
}

style: format planning analytics helper
  frontendv2/src/components/practice-planning/PlanProgressRail.tsx
  frontendv2/src/components/practice-planning/PlanReminderCard.tsx
  frontendv2/src/components/practice-planning/PlanningView.test.tsx
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/lib/analytics/planning.ts
  frontendv2/src/locales/en/reports.json
  frontendv2/src/tests/mocks/i18n.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix the type error
  frontendv2/src/components/practice-planning/PlanProgressRail.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

complete i18n
  frontendv2/scripts/translation-validation-2025-11-14T14-44-10-194Z.json
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
Due: prettier --write

check auth in planning tab
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix test
  frontendv2/src/stores/planningStore.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix local/auth
  frontendv2/src/api/client.ts
  frontendv2/src/stores/authStore.ts
  frontendv2/src/stores/planningStore.test.ts
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: prettier
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add planning analytics dashboard with KPIs (Phase 4 Ticket #1)
  frontendv2/src/components/practice-planning/PlanningAnalyticsPanel.tsx
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/hooks/usePlanningAnalytics.test.ts
  frontendv2/src/hooks/usePlanningAnalytics.ts
  frontendv2/src/lib/analytics/planning.ts
  frontendv2/src/locales/en/reports.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused import and fix Typography id prop
  frontendv2/src/components/practice-planning/PlanningAnalyticsPanel.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

i18n: add planning analytics translations for all languages
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
Due: prettier --write

chore: prettier formatting for planning analytics files
  frontendv2/src/components/practice-planning/PlanningAnalyticsPanel.tsx
  frontendv2/src/hooks/usePlanningAnalytics.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: start 7-day forecast from tomorrow instead of today
  frontendv2/src/hooks/usePlanningAnalytics.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add plan template schema and sync support (Phase 4 Ticket #2 - Backend)
  api/src/api/handlers/sync.ts
  api/src/schemas/entities.ts
  frontendv2/src/api/planning.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add template adoption endpoint (Phase 4 Ticket #2 - Backend)
  api/src/api/handlers/templates.ts
  api/src/api/routes.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add template management to planning store (Phase 4 Ticket #2 - Frontend)
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add TemplatePublisherModal component (Phase 4 Ticket #2 - Frontend)
  frontendv2/src/components/practice-planning/TemplatePublisherModal.tsx
  frontendv2/src/components/practice-planning/__tests__/TemplatePublisherModal.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add TemplateGallery component (Phase 4 Ticket #2 - Frontend)
  frontendv2/src/components/practice-planning/TemplateGallery.tsx
  frontendv2/src/components/practice-planning/__tests__/TemplateGallery.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: correct i18next translation call in TemplateGallery
  frontendv2/src/components/practice-planning/TemplateGallery.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add telemetry tracking for template actions (Phase 4 Ticket #2)
  frontendv2/src/components/practice-planning/TemplateGallery.tsx
  frontendv2/src/components/practice-planning/TemplatePublisherModal.tsx
  frontendv2/src/lib/analytics/planning.ts
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-TW/common.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: mark Ticket #2 (Tutor Plan Templates) as completed
  docs/tickets/planning-analytics-templates-phase4.md
Due: prettier --write

feat: add complete template UX integration to PlanningView
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-TW/common.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript build errors in PlanningView
  frontendv2/src/components/practice-planning/PlanningView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

style: format PlanningView with prettier
  frontendv2/src/components/practice-planning/PlanningView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add template management UX with Browse/My Templates subtabs
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/components/practice-planning/TemplateGallery.tsx
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-TW/common.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add Published badge to indicate plans shared as templates
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-TW/common.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove redundant loadTemplates call after publishTemplate
  frontendv2/src/components/practice-planning/PlanningView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add planTemplates to sync validation schema
  api/src/utils/validation.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: update planning tickets with architecture guidelines and un-checkin spec
  docs/tickets/planning-analytics-templates-phase4.md
Due: prettier --write

chore: prettier
  docs/tickets/planning-analytics-templates-phase4.md
Due: prettier --write

chore: remove lfs in husky and add hooks
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
Due: none

test: fix the planning test with await for async call
  frontendv2/src/components/practice-planning/__tests__/TemplatePublisherModal.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: align planning UI with Morandi design system and add un-check-in feature
  frontendv2/src/components/practice-planning/PlanCheckInModal.tsx
  frontendv2/src/components/practice-planning/PlanReminderCard.tsx
  frontendv2/src/components/practice-planning/PlanningAnalyticsPanel.tsx
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/components/practice-planning/TemplateGallery.tsx
  frontendv2/src/components/practice-planning/TemplatePublisherModal.tsx
  frontendv2/src/components/practice-planning/UndoCheckInBanner.tsx
  frontendv2/src/components/practice-planning/__tests__/UndoCheckInBanner.test.tsx
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add planning.occurrence.uncheckin to analytics event types
  frontendv2/src/lib/analytics/planning.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused fireEvent import in UndoCheckInBanner test
  frontendv2/src/components/practice-planning/__tests__/UndoCheckInBanner.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add IntersectionObserver mock and improve test reliability
  frontendv2/src/components/practice-planning/__tests__/UndoCheckInBanner.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

style: format planning components with prettier
  frontendv2/src/components/practice-planning/PlanningAnalyticsPanel.tsx
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/components/practice-planning/TemplatePublisherModal.tsx
  frontendv2/src/components/practice-planning/UndoCheckInBanner.tsx
  frontendv2/src/components/practice-planning/__tests__/UndoCheckInBanner.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: complete planning feature with un-check-in UI and adoption count tracking
  frontendv2/src/api/planning.ts
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/components/practice-planning/UndoCheckInBanner.tsx
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

style: align planning components with Morandi design system
  frontendv2/src/components/practice-planning/PlanEditorModal.tsx
  frontendv2/src/components/practice-planning/TemplateGallery.tsx
  frontendv2/src/components/practice-planning/TemplatePublisherModal.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add htmlFor prop support to Typography component
  frontendv2/src/components/ui/Typography.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add template detail preview modal and fix design system violations
  frontendv2/src/components/practice-planning/PlanEditorModal.tsx
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/components/practice-planning/TemplateDetailModal.tsx
  frontendv2/src/components/practice-planning/TemplateGallery.tsx
  frontendv2/src/lib/analytics/planning.ts
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-TW/common.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write
