Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && vitest related --run --no-coverage --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontendv2/**/*.{ts,tsx}": [
    "cd frontendv2 && eslint --fix",
    "cd frontendv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "api/**/*.{ts,tsx}": [
    "cd api && eslint --fix",
    "cd api && vitest related --run --no-coverage --passWithNoTests"
  ],
  "dictionary/**/*.{ts,tsx}": [
    "cd dictionary && eslint --fix",
    "cd dictionary && vitest related --run --no-coverage --passWithNoTests"
  ],
  "**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,html,cjs,mjs,graphql}": [
    "prettier --write"
  ]
}

fix: improve logbook entry display and consolidate UI components
  frontendv2/src/components/logbook/LogbookSplitView.tsx
  frontendv2/src/components/logbook/PracticeLogsList.tsx
  frontendv2/src/components/ui/CompactEntryRow.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve unused mood parameter build error
  frontendv2/src/components/ui/CompactEntryRow.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: update e2e tests for new inline entry display
  frontendv2/tests/e2e/enhanced-reports.test.ts
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/logbook.test.ts
  frontendv2/tests/e2e/recent-entries.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve type safety and enable custom instruments support
  api/src/schemas/entities.ts
  api/src/utils/validation.ts
  dictionary/src/api/handlers/admin.ts
  dictionary/src/api/handlers/batch.ts
  dictionary/src/api/openapi.ts
  dictionary/src/schemas/index.ts
  frontendv2/src/api/logbook.ts
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/ui/FormError.tsx
  frontendv2/src/hooks/useFormValidation.ts
  frontendv2/src/schemas/validation.ts
  frontendv2/src/stores/repertoireStore.ts
  frontendv2/src/types/dictionary.ts
  frontendv2/src/utils/instrumentGuards.ts
  frontendv2/src/utils/typeGuards.ts
  scores/src/types/api.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve linter errors and add i18n for validation messages
  frontendv2/src/hooks/useFormValidation.ts
  frontendv2/src/i18n/config.ts
  frontendv2/src/locales/de/validation.json
  frontendv2/src/locales/en/validation.json
  frontendv2/src/locales/es/validation.json
  frontendv2/src/locales/fr/validation.json
  frontendv2/src/locales/zh-CN/validation.json
  frontendv2/src/locales/zh-TW/validation.json
  frontendv2/src/schemas/validation.ts
  frontendv2/src/utils/validationTranslator.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve multiple logbook UI issues (#512-#516)
  frontendv2/src/components/logbook/LogbookSplitView.tsx
  frontendv2/src/components/logbook/PracticeLogsList.tsx
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/ui/CompactEntryRow.tsx
  frontendv2/src/components/ui/DateSeparator.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve logbook sync validation errors and data loss
  api/src/api/handlers/sync.test.ts
  api/src/api/handlers/sync.ts
  api/src/schemas/entities.ts
  frontendv2/src/api/logbook.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: prevent data loss in sync system and improve reliability
  frontendv2/src/stores/logbookStore.ts
  pnpm-lock.yaml
  sync-worker/package.json
  sync-worker/src/auth.ts
  sync-worker/src/index.ts
  sync-worker/src/schemas.ts
  sync-worker/src/syncCoordinator.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add database persistence and sync recovery to sync-worker
  sync-worker/src/syncCoordinator.ts
Due: prettier --write

fix: complete sync system improvements and auto-sync implementation
  frontendv2/src/api/logbook.ts
  frontendv2/src/stores/authStore.ts
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/unit/api/logbook.test.ts
  frontendv2/src/tests/unit/stores/authStore.dataPreservation.test.ts
  frontendv2/src/tests/unit/stores/authStore.test.ts
  sync-worker/src/syncCoordinator.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update sync-worker compatibility date for Cloudflare Workers
  pnpm-lock.yaml
  sync-worker/wrangler.toml
Due: prettier --write

fix: add sync-worker to pnpm workspace configuration
  package.json
Due: prettier --write

fix: add sync-worker to pnpm workspace configuration
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix: properly handle logbook entry deletions
  api/src/api/handlers/sync.ts
  api/src/utils/database.ts
  frontendv2/src/api/logbook.ts
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/unit/api/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve UI issues #519-#524 for improved mobile experience
  frontendv2/src/components/logbook/PracticeLogsList.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/HeatmapCalendar.tsx
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/components/ui/CompactEntryRow.tsx
  frontendv2/src/components/ui/Typography.test.tsx
  frontendv2/src/components/ui/Typography.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve UI issues #526 and #527
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/ui/CompactEntryRow.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: update documentation to reflect recent changes
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: prettier --write

fix: prevent horizontal scrolling in calendar heatmap (#524)
  frontendv2/src/components/practice-reports/visualizations/charts/HeatmapCalendar.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: ignore workspace-level pnpm-lock.yaml files
  .gitignore
Due: none

feat: update app icons with new Mirubato logo
  frontendv2/public/android-chrome-192x192.png
  frontendv2/public/android-chrome-512x512.png
  frontendv2/public/apple-touch-icon.png
  frontendv2/public/favicon-16x16.png
  frontendv2/public/favicon-32x32.png
  frontendv2/public/favicon-48x48.png
  frontendv2/public/favicon.ico
  frontendv2/public/favicon.png
Due: none

feat: replace sidebar 'M' logo with new icon and add caching
  frontendv2/public/logo-32x32.png
  frontendv2/public/logo-48x48.png
  frontendv2/src/components/layout/Sidebar.tsx
  frontendv2/src/index.js
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: bump version to 1.7.6 with unified version management
  CLAUDE.md
  README.md
  api/package.json
  api/src/utils/version.ts
  dictionary/package.json
  dictionary/src/utils/version.ts
  docs/DEBUG.md
  docs/DESIGN.md
  docs/ROADMAP.md
  frontendv2/package.json
  frontendv2/src/utils/buildInfo.ts
  package.json
  scores/package.json
  scores/src/test/api.test.ts
  scores/src/utils/version.ts
  scripts/update-version.sh
  service-template/package.json
  sync-worker/package.json
  version.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: improve UI with dropdown menus and larger typography for detail views
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/ui/CompactEntryRow.tsx
  frontendv2/src/components/ui/DropdownMenu.tsx
  frontendv2/src/components/ui/EntryDetailPanel.tsx
  frontendv2/src/components/ui/Typography.tsx
  frontendv2/src/components/ui/index.ts
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-TW/common.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve logbook navigation flickering issue (#536)
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve logbook navigation flickering issue (#536)
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
  frontendv2/src/components/practice-reports/views/DataView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve Logbook page flickering on tab navigation (#536)
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
  frontendv2/src/components/practice-reports/views/DataView.tsx
  frontendv2/src/stores/logbookStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: eliminate page load flickering by initializing state from URL (#536)
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
  frontendv2/src/components/practice-reports/views/DataView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve WebSocket test failures with dependency injection pattern
  CLAUDE.md
  docs/DESIGN.md
  frontendv2/src/components/SyncIndicator.tsx
  frontendv2/src/services/webSocketSync.ts
  frontendv2/src/stores/authStore.ts
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/integration/sync.test.ts
  frontendv2/src/tests/mocks/webSocketMock.ts
  frontendv2/src/tests/setup.ts
  frontendv2/src/tests/unit/services/webSocketSync.test.ts
  frontendv2/src/tests/unit/stores/authStore.dataPreservation.test.ts
  frontendv2/src/tests/unit/stores/authStore.test.ts
  frontendv2/src/tests/unit/stores/logbookStore.test.ts
  frontendv2/tests/e2e/recent-entries.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: fix WebSocket sync integration and e2e test flakiness
  frontendv2/src/tests/integration/sync.test.ts
  frontendv2/tests/e2e/recent-entries.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve double-loading issue when clicking top menu tabs (#536)
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
  frontendv2/src/components/practice-reports/views/DataTableView.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve linter warnings after removing redundant loadEntries calls
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
  frontendv2/src/components/practice-reports/views/DataTableView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: prevent duplicate sync on page refresh with WebSocket-first approach
  frontendv2/src/services/webSocketSync.ts
  frontendv2/src/stores/authStore.ts
  frontendv2/src/stores/logbookStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove duplicate manual sync to prevent entry duplication
  frontendv2/src/stores/authStore.ts
  frontendv2/src/tests/unit/stores/authStore.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: prevent concurrent manual and WebSocket syncs
  frontendv2/src/components/PullToRefresh.tsx
  frontendv2/src/components/SyncIndicator.tsx
  frontendv2/src/stores/authStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: separate piece title and composer on mobile UI
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/components/ui/CompactEntryRow.tsx
  frontendv2/src/tests/unit/components/repertoire/FocusedRepertoireItem.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: use local timezone for chart date grouping (#543)
  frontendv2/src/hooks/useEnhancedAnalytics.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: update CLAUDE.md
  CLAUDE.md
Due: prettier --write

fix: remove manual sync to prevent duplicate entries
  frontendv2/src/components/PullToRefresh.tsx
  frontendv2/src/components/SyncIndicator.tsx
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/unit/stores/authStore.dataPreservation.test.ts
  frontendv2/src/tests/unit/stores/authStore.test.ts
  frontendv2/src/tests/unit/stores/logbookStore.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: prevent duplicate entries by preserving client-generated IDs
  frontendv2/src/api/logbook.ts
  frontendv2/src/stores/logbookStore.ts
  frontendv2/tests/e2e/duplicate-prevention.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: sanitize repertoire data before API sync to prevent 400 errors
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write
