Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && vitest related --run --no-coverage --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontendv2/**/*.{ts,tsx}": [
    "cd frontendv2 && eslint --fix",
    "cd frontendv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "api/**/*.{ts,tsx}": [
    "cd api && eslint --fix",
    "cd api && vitest related --run --no-coverage --passWithNoTests"
  ],
  "apiv2/**/*.{ts,tsx}": [
    "cd apiv2 && eslint --fix",
    "cd apiv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

feat: add French translations and startup script for Scorebook
  SCOREBOOK_QUICKSTART.md
  frontendv2/public/locales/fr/scorebook.json
  frontendv2/src/locales/fr/common.json
  start-scorebook.sh
Due: prettier --write

fix: implement local PDF serving for Scorebook development
  SCOREBOOK_QUICKSTART.md
  frontendv2/src/services/scoreService.ts
  scores/scripts/upload-test-pdfs.sh
  scores/serve-test-pdfs.js
  scores/src/index.ts
  start-scorebook.sh
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

refactor: address code review feedback from Gemini
  frontendv2/src/components/score/ScoreViewer.tsx
  frontendv2/src/services/scoreService.ts
  scores/scripts/upload-test-pdfs.sh
  scores/src/api/handlers/testPdfs.ts
  scores/src/api/routes.ts
  scores/src/index.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

refactor: implement proper R2 local testing with Miniflare
  R2_LOCAL_TESTING.md
  frontendv2/src/services/scoreService.ts
  scores/package.json
  scores/scripts/seed-r2-miniflare.sh
  scores/serve-test-pdfs.js
  scores/src/api/handlers/devSeed.ts
  scores/src/api/handlers/serveR2.ts
  scores/src/index.ts
  start-scorebook.sh
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: implement robust PDF upload system for Scorebook
  R2_LOCAL_TESTING.md
  SCOREBOOK_QUICKSTART.md
  SCOREBOOK_SETUP_SUMMARY.md
  SCOREBOOK_TESTING.md
  docs/SCOREBOOK.md
  docs/SCOREBOOK_IMPLEMENTATION_PLAN.md
  frontendv2/src/components/score/ScoreManagement.tsx
  frontendv2/src/components/score/ScoreViewer.tsx
  frontendv2/src/pages/ScoreBrowser.tsx
  frontendv2/src/pages/Scorebook.mock.tsx
  frontendv2/src/pages/Scorebook.tsx
  frontendv2/src/services/scoreService.ts
  scores/package.json
  scores/scripts/upload-real-pdfs.js
  scores/scripts/upload-test-pdfs.sh
  scores/scripts/upload-test-scores.ts
  scores/src/api/handlers/devSeed.ts
  scores/src/api/handlers/upload.ts
  scores/src/index.ts
  scores/src/services/uploadService.ts
  start-scorebook.sh
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve remaining lint errors in uploadService
  scores/src/services/uploadService.ts
Due: prettier --write

feat: add production and staging seed scripts for scorebook
  CLAUDE.md
  scores/migrations/0003_add_slug_pdf_url.sql
  scores/scripts/README.md
  scores/scripts/seed-production.sh
  scores/scripts/seed-staging.sh
Due: prettier --write

fix: add scorebook routes to scores service
  scores/src/api/handlers/scorebook.ts
  scores/src/index.ts
Due: prettier --write

fix: use environment variables for frontend URLs and fix CORS
  scores/src/api/handlers/scorebook.ts
  scores/src/index.ts
  scores/wrangler.toml
Due: prettier --write

refactor: implement explicit localhost domains with ports for local development
  CLAUDE.md
  api/src/index.ts
  api/wrangler.toml
  frontendv2/.env.development
  frontendv2/vite.config.ts
  frontendv2/wrangler.toml
  scores/scripts/upload-real-pdfs.js
  scores/src/index.ts
  scores/wrangler.toml
  start-scorebook.sh
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update upload script to use correct frontend URL for local development
  scores/scripts/upload-real-pdfs.js
Due: prettier --write

fix: update API URL detection to support .localhost domains
  frontendv2/src/api/client.ts
  frontendv2/src/services/scoreService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add missing scorebook translations and update service URL fallbacks
  frontendv2/src/api/client.ts
  frontendv2/src/i18n/config.ts
  frontendv2/src/locales/de/scorebook.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/en/scorebook.json
  frontendv2/src/locales/es/scorebook.json
  frontendv2/src/locales/fr/scorebook.json
  frontendv2/src/locales/zh-CN/scorebook.json
  frontendv2/src/locales/zh-TW/scorebook.json
  frontendv2/src/services/scoreService.ts
  frontendv2/src/tests/unit/api/client.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update dev scripts to use correct ports for local services
  api/package.json
  scores/package.json
Due: prettier --write

fix: add scores domains to CSP connect-src directive
  frontendv2/public/_headers
Due: none

docs: update deployment documentation to reflect automatic Cloudflare deployments
  CLAUDE.md
Due: prettier --write

fix: add object-src and frame-src directives to CSP for PDF embedding
  frontendv2/public/_headers
Due: none

fix: add SCORES_URL environment variable to frontend configurations
  frontendv2/wrangler.toml
Due: none

fix: allow PDF embedding from mirubato domains
  docs/SCOREBOOK.md
  scores/src/utils/cache.ts
Due: prettier --write

feat: implement comprehensive PDF rendering improvements
  docs/PDF_RENDERING_IMPROVEMENT_PLAN.md
  frontendv2/package.json
  frontendv2/src/components/score/PdfViewer.tsx
  frontendv2/src/components/score/ScoreControls.tsx
  frontendv2/src/components/score/ScoreViewer.tsx
  frontendv2/src/stores/scoreStore.ts
  frontendv2/src/utils/pdfCache.ts
  frontendv2/vite.config.ts
  package-lock.json
  scores/src/api/handlers/serveR2.ts
  scores/src/api/handlers/upload.ts
  scores/src/index.ts
  scores/src/services/uploadService.ts
  scores/src/utils/pdfValidation.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused totalPages variable in ScoreViewer
  frontendv2/src/components/score/ScoreViewer.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update Playwright config to use correct port and CI-compatible host
  frontendv2/playwright.config.ts
  frontendv2/vite.config.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: start PDF Phase 4 - create custom pdf.js viewer and rendering service
  docs/PDF_PHASE4_PLAN.md
  docs/PDF_PHASE4_REVISED_PLAN.md
  frontendv2/src/components/score/PdfJsViewer.tsx
  frontendv2/src/services/pdfRenderingService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: add Gemini AI progress review for PDF Phase 4
  docs/PDF_PHASE4_PROGRESS_REVIEW.md
Due: prettier --write

docs: create unified scorebook implementation plan
  docs/SCOREBOOK_UNIFIED_PLAN.md
Due: prettier --write

chore: reorder documents, use docs/SCOREBOOK_UNIFIED_PLAN.md for most current plan
  docs/PDF_PHASE4_PLAN.md
  docs/PDF_PHASE4_PROGRESS_REVIEW.md
  docs/PDF_PHASE4_REVISED_PLAN.md
  docs/PDF_RENDERING_IMPROVEMENT_PLAN.md
  docs/SCOREBOOK_IMPLEMENTATION_PLAN.md
  docs/archive/E2E_TEST_FIXES_SUMMARY.md
  docs/archive/HEALTH_MONITORING.md
Due: prettier --write

fix: resolve lint errors in Phase 4 PDF rendering implementation
  frontendv2/src/components/score/PdfJsViewer.tsx
  frontendv2/src/services/pdfRenderingService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript build errors in Phase 4 implementation
  frontendv2/src/components/score/PdfJsViewer.tsx
  frontendv2/src/services/pdfRenderingService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: implement Cloudflare Browser Rendering for PDF scores
  docs/scores/BROWSER_RENDERING_QUICKSTART.md
  docs/scores/CLOUDFLARE_BROWSER_RENDERING_IMPLEMENTATION.md
  docs/scores/PDF_RENDERING_CLOUDFLARE_ANALYSIS.md
  docs/scores/pdf-rendering-comparison.md
  package-lock.json
  scores/package.json
  scores/src/api/handlers/pdf-renderer.ts
  scores/src/api/routes.ts
  scores/wrangler.toml
Due: prettier --write

fix: resolve ESLint errors in pdf-renderer.ts
  scores/src/api/handlers/pdf-renderer.ts
Due: prettier --write

feat: implement real PDF rendering from R2 storage
  package-lock.json
  scores/package.json
  scores/src/api/handlers/pdf-renderer.ts
  scores/src/utils/r2-presigner.ts
  scores/worker-configuration.d.ts
Due: prettier --write

feat: implement image-based PDF viewer for improved mobile performance
  frontendv2/src/components/score/AdaptivePdfViewer.tsx
  frontendv2/src/components/score/ImageBasedPdfViewer.tsx
  frontendv2/src/components/score/ScoreViewer.tsx
  frontendv2/src/services/scoreService.ts
  scores/src/api/handlers/pdf-renderer.ts
  scores/src/api/handlers/scores.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add scores domains to CSP img-src and update CORS allowed origins
  frontendv2/public/_headers
  scores/src/index.ts
Due: prettier --write

fix: add special handling for test scores in PDF renderer
  scores/src/api/handlers/pdf-renderer.ts
  scores/src/api/handlers/scores.ts
Due: prettier --write

fix: resolve TypeScript compilation errors in PDF rendering
  DEBUG_IMAGE_VIEWER.md
  docs/PDF_RENDERING_WORKFLOW.md
  frontendv2/src/services/scoreService.ts
  scores/migrations/0002_add_processing_status.sql
  scores/src/api/handlers/pdf-renderer-v2.ts
  scores/src/api/handlers/pdf-renderer.ts
  scores/src/api/routes.ts
  scores/src/queue/pdf-processor.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: implement comprehensive PDF rendering improvements
  docs/MONITORING_AND_ALERTING.md
  frontendv2/src/components/score/AdaptivePdfViewer.tsx
  frontendv2/src/components/score/ImageBasedPdfViewer.tsx
  frontendv2/src/components/ui/ProgressiveImage.tsx
  frontendv2/src/constants/deviceDetection.ts
  frontendv2/src/utils/imageUtils.ts
  scores/src/api/handlers/health.ts
  scores/src/api/handlers/import-enhanced.ts
  scores/src/api/handlers/pdf-renderer-v2.ts
  scores/src/api/handlers/pdf-renderer.ts
  scores/src/api/handlers/upload.ts
  scores/src/api/routes.ts
  scores/src/index.ts
  scores/src/middleware/rateLimiter.ts
  scores/src/queue-consumer.ts
  scores/src/queue/pdf-processor.ts
  scores/src/test/api.test.ts
  scores/src/utils/pdfCache.ts
  scores/src/utils/pdfHtmlTemplate.ts
  scores/worker-configuration.d.ts
  scores/wrangler.toml
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve lint errors and TypeScript build issues
  frontendv2/src/constants/deviceDetection.ts
  scores/src/api/routes.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update migrations for PDF rendering feature
  scores/migrations/0003_add_slug_pdf_url.sql
  scores/migrations/0004_ensure_pdf_rendering_columns.sql
  scores/migrations/0005_initial_data.sql
Due: none

fix: resolve lint and build errors using best practices
  scores/src/api/handlers/pdf-renderer-v2.ts
  scores/src/api/handlers/pdf-renderer.ts
  scores/src/browser/pdf-page-evaluations.ts
  scores/src/utils/cache.ts
Due: prettier --write

fix: add missing queue configurations and setup script
  docs/DEPLOYMENT_GUIDE.md
  scores/scripts/setup-queues.sh
  scores/wrangler.toml
Due: prettier --write
