Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

test: update Practice integration tests for modular architecture
  frontend/tests/integration/Practice.integration.test.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: improve SyncModule test reliability
  frontend/src/modules/infrastructure/SyncModule.test.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: add backend infrastructure tests and improve rate limiter coverage
  backend/jest.config.mjs
  backend/src/__tests__/unit/config/cors.test.ts
  backend/src/__tests__/unit/index.test.ts
  backend/src/__tests__/unit/utils/rateLimiter.test.ts
  docs/ROADMAP.md
  frontend/src/tests/utils/test-utils.tsx
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

test: improve backend infrastructure test coverage
  backend/src/__tests__/unit/index.test.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update ROADMAP.md with backend test coverage improvements
  docs/ROADMAP.md
Due: prettier --write

fix: suppress Apollo Client mock warnings in frontend tests
  frontend/src/tests/README.md
  frontend/src/tests/setup/apollo-setup.ts
  frontend/src/tests/setup/unit.setup.ts
  frontend/src/tests/utils/apollo-mocks.ts
  frontend/src/tests/utils/apollo-test-helpers.ts
  frontend/src/tests/utils/test-utils.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update ROADMAP with frontend test quality improvements
  docs/ROADMAP.md
Due: prettier --write

test: comprehensive test review and documentation update
  docs/FRONTEND_TESTING_GUIDE.md
  docs/TEST_QUALITY_REPORT.md
Due: prettier --write

docs: update test quality report date to 2025-06-03
  docs/TEST_QUALITY_REPORT.md
Due: prettier --write

chore: remove redundant test artifacts and misplaced files
  backend/src/config/cors.test.ts
  backend/test-results-frontend.txt
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: design Phase 3 module architecture and update roadmap
  docs/PHASE3_MODULE_ARCHITECTURE.md
  docs/ROADMAP.md
Due: prettier --write

feat: implement Progress Analytics module with TDD approach
  frontend/src/modules/analytics/ProgressAnalyticsModule.test.ts
  frontend/src/modules/analytics/ProgressAnalyticsModule.ts
  frontend/src/modules/analytics/index.ts
  frontend/src/modules/analytics/types.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: add debug page and TypeDoc documentation infrastructure
  .gitignore
  docs/ROADMAP.md
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/modules/analytics/ProgressAnalyticsModule.ts
  frontend/src/pages/Debug.tsx
  frontend/typedoc.json
  package-lock.json
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update ROADMAP with debug infrastructure completion and add module implementation guidelines
  CLAUDE.md
  docs/ROADMAP.md
  frontend/src/config/version.ts
  frontend/src/pages/Debug.test.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: add detailed implementation work plan for remaining Phase 3 modules
  docs/PHASE3_MODULE_ARCHITECTURE.md
Due: prettier --write

fix: resolve remaining TypeScript errors in PracticeLoggerModule
  frontend/src/modules/logger/PracticeLoggerModule.test.ts
  frontend/src/modules/logger/PracticeLoggerModule.ts
  frontend/src/modules/logger/index.ts
  frontend/src/modules/logger/types.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement CurriculumModule with TDD approach
  frontend/src/modules/curriculum/CurriculumModule.test.ts
  frontend/src/modules/curriculum/CurriculumModule.ts
  frontend/src/modules/curriculum/index.ts
  frontend/src/modules/curriculum/types.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update ROADMAP.md with Phase 3 progress
  docs/ROADMAP.md
Due: prettier --write

docs: update README.md with current project status
  README.md
Due: prettier --write

feat: enhance CurriculumModule with advanced practice features
  docs/PHASE3_MODULE_ARCHITECTURE.md
  frontend/src/modules/curriculum/CurriculumModule.test.ts
  frontend/src/modules/curriculum/CurriculumModule.ts
  frontend/src/modules/curriculum/types.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: clean up TypeScript imports and formatting in CurriculumModule
  frontend/src/modules/curriculum/CurriculumModule.test.ts
  frontend/src/modules/curriculum/CurriculumModule.ts
  frontend/src/modules/curriculum/types.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update Phase 3 architecture to focus on MVP scope
  docs/PHASE3_MODULE_ARCHITECTURE.md
Due: prettier --write

feat: implement VisualizationModule with comprehensive test coverage
  frontend/package.json
  frontend/src/modules/visualization/VisualizationModule.test.ts
  frontend/src/modules/visualization/VisualizationModule.ts
  frontend/src/modules/visualization/index.ts
  frontend/src/modules/visualization/types.ts
  package-lock.json
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

style: fix linting issues in VisualizationModule
  frontend/src/modules/visualization/VisualizationModule.test.ts
  frontend/src/modules/visualization/VisualizationModule.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: comprehensive Phase 3 code review and roadmap reorganization
  docs/PHASE3_MODULE_ARCHITECTURE.md
  docs/ROADMAP.md
Due: prettier --write

refactor: implement storage decoupling and type consolidation across all modules
  frontend/jest.unit.config.mjs
  frontend/src/modules/analytics/ProgressAnalyticsModule.test.ts
  frontend/src/modules/analytics/ProgressAnalyticsModule.ts
  frontend/src/modules/core/MockStorageService.ts
  frontend/src/modules/core/StorageService.ts
  frontend/src/modules/core/index.ts
  frontend/src/modules/core/sharedTypes.ts
  frontend/src/modules/core/types.ts
  frontend/src/modules/curriculum/CurriculumModule.test.ts
  frontend/src/modules/curriculum/CurriculumModule.ts
  frontend/src/modules/curriculum/types.ts
  frontend/src/modules/infrastructure/StorageModule.ts
  frontend/src/modules/logger/PracticeLoggerModule.test.ts
  frontend/src/modules/logger/PracticeLoggerModule.ts
  frontend/src/modules/performance/PerformanceTrackingModule.test.ts
  frontend/src/modules/performance/PerformanceTrackingModule.ts
  frontend/src/modules/practice/PracticeSessionModule.test.ts
  frontend/src/modules/practice/PracticeSessionModule.ts
  frontend/src/modules/practice/types.ts
  frontend/src/modules/visualization/VisualizationModule.test.ts
  frontend/src/modules/visualization/VisualizationModule.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement storage decoupling and type consolidation
  frontend/src/modules/core/MockStorageService.ts
  frontend/src/modules/core/StorageService.ts
  frontend/src/modules/curriculum/CurriculumModule.test.ts
  frontend/src/modules/curriculum/CurriculumModule.ts
  frontend/src/modules/curriculum/types.ts
  frontend/src/modules/logger/PracticeLoggerModule.test.ts
  frontend/src/modules/logger/PracticeLoggerModule.ts
  frontend/src/modules/practice/PracticeSessionModule.ts
  frontend/src/modules/visualization/VisualizationModule.ts
  frontend/src/pages/Debug.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve all TypeScript errors and update to use enum values
  frontend/src/modules/core/StorageService.ts
  frontend/src/modules/curriculum/CurriculumModule.test.ts
  frontend/src/modules/curriculum/CurriculumModule.ts
  frontend/src/modules/curriculum/types.ts
  frontend/src/modules/logger/PracticeLoggerModule.test.ts
  frontend/src/modules/practice/PracticeSessionModule.test.ts
  frontend/src/modules/practice/PracticeSessionModule.ts
  frontend/src/pages/Debug.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: update ESLint configuration for test vs production code
  frontend/.eslintrc.cjs
  frontend/CODE_QUALITY_ACTION_PLAN.md
  frontend/jest.unit.config.mjs
  frontend/package.json
  frontend/src/components/MusicPlayer.test.tsx
  frontend/src/components/MusicPlayer.tsx
  frontend/src/contexts/AudioContext.test.tsx
  frontend/src/contexts/AudioContext.tsx
  frontend/src/modules/curriculum/CurriculumModule.ts
  frontend/src/pages/Docs.tsx
  frontend/src/services/dataSync.test.ts
  frontend/src/utils/audioManager.test.ts
  frontend/src/utils/audioManager.ts
  frontend/src/utils/audioManagerInterface.ts
  frontend/src/utils/mockAudioManager.ts
  frontend/tests/integration/Practice.integration.test.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update ROADMAP and move CODE_QUALITY_ACTION_PLAN
  docs/CODE_QUALITY_ACTION_PLAN.md
  docs/ROADMAP.md
Due: prettier --write

feat: add logging middleware tests and documentation automation
  .github/workflows/docs.yml
  backend/src/__tests__/unit/middleware/logging.test.ts
  frontend/docs-readme.md
  frontend/typedoc.json
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

Create CNAME
  CNAME
Due: none

feat: fix GitHub Actions docs workflow permissions and deployment
  .github/workflows/docs.yml
Due: none

chore:fix typoe
  CNAME
Due: none

fix: add contents:write permission for GitHub Pages deployment
  .github/workflows/docs.yml
Due: none

docs: improve README.md with concise layout and API docs link
  README.md
Due: prettier --write

docs: fix documentation URL to point to docs.mirubato.com
  frontend/docs-readme.md
Due: prettier --write

test: fix Practice tests by passing mocked audioManager to AudioProvider
  frontend/src/App.tsx
  frontend/src/pages/Practice.test.tsx
  frontend/src/pages/Practice.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write
