Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve i18n issues and update e2e tests
  frontendv2/src/components/LogbookEntryList.tsx
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/tests/unit/components/LogbookEntryList.timeline.test.tsx
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update e2e tests for better i18n compatibility
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: make e2e tests more robust for i18n
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve e2e test reliability for entry creation
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve E2E test stability and reliability
  frontendv2/playwright.config.ts
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update E2E tests to handle UI changes and improve reliability
  frontendv2/tests/e2e/logbook-fixed.test.ts
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add script to check for legacy data that needs migration
  frontendv2/check-legacy-data.js
Due: prettier --write

test: add comprehensive unit tests for logbook and sync APIs
  frontendv2/src/tests/unit/api/logbook.test.ts
  frontendv2/src/tests/unit/api/sync.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: add comprehensive unit tests for frontend components
  frontendv2/src/tests/unit/App.test.tsx
  frontendv2/src/tests/unit/components/ErrorBoundary.test.tsx
  frontendv2/src/tests/unit/components/ProtectedRoute.test.tsx
  frontendv2/src/tests/unit/pages/AuthVerify.test.tsx
  frontendv2/src/tests/unit/pages/Home.test.tsx
  frontendv2/src/tests/unit/pages/Logbook.test.tsx
  frontendv2/src/tests/unit/stores/logbookStore.sync.test.ts
  frontendv2/src/tests/unit/utils/cn.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve lint errors in test files
  frontendv2/src/tests/unit/components/ErrorBoundary.test.tsx
  frontendv2/src/tests/unit/components/ProtectedRoute.test.tsx
  frontendv2/src/tests/unit/utils/cn.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: stabilize E2E tests for mobile viewports
  frontendv2/docs/E2E_TEST_STABILITY.md
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/utils/responsive-helpers.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add www.mirubato.com domain to frontendv2 configuration
  frontendv2/wrangler.toml
Due: none

fix: resolve TypeScript lint error in responsive-helpers.ts
  frontendv2/tests/e2e/utils/responsive-helpers.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: implement autocomplete with offline support and add DE/ZH-CN locales
  api/scripts/SEED_MUSIC_CATALOG_GUIDE.md
  api/scripts/music-catalog-bulk-local.json
  api/scripts/music-catalog-bulk-production.json
  api/scripts/music-catalog-bulk-staging.json
  api/scripts/music-catalog-seed-local.json
  api/scripts/music-catalog-seed-production.json
  api/scripts/music-catalog-seed-staging.json
  api/scripts/seed-music-catalog.ts
  api/scripts/setup-music-catalog.sh
  api/src/api/handlers/autocomplete.ts
  api/src/api/routes.ts
  api/src/index.ts
  api/wrangler.toml
  docs/classical-music-composers-pieces.md
  docs/mirubato-mvp-actionable-steps.md
  frontendv2/src/api/autocomplete.ts
  frontendv2/src/components/LanguageSwitcher.tsx
  frontendv2/src/components/LogbookEntryList.tsx
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/PieceInput.tsx
  frontendv2/src/components/ui/Autocomplete.tsx
  frontendv2/src/hooks/useAutocomplete.ts
  frontendv2/src/i18n/config.ts
  frontendv2/src/locales/de/auth.json
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/de/errors.json
  frontendv2/src/locales/de/logbook.json
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/en/logbook.json
  frontendv2/src/locales/es/logbook.json
  frontendv2/src/locales/fr/logbook.json
  frontendv2/src/locales/zh-CN/auth.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-CN/errors.json
  frontendv2/src/locales/zh-CN/logbook.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/logbook.json
  frontendv2/src/tests/unit/components/LogbookEntryList.timeline.test.tsx
  frontendv2/src/utils/offlineAutocomplete.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: improve autocomplete and add practice date picker
  api/scripts/music-catalog-bulk-local.json
  api/scripts/music-catalog-bulk-production.json
  api/scripts/music-catalog-bulk-staging.json
  api/scripts/music-catalog-seed-local.json
  api/scripts/music-catalog-seed-production.json
  api/scripts/music-catalog-seed-staging.json
  api/scripts/seed-music-catalog.ts
  api/src/api/handlers/autocomplete.ts
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/PieceInput.tsx
  frontendv2/src/locales/de/logbook.json
  frontendv2/src/locales/en/logbook.json
  frontendv2/src/locales/es/logbook.json
  frontendv2/src/locales/fr/logbook.json
  frontendv2/src/locales/zh-CN/logbook.json
  frontendv2/src/locales/zh-TW/logbook.json
  frontendv2/src/utils/offlineAutocomplete.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve autocomplete selection handling
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/PieceInput.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript build errors in autocomplete components
  frontendv2/src/components/ui/Autocomplete.tsx
  frontendv2/src/hooks/useAutocomplete.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: simplify seed script for clean composer data
  api/scripts/music-catalog-bulk-local.json
  api/scripts/music-catalog-bulk-production.json
  api/scripts/music-catalog-bulk-staging.json
  api/scripts/music-catalog-seed-local.json
  api/scripts/music-catalog-seed-production.json
  api/scripts/music-catalog-seed-staging.json
  api/scripts/seed-music-catalog.ts
  docs/classical-music-composers-pieces.md
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: add comprehensive MVP final sprint plan
  docs/MVP_FINAL_SPRINT.md
Due: prettier --write

feat: implement Cloudflare caching, auth, and health monitoring across services
  CACHING_IMPLEMENTATION.md
  api/src/api/handlers/health.ts
  api/src/index.ts
  api/src/utils/cache.ts
  api/tests/unit/api.test.ts
  docs/HEALTH_MONITORING.md
  frontendv2/CACHING_OPTIMIZATIONS.md
  frontendv2/public/_headers
  frontendv2/src/App.tsx
  frontendv2/src/components/InteractivePiano.tsx
  frontendv2/src/pages/Home.tsx
  frontendv2/src/tests/unit/pages/Home.test.tsx
  frontendv2/tests/e2e/logbook-fixed.test.ts
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/logbook.test.ts
  frontendv2/vite.config.ts
  package-lock.json
  scores/docs/CACHING.md
  scores/package.json
  scores/src/api/handlers/health.ts
  scores/src/api/handlers/render.ts
  scores/src/api/handlers/scores.ts
  scores/src/api/middleware.ts
  scores/src/index.ts
  scores/src/test/api.test.ts
  scores/src/utils/auth.ts
  scores/src/utils/cache.ts
  scores/worker-configuration.d.ts
  scores/wrangler.toml
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: update ROADMAP and DESIGN with caching and monitoring implementation
  docs/DESIGN.md
  docs/ROADMAP.md
Due: prettier --write

fix: resolve staging health endpoint error
  api/src/api/handlers/health.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: re-enable JWT tests in health endpoint
  api/src/api/handlers/health.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove note labels from piano keyboard and fix lint error
  frontendv2/src/components/InteractivePiano.tsx
  scores/src/api/handlers/health.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve email error handling and staging fallback
  api/src/api/handlers/auth.ts
  api/src/services/email.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add JWT test endpoints to compare secrets between services
  api/src/api/handlers/health.ts
  scores/src/api/handlers/health.ts
  test-jwt.js
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: add comprehensive JWT architecture and secret management
  docs/DESIGN.md
Due: prettier --write

fix: resolve timezone drift in logbook entry dates
  frontendv2/src/components/ManualEntryForm.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: implement enhanced practice reports with calendar view
  api/scripts/SEED_MUSIC_CATALOG_GUIDE.md
  docs/CACHING_IMPLEMENTATION.md
  docs/CACHING_OPTIMIZATIONS.md
  docs/E2E_TEST_STABILITY.md
  docs/ENHANCED_REPORTS_INTEGRATION.md
  docs/enhanced-reports-design-mockup.html
  docs/scores/CACHING.md
  frontendv2/src/components/EnhancedPracticeReports.tsx
  frontendv2/src/components/PieceInput.tsx
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/en/logbook.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/pages/Logbook.tsx
  frontendv2/src/tests/unit/components/EnhancedPracticeReports.test.tsx
  frontendv2/src/tests/unit/pages/Logbook.test.tsx
  frontendv2/src/utils/reportsCacheManager.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: update EnhancedPracticeReports tests for better reliability
  frontendv2/src/tests/unit/components/EnhancedPracticeReports.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript errors and complete i18n translations
  frontendv2/src/components/EnhancedPracticeReports.tsx
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve sync API 500 errors and lint issues
  api/src/api/handlers/sync.test.ts
  api/src/api/handlers/sync.ts
  frontendv2/src/pages/Logbook.tsx
  frontendv2/src/tests/unit/components/EnhancedPracticeReports.test.tsx
  frontendv2/src/tests/unit/pages/Logbook.test.tsx
  frontendv2/src/utils/reportsCacheManager.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: TypeScript build errors in EnhancedPracticeReports.tsx
  frontendv2/src/components/EnhancedPracticeReports.tsx
  frontendv2/src/utils/reportsCacheManager.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve duplicate viewport rendering and update tests
  frontendv2/src/pages/Logbook.tsx
  frontendv2/src/tests/unit/pages/Logbook.test.tsx
  frontendv2/tests/e2e/logbook-fixed.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve blank day headers in calendar month view
  frontendv2/src/components/EnhancedPracticeReports.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve pieces tab filtering and month view issues
  frontendv2/src/components/EnhancedPracticeReports.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve 500 error when updating entries due to undefined values
  frontendv2/src/api/logbook.ts
  frontendv2/src/components/ManualEntryForm.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: clear piece/composer filters when switching to overview tab
  frontendv2/src/components/EnhancedPracticeReports.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: fix database tests for new upsertSyncData implementation
  api/src/api/handlers/sync.ts
  api/src/utils/database.test.ts
  api/src/utils/database.ts
  frontendv2/src/components/EnhancedPracticeReports.tsx
  test-sync.sh
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: prevent D1_TYPE_ERROR by sanitizing undefined values
  api/src/tests/d1-type-error.test.ts
  api/src/utils/database.ts
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/zh-CN/common.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

Path conditions:
  cd backend && eslint --fix: any of: backend/**/*.{ts,tsx}
  cd backend && vitest related --run --no-coverage --passWithNoTests: any of: backend/**/*.{ts,tsx}
  cd frontend && eslint --fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && jest --bail --findRelatedTests --passWithNoTests: any of: frontend/**/*.{ts,tsx}
  cd frontendv2 && eslint --fix: any of: frontendv2/**/*.{ts,tsx}
  cd frontendv2 && vitest related --run --no-coverage --passWithNoTests: any of: frontendv2/**/*.{ts,tsx}
  cd api && eslint --fix: any of: api/**/*.{ts,tsx}
  cd api && vitest related --run --no-coverage --passWithNoTests: any of: api/**/*.{ts,tsx}
  cd apiv2 && eslint --fix: any of: apiv2/**/*.{ts,tsx}
  cd apiv2 && vitest related --run --no-coverage --passWithNoTests: any of: apiv2/**/*.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
