Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: manual sync button error by adding required fields to GraphQL mutation
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: comprehensive code cleanup and type alignment
  backend/src/__tests__/env.d.ts
  backend/src/__tests__/integration/auth-sync-flow.test.ts
  backend/src/__tests__/unit/middleware/logging.test.ts
  backend/src/middleware/logging.ts
  backend/src/services/email.ts
  frontend/src/components/MultiVoicePlayer.tsx
  frontend/src/components/MultiVoiceSheetMusicDisplay.tsx
  frontend/src/config/endpoints.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/apollo/client.ts
  frontend/src/modules/analytics/LogbookReportingModule.ts
  frontend/src/modules/analytics/ProgressAnalyticsModule.ts
  frontend/src/modules/core/EventBus.ts
  frontend/src/modules/infrastructure/StorageModule.ts
  frontend/src/modules/infrastructure/SyncModule.ts
  frontend/src/modules/logger/PracticeLoggerModule.ts
  frontend/src/modules/sheetMusic/multiVoiceConverters.ts
  frontend/src/modules/visualization/VisualizationModule.ts
  frontend/src/pages/Logbook.tsx
  frontend/src/utils/multiVoiceNotationRenderer.ts
  frontend/src/utils/secureStorage.ts
  shared/types/index.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve type alignment issues causing sync failures
  docs/TYPE_ALIGNMENT_AUDIT.md
  frontend/FLAKY_TESTS.md
  frontend/src/components/UserStatusIndicator.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/__tests__/AuthContext.sync.test.tsx
  frontend/src/modules/sheetMusic/generators/__tests__/SightReadingGenerator.test.ts
  frontend/src/utils/__tests__/graphqlHelpers.test.ts
  frontend/src/utils/graphqlHelpers.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve auth redirect race condition and sync failures
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/Logbook.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve critical audio playback and security issues
  backend/package.json
  docs/CRITICAL_FIXES_PLAN.md
  docs/archive/TYPE_ALIGNMENT_AUDIT.md
  frontend/src/pages/Docs.tsx
  frontend/src/utils/markdownRenderer.ts
  frontend/src/utils/multiVoiceAudioManager.test.ts
  frontend/src/utils/multiVoiceAudioManager.ts
  package-lock.json
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: move dompurify to frontend dependencies where it belongs
  backend/package.json
  docs/archive/TYPE_ALIGNMENT_AUDIT.md
  frontend/package.json
  package-lock.json
Due: prettier --write

docs: update DESIGN.md to reflect current architecture
  docs/DESIGN.md
  frontend/src/components/LandingPage.test.tsx
  frontend/src/contexts/AuthContext.test.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

refactor: phase out practice page, focus on logbook MVP
  frontend/src/App.tsx
  frontend/src/components/LandingPage.tsx
  frontend/src/components/PracticeHeader.tsx
  frontend/src/contexts/AuthContext.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

Potential fix for code scanning alert no. 41: Insecure randomness
  frontend/src/contexts/ImprovedAuthContext.tsx
  frontend/src/services/localStorage.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

Potential fix for code scanning alert no. 35: Shell command built from environment values
  backend/build.js
Due: prettier --write

Potential fix for code scanning alert no. 40: Shell command built from environment values
  backend/build-with-lock.js
Due: prettier --write

fix: remove unused nanoid import from ImprovedAuthContext
  frontend/src/contexts/ImprovedAuthContext.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve frontend test failures in ImprovedAuthContext
  .github/workflows/backend-build-validation.yml
  CLAUDE.md
  backend/build-fixed.js
  backend/build-with-lock.js
  backend/build.js
  backend/jest.config.mjs
  backend/package.json
  backend/scripts/dev-server.js
  backend/src/__tests__/integration/auth-sync-flow.test.ts
  backend/src/resolvers/auth.ts
  backend/src/resolvers/logbook.ts
  backend/src/resolvers/sync.ts
  backend/src/resolvers/user.ts
  backend/src/schema/index.ts
  backend/src/schema/schema-content.js
  backend/src/schema/schema.graphql
  backend/src/test-utils/db.ts
  backend/worker-configuration.d.ts
  backend/wrangler.toml
  docs/BACKEND_BUILD.md
  docs/DEBUG.md
  frontend/src/contexts/ImprovedAuthContext.test.tsx
  frontend/src/generated/graphql.ts
  frontend/src/generated/introspection.json
  package-lock.json
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: update root package.json build script for Cloudflare deployment
  docs/BACKEND_BUILD.md
  package.json
Due: prettier --write

fix: remove non-existent build:dev script from GitHub workflow
  .github/workflows/backend-build-validation.yml
Due: none

fix: update deploy commands to use correct directory context
  .github/workflows/backend-build-validation.yml
  docs/BACKEND_BUILD.md
Due: prettier --write

fix: ensure build and deploy commands both run in backend directory
  docs/BACKEND_BUILD.md
Due: prettier --write

fix: revert to using /backend/ as root directory in Cloudflare
  docs/BACKEND_BUILD.md
Due: prettier --write

fix: resolve build system issues and TypeScript path problems
  backend/package.json
  backend/scripts/build-schema.js
  backend/src/schema/index.ts
  backend/src/schema/schema-content.d.ts
  backend/src/schema/schema-content.js
  backend/wrangler.toml
  docs/BACKEND_BUILD.md
  package.json
  shared/types/index.d.ts.map
  shared/types/sync.d.ts.map
  shared/types/validation.d.ts.map
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: add comprehensive troubleshooting guide with build system fallacies
  CLAUDE.md
  docs/BACKEND_BUILD.md
Due: prettier --write

fix: update build validation workflow for correct TypeScript output path
  .github/workflows/backend-build-validation.yml
Due: none

feat: add debug utility for staging environment endpoint verification
  frontend/src/main.tsx
  frontend/src/utils/debug-endpoints.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

refactor: remove staging environment configuration
  backend/worker-configuration.d.ts
  backend/wrangler.toml
  config/environments.json
  frontend/src/utils/debug-endpoints.ts
  frontend/wrangler.toml
  shared/config/environment.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: correct table name from practice_goals to goals in sync resolver
  backend/src/resolvers/sync.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: implement complete bidirectional sync and fix login button persistence
  backend/src/__tests__/integration/sync-orchestrator-flow.test.ts
  backend/src/resolvers/practice.ts
  backend/src/schema/schema-content.js
  backend/src/schema/schema.graphql
  backend/src/test-utils/db.ts
  docs/DESIGN.md
  frontend/debug-localStorage.js
  frontend/src/components/LandingPage.tsx
  frontend/src/components/UserStatusIndicator.test.tsx
  frontend/src/components/UserStatusIndicator.tsx
  frontend/src/contexts/ImprovedAuthContext.test.tsx
  frontend/src/contexts/ImprovedAuthContext.tsx
  frontend/src/generated/graphql.ts
  frontend/src/generated/introspection.json
  frontend/src/modules/logger/PracticeLoggerModule.ts
  frontend/src/pages/Logbook.tsx
  frontend/src/tests/utils/test-utils.tsx
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: restore bidirectional sync and fix test failures
  backend/migrations/0009_add_device_tracking.sql
  backend/scripts/build-schema.js
  backend/src/__tests__/integration/auth-sync-flow.test.ts
  backend/src/resolvers/sync.ts
  backend/src/schema/index.ts
  backend/src/schema/schema-content.ts
  backend/src/schema/schema.graphql
  backend/src/test-utils/db.ts
  docs/SYNC_TEST_PAYLOADS.md
  frontend/src/contexts/ImprovedAuthContext.test.tsx
  frontend/src/contexts/ImprovedAuthContext.tsx
  frontend/src/generated/graphql.ts
  frontend/src/generated/introspection.json
  frontend/src/pages/Logbook.tsx
  frontend/src/services/sync/BidirectionalSync.ts
  frontend/src/services/sync/DuplicateDetector.ts
  frontend/src/services/sync/__tests__/BidirectionalSync.test.ts
  frontend/src/services/sync/__tests__/DuplicateDetector.test.ts
  frontend/src/services/sync/index.ts
  frontend/src/services/sync/legacy/ConflictResolver.ts
  frontend/src/services/sync/legacy/LocalSyncService.ts
  frontend/src/services/sync/legacy/RemoteSyncService.ts
  frontend/src/services/sync/legacy/SyncManager.ts
  frontend/src/services/sync/legacy/SyncOrchestrator.test.ts
  frontend/src/services/sync/legacy/SyncOrchestrator.ts
  frontend/src/services/sync/legacy/SyncQueue.ts
  frontend/src/services/sync/types.ts
  frontend/src/utils/deviceId.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: generate ES modules for Cloudflare deployment, CommonJS for tests
  backend/package.json
  backend/scripts/build-schema.js
Due: prettier --write

test: migrate backend from Jest to Vitest for ES module compatibility
  .lintstagedrc.json
  backend/jest.config.mjs
  backend/package.json
  backend/scripts/build-schema.js
  backend/scripts/verify-build.js
  backend/src/__tests__/integration/auth-sync-flow.test.ts
  backend/src/__tests__/integration/auth.test.ts
  backend/src/__tests__/integration/sync-orchestrator-flow.test.ts
  backend/src/__tests__/unit/config/cors.test.ts
  backend/src/__tests__/unit/index.test.ts
  backend/src/__tests__/unit/middleware/logging.test.ts
  backend/src/__tests__/unit/resolvers/logbook.test.ts
  backend/src/__tests__/unit/resolvers/practice.test.ts
  backend/src/__tests__/unit/services/auth.test.ts
  backend/src/__tests__/unit/utils/rateLimiter.test.ts
  backend/src/schema/schema-content.js
  backend/src/test-utils/setup.ts
  backend/src/test-utils/vitest-setup.ts
  backend/tsconfig.json
  backend/vitest.config.ts
  package-lock.json
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve test failures and linting errors
  backend/src/__tests__/unit/services/auth.test.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve backend sync and build errors
  backend/src/resolvers/auth.ts
  backend/src/resolvers/sync.ts
  backend/src/types/generated/graphql.ts
  frontend/src/services/sync/BidirectionalSync.ts
  frontend/src/services/sync/legacy/RemoteSyncService.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: clean __typename fields from sync anonymous data mutation
  frontend/src/contexts/ImprovedAuthContext.tsx
  frontend/src/services/sync/legacy/RemoteSyncService.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: consolidate and organize documentation
  docs/CRITICAL_FIXES_PLAN.md
  docs/DEBUG.md
  docs/DESIGN.md
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
  docs/archive/BACKEND_BUILD.md
  docs/archive/BUILD_DOC.md
  docs/archive/FLAKY_TESTS.md
  docs/archive/FRONTEND_TESTING_GUIDE.md
  docs/archive/GRAPHQL_MIGRATION.md
  docs/archive/IMPROVEMENT_PLAN.md
  docs/archive/TEST_QUALITY_REPORT-2025-06.md
  docs/archive/UAT-TESTING.md
  docs/testing/SYNC_TEST_PAYLOADS.md
Due: prettier --write

test: improve test coverage for sync, auth, and storage modules
  backend/src/resolvers/__tests__/sync.test.ts
  backend/src/resolvers/__tests__/user.test.ts
  backend/src/services/__tests__/email.test.ts
  backend/src/test-utils/vitest-setup.ts
  backend/src/testUtils/mockContext.ts
  frontend/src/components/SyncInitializer.test.tsx
  frontend/src/hooks/useSync.test.ts
  frontend/src/modules/core/eventDrivenStorage.test.ts
  frontend/src/services/sync/__tests__/sync.integration.test.ts
  frontend/src/services/sync/legacy/SyncOrchestrator.test.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve crypto polyfill issue in backend tests and fix import paths
  backend/src/__tests__/unit/resolvers/practice.test.ts
  backend/src/__tests__/unit/services/user.test.ts
  backend/src/test-utils/setup-crypto.ts
  backend/src/test-utils/vitest-setup.ts
  backend/vitest.config.ts
  frontend/src/components/SyncInitializer.test.tsx
  frontend/src/hooks/useSync.test.ts
  frontend/src/modules/core/eventDrivenStorage.test.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve test failures and mismatches between implementation and tests
  backend/src/resolvers/__tests__/sync.test.ts
  backend/src/resolvers/__tests__/user.test.ts
  backend/src/services/__tests__/email.test.ts
  backend/src/test-utils/graphql.ts
  backend/src/test-utils/setup-crypto.ts
  backend/src/test-utils/vitest-setup.ts
  backend/src/testUtils/mockContext.ts
  backend/vitest.config.ts
  frontend/src/components/SyncInitializer.test.tsx
  frontend/src/contexts/AudioContext.test.tsx
  frontend/src/hooks/useSync.test.ts
  frontend/src/modules/core/eventDrivenStorage.test.ts
  frontend/src/services/sync/__tests__/sync.integration.test.ts
  package.json
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

test: fix remaining test issues and improve test stability
  backend/src/resolvers/__tests__/user.test.ts
  backend/vitest.config.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: add scores microservice for sheet music management
  scores/IMPLEMENTATION_STATUS.md
  scores/QUICK_START.md
  scores/README.md
  scores/docs/ENDPOINTS_SUMMARY.md
  scores/docs/api-documentation.md
  scores/docs/cloudflare-native-features.md
  scores/docs/frontend-integration.md
  scores/migrations/0001_initial_schema.sql
  scores/migrations/0002_initial_data.sql
  scores/package-lock.json
  scores/package.json
  scores/src/api/handlers/collections.ts
  scores/src/api/handlers/docs.ts
  scores/src/api/handlers/health.ts
  scores/src/api/handlers/import-enhanced.ts
  scores/src/api/handlers/import.ts
  scores/src/api/handlers/render.ts
  scores/src/api/handlers/scores.ts
  scores/src/api/handlers/search.ts
  scores/src/api/middleware.ts
  scores/src/api/openapi.ts
  scores/src/api/routes.ts
  scores/src/index.ts
  scores/src/queue-consumer.ts
  scores/src/services/browser-rendering.ts
  scores/src/test/api.test.ts
  scores/src/types/api.ts
  scores/src/types/score.ts
  scores/src/utils/database.ts
  scores/tsconfig.json
  scores/worker-configuration.d.ts
  scores/wrangler-enhanced.toml
  scores/wrangler.toml
Due: prettier --write

chore: update wrangler.toml with real database IDs for staging and production
  scores/wrangler.toml
Due: none

fix: add KV namespace IDs and create R2 buckets for scores service
  scores/wrangler.toml
Due: none

Path conditions:
  cd backend && eslint --fix: any of: backend/**/*.{ts,tsx}
  cd backend && jest --bail --findRelatedTests --passWithNoTests: any of: backend/**/*.{ts,tsx}
  cd frontend && eslint --fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && jest --bail --findRelatedTests --passWithNoTests: any of: frontend/**/*.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
