Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Resolve ESLint errors in focused UI implementation
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
  frontendv2/src/components/repertoire/RepertoireCalendarView.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/services/patternMetronomeService.ts
  frontendv2/src/tests/unit/pages/Logbook.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: use the Goal type directly from the goals api instead of redefining
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
  frontendv2/src/components/repertoire/RepertoireCalendarView.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Resolve auth store getState errors during login
  frontendv2/src/stores/authStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: Update user avatar to use Morandi sage color and show only first initial
  frontendv2/src/components/layout/TopBar.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: Fix E2E tests after renaming Repertoire to Pieces
  frontendv2/tests/e2e/enhanced-reports-complete.test.ts
  frontendv2/tests/e2e/enhanced-reports.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: Add collapsible sidebar with toggle arrow
  frontendv2/src/components/layout/AppLayout.tsx
  frontendv2/src/components/layout/Sidebar.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Timer duration, + button, and search functionality
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/layout/AppLayout.tsx
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
  frontendv2/src/pages/Logbook.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(ui): complete UI polish and mobile improvements
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/layout/UnifiedHeader.tsx
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
  frontendv2/src/components/repertoire/AddToRepertoireModal.tsx
  frontendv2/src/components/repertoire/AddToRepertoirePrompt.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/components/ui/Modal.tsx
  frontendv2/src/components/ui/Select.tsx
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/pages/Home.tsx
  frontendv2/src/pages/Logbook.tsx
  frontendv2/src/pages/Scorebook.tsx
  frontendv2/src/pages/Toolbox.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(i18n): add missing repertoire translations
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-TW/repertoire.json
Due: prettier --write

fix(ui): auto-fill piece info when logging practice from piece detail
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(repertoire): cache custom piece metadata when adding to repertoire
  frontendv2/src/components/repertoire/AddToRepertoireModal.tsx
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/de/logbook.json
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/de/toolbox.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/es/logbook.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/es/toolbox.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/fr/logbook.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/fr/toolbox.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-CN/logbook.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-CN/toolbox.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/locales/zh-TW/logbook.json
  frontendv2/src/locales/zh-TW/repertoire.json
  frontendv2/src/locales/zh-TW/reports.json
  frontendv2/src/locales/zh-TW/toolbox.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: repertoire UI improvements and fixes
  frontendv2/src/components/repertoire/AddToRepertoireModal.tsx
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/components/ui/Modal.tsx
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-TW/repertoire.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add notes functionality to repertoire
  frontendv2/src/components/repertoire/AddToRepertoireModal.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: use correct translation key for total sessions in FocusedRepertoireItem
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused variable to resolve TypeScript build error
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: multiple repertoire/pieces UI and functionality issues
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/stores/repertoireStore.ts
  frontendv2/src/utils/cleanupDuplicateRepertoire.ts
  frontendv2/src/utils/scoreIdNormalizer.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove redundant practice statistics from logbook overview
  frontendv2/src/components/practice-reports/views/OverviewView.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/HeatmapCalendar.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: correct practice statistics calculation in pieces list
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update e2e tests to handle repertoire prompt and remove streak assertions
  frontendv2/tests/e2e/enhanced-reports.test.ts
  frontendv2/tests/e2e/pages/LogbookPage.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update toast message to 'pieces' and hide score list when adding custom piece
  frontendv2/src/components/repertoire/AddToRepertoireModal.tsx
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: pass scoreId when creating practice entries from piece detail page
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

refactor: simplify piece status and improve list view UI
  frontendv2/src/api/repertoire.ts
  frontendv2/src/components/repertoire/AddToRepertoireModal.tsx
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: display reference links in piece detail view
  frontendv2/src/components/repertoire/PieceDetailView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

refactor: remove 'Need Attention' and 'Last practiced' from repertoire views
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove reference to 'working' status in active pieces calculation
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: additional status - dropped - of pieces
  frontendv2/src/api/repertoire.ts
  frontendv2/src/components/repertoire/AddToRepertoireModal.tsx
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-TW/repertoire.json
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: correct dropped status implementation and remove unused statuses
  api/migrations/0010_add_dropped_status.sql
  api/src/api/handlers/repertoire.ts
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: correct migration to handle column count mismatch
  api/migrations/0010_add_dropped_status.sql
Due: none

fix: remove unnecessary last_practiced field from migration
  api/migrations/0010_add_dropped_status.sql
Due: none

fix: create migration to correct repertoire table structure
  api/migrations/0011_fix_repertoire_table_structure.sql
Due: none

fix: correct migration 0011 to handle integer timestamps properly
  api/migrations/0011_fix_repertoire_table_structure.sql
Due: none

chore: remove migration 0011 as it's no longer needed
  api/migrations/0011_fix_repertoire_table_structure.sql
Due: none

fix: remove non-functional chevron icon from pieces list
  frontendv2/src/components/practice-reports/PiecesStatistics.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove duplicate data-testid for heatmap calendar
  frontendv2/src/components/practice-reports/views/OverviewView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: increase timeout for heatmap calendar e2e test to handle lazy loading
  frontendv2/tests/e2e/enhanced-reports.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add more wait time for lazy-loaded components in e2e tests
  frontendv2/tests/e2e/enhanced-reports.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: skip failing enhanced reports e2e test temporarily
  frontendv2/tests/e2e/enhanced-reports.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update e2e tests for calendar heatmap and repertoire views
  frontendv2/tests/e2e/enhanced-reports-complete.test.ts
  frontendv2/tests/e2e/enhanced-reports.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: update wording from repertoire to pieces
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/en/repertoire.json
Due: prettier --write

Path conditions:
  cd backend && eslint --fix: any of: backend/**/*.{ts,tsx}
  cd backend && vitest related --run --no-coverage --passWithNoTests: any of: backend/**/*.{ts,tsx}
  cd frontend && eslint --fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && jest --bail --findRelatedTests --passWithNoTests: any of: frontend/**/*.{ts,tsx}
  cd frontendv2 && eslint --fix: any of: frontendv2/**/*.{ts,tsx}
  cd frontendv2 && vitest related --run --no-coverage --passWithNoTests: any of: frontendv2/**/*.{ts,tsx}
  cd api && eslint --fix: any of: api/**/*.{ts,tsx}
  cd api && vitest related --run --no-coverage --passWithNoTests: any of: api/**/*.{ts,tsx}
  cd apiv2 && eslint --fix: any of: apiv2/**/*.{ts,tsx}
  cd apiv2 && vitest related --run --no-coverage --passWithNoTests: any of: apiv2/**/*.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
