Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && vitest related --run --no-coverage --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontendv2/**/*.{ts,tsx}": [
    "cd frontendv2 && eslint --fix",
    "cd frontendv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "api/**/*.{ts,tsx}": [
    "cd api && eslint --fix",
    "cd api && vitest related --run --no-coverage --passWithNoTests"
  ],
  "apiv2/**/*.{ts,tsx}": [
    "cd apiv2 && eslint --fix",
    "cd apiv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

chore: fix translations, update docs, remove obsolete scripts
  README.md
  api/build.sh
  api/test-staging-sync.sh
  api/test-sync-local.sh
  docs/DEBUG.md
  docs/DESIGN.md
  docs/ROADMAP.md
  frontendv2/TEST_EDIT_FUNCTIONALITY.md
  frontendv2/scripts/translate-remaining-fixed.cjs
  frontendv2/scripts/translate-remaining.cjs
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/de/logbook.json
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/es/logbook.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/fr/logbook.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-CN/logbook.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/locales/zh-TW/logbook.json
  frontendv2/src/locales/zh-TW/reports.json
  test-sync.sh
Due: prettier --write

chore: update version from 1.6.0 to 1.7.0
  CLAUDE.md
  api/package.json
  dictionary/package.json
  docs/DESIGN.md
  docs/ROADMAP.md
  frontendv2/package.json
  package.json
  scores/package.json
  scores/src/test/api.test.ts
Due: prettier --write

refactor: restructure CLAUDE.md for better developer experience
  CHANGELOG.md
  CLAUDE.md
  frontendv2/docs/COMPONENT-LIBRARY.md
Due: prettier --write

chore: prettier reformat
  frontendv2/docs/COMPONENT-LIBRARY.md
Due: prettier --write

chore: remove obsolete localStorage data normalization
  frontendv2/src/App.tsx
  frontendv2/src/tests/unit/App.test.tsx
  frontendv2/src/utils/fixLocalStorageData.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: optimize e2e tests for better performance and reliability
  frontendv2/tests/e2e/enhanced-reports-complete.test.ts
  frontendv2/tests/e2e/enhanced-reports.test.ts
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/logbook.test.ts
  frontendv2/tests/e2e/pages/LogbookPage.ts
  frontendv2/tests/e2e/recent-entries.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve eslint errors in logbook-sync.test.ts
  frontendv2/tests/e2e/logbook-sync.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve e2e test failures from GitHub Actions
  frontendv2/tests/e2e/enhanced-reports.test.ts
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/recent-entries.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve eslint errors in enhanced-reports test
  frontendv2/tests/e2e/enhanced-reports.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve e2e test failures in enhanced-reports and recent-entries
  frontendv2/tests/e2e/enhanced-reports.test.ts
  frontendv2/tests/e2e/recent-entries.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: UI quick wins - alignment, text consistency, composer capitalization, remove triangle icon
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/PieceInput.integration.test.tsx
  frontendv2/src/components/PieceInput.tsx
  frontendv2/src/components/repertoire/AddToRepertoireModal.tsx
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
  frontendv2/src/components/ui/Autocomplete.tsx
  frontendv2/src/locales/en/reports.json
  frontendv2/src/utils/textFormatting.test.ts
  frontendv2/src/utils/textFormatting.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused imports and props after Play icon removal
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove onPlay prop usage in RepertoireView
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: add UI mockups for clock interface and tab consolidation
  frontendv2/frontendv2/docs/ui-mockups/clock-interface-improvement.md
  frontendv2/frontendv2/docs/ui-mockups/tab-consolidation.md
Due: prettier --write

feat: implement improved clock interface for time picker (#272)
  frontendv2/mockups/clock-interface.html
  frontendv2/mockups/index.html
  frontendv2/mockups/tab-consolidation.html
  frontendv2/src/components/ui/ClockTimePicker.stories.tsx
  frontendv2/src/components/ui/ClockTimePicker.test.tsx
  frontendv2/src/components/ui/ClockTimePicker.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: prevent hour hand movement when clicking minute numbers
  frontendv2/src/components/ui/ClockTimePicker.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve clock interface UX - separate hour/minute interactions (#272)
  frontendv2/src/components/ui/ClockTimePicker.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

Claude PR Assistant workflow
  .github/workflows/claude.yml
Due: none

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

fix: exclude Storybook files from production build
  frontendv2/tsconfig.app.json
Due: prettier --write

fix: simplify clock interface based on designer feedback
  frontendv2/src/components/ui/ClockTimePicker.test.tsx
  frontendv2/src/components/ui/ClockTimePicker.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: unify clock cursor to use pointer for all interactions (#272)
  frontendv2/src/components/ui/ClockTimePicker.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: remove obsoleted design doc
  frontendv2/frontendv2/docs/ui-mockups/clock-interface-improvement.md
  frontendv2/frontendv2/docs/ui-mockups/tab-consolidation.md
Due: prettier --write

fix: correct timezone handling for 'Practiced today' display
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve search and UI issues (#274, #278, #282)
  frontendv2/src/components/layout/AppLayout.tsx
  frontendv2/src/components/layout/BottomTabs.tsx
  frontendv2/src/components/layout/TopBar.tsx
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: persist custom techniques for future use in Logbook (#276)
  frontendv2/src/components/logbook/TechniqueSelector.tsx
  frontendv2/src/components/logbook/__tests__/TechniqueSelector.test.tsx
  frontendv2/src/hooks/__tests__/useCustomTechniques.test.ts
  frontendv2/src/hooks/useCustomTechniques.ts
  frontendv2/src/locales/en/logbook.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add translations for customTechniques in all languages
  frontendv2/src/locales/de/logbook.json
  frontendv2/src/locales/es/logbook.json
  frontendv2/src/locales/fr/logbook.json
  frontendv2/src/locales/zh-CN/logbook.json
  frontendv2/src/locales/zh-TW/logbook.json
Due: prettier --write

fix: normalize custom techniques to lowercase for consistency
  frontendv2/src/components/logbook/TechniqueSelector.tsx
  frontendv2/src/components/logbook/__tests__/TechniqueSelector.test.tsx
  frontendv2/src/hooks/__tests__/useCustomTechniques.test.ts
  frontendv2/src/hooks/useCustomTechniques.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add primary instrument preference and improve logbook UI (#271, #275, #283)
  api/src/utils/validation.ts
  frontendv2/src/api/user.ts
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/PieceInput.tsx
  frontendv2/src/components/logbook/InstrumentSelector.tsx
  frontendv2/src/components/practice-reports/components/EntryCard.tsx
  frontendv2/src/hooks/useUserPreferences.ts
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/en/logbook.json
  frontendv2/src/stores/authStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: complete translations for new instrument features
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/de/logbook.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/es/logbook.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/fr/logbook.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-CN/logbook.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/locales/zh-TW/logbook.json
Due: prettier --write

feat: replace emojis with Tabler Icons for unified minimal design
  frontendv2/package.json
  frontendv2/src/components/LogbookEntryList.tsx
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/logbook/InstrumentSelector.tsx
  frontendv2/src/components/practice-reports/visualizations/tables/GroupedDataTable.tsx
  pnpm-lock.yaml
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve Tabler Icons import errors
  frontendv2/src/components/logbook/InstrumentSelector.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused IconVinyl import to fix linter error
  frontendv2/src/components/logbook/InstrumentSelector.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve ManualEntryForm layout to prevent time input wrapping
  frontendv2/src/components/ManualEntryForm.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve mobile layout for ManualEntryForm
  frontendv2/src/components/ManualEntryForm.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add piece name editing functionality (#266)
  api/src/api/handlers/pieces.ts
  api/src/api/routes.ts
  frontendv2/src/api/logbook.ts
  frontendv2/src/components/practice-reports/EditPieceModal.tsx
  frontendv2/src/components/practice-reports/PiecesStatistics.tsx
  frontendv2/src/locales/en/reports.json
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/unit/components/EditPieceModal.test.tsx
  frontendv2/src/utils/toast.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve linter errors and complete i18n translations
  frontendv2/src/components/practice-reports/PiecesStatistics.tsx
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/unit/components/EditPieceModal.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add piece title/composer edit functionality to repertoire detail view
  frontendv2/src/components/repertoire/PieceDetailView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update repertoire view after editing piece name
  frontendv2/src/components/repertoire/PieceDetailView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: reload logbook entries after piece name update to show updated composer names
  frontendv2/src/components/repertoire/PieceDetailView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write
