Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest run --no-coverage, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && vitest run --no-coverage"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

fix(api): add comprehensive logging and tests for sync endpoints
  api/scripts/tail-staging-logs.sh
  api/scripts/test-sync-push.ts
  api/src/api/handlers/sync.integration.test.ts
  api/src/api/handlers/sync.test.ts
  api/src/api/handlers/sync.ts
  api/src/utils/database.test.ts
  api/src/utils/database.ts
  api/src/utils/utils.test.ts
  api/test-staging-sync.sh
  api/test-sync-local.sh
Due: prettier --write

chore: enable playwright
  frontendv2/package-lock.json
  frontendv2/package.json
  frontendv2/playwright.config.ts
  package-lock.json
  package.json
Due: prettier --write

fix(api): resolve TypeScript build errors
  api/build.sh
  api/package.json
  api/src/api/handlers/sync.integration.test.ts
  api/src/api/handlers/sync.test.ts
  api/src/utils/database.test.ts
  api/tsconfig.build.json
Due: prettier --write

feat(api): add migration scripts and test data setup
  api/scripts/generate-test-token.ts
  api/scripts/migrate-production.sh
  api/scripts/migrate-staging.sh
  api/scripts/setup-staging-test-data.sql
  api/scripts/test-sync-staging.sh
Due: prettier --write

fix(api): update migration scripts to store JSON arrays properly
  api/scripts/generate-test-token.ts
  api/scripts/migrate-production.sh
  api/scripts/migrate-staging.sh
  api/scripts/test-sync-staging.sh
Due: prettier --write

fix(frontendv2): handle localStorage entries with string arrays
  frontendv2/src/App.tsx
  frontendv2/src/utils/fixLocalStorageData.ts
Due: prettier --write

fix(api): convert duration from seconds to minutes in migration scripts
  api/scripts/migrate-production.sh
  api/scripts/migrate-staging.sh
Due: none

feat(frontendv2): update header to match v1 design with logout button
  frontendv2/index.html
  frontendv2/src/pages/Logbook.tsx
  frontendv2/tailwind.config.js
Due: prettier --write

fix(api): handle soft deletes properly in sync/push endpoint
  api/src/utils/database.ts
  frontendv2/src/api/logbook.ts
Due: prettier --write

feat: add comprehensive testing setup for API and frontendv2
  .github/workflows/test.yml
  .lintstagedrc.json
  api/src/api/middleware.ts
  api/src/utils/database.test.ts
  api/test-staging-sync.sh
  api/test-sync-local.sh
  api/tests/setup.ts
  api/vitest.config.ts
  frontendv2/src/components/LogbookEntryList.test.tsx
  frontendv2/src/stores/authStore.test.ts
  frontendv2/src/test/setup.ts
  frontendv2/src/utils/fixLocalStorageData.test.ts
  frontendv2/tests/e2e/auth.e2e.test.ts
  frontendv2/tests/e2e/logbook.e2e.test.ts
  frontendv2/vitest.config.ts
Due: prettier --write

feat: comprehensive testing infrastructure with Miniflare
  .github/workflows/ci.yml
  api/package-lock.json
  api/package.json
  api/src/api/handlers/sync.integration.test.ts
  api/src/api/handlers/sync.miniflare.test.ts
  api/src/api/handlers/sync.test.ts
  api/src/api/middleware.ts
  api/src/utils/database.test.ts
  api/src/utils/database.ts
  api/tests/setup.ts
  frontendv2/package.json
  frontendv2/src/components/LogbookEntryList.test.tsx
  frontendv2/src/components/LogbookReports.tsx
  frontendv2/src/stores/authStore.test.ts
  frontendv2/src/stores/authStore.ts
  frontendv2/src/test/setup.ts
  frontendv2/src/utils/fixLocalStorageData.ts
  frontendv2/src/utils/migrateLegacyData.ts
Due: prettier --write

fix: add explicit permissions to GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

fix(tests): resolve failing unit tests in frontendv2
  frontendv2/src/components/LogbookEntryList.test.tsx
  frontendv2/src/stores/authStore.test.ts
  frontendv2/src/stores/authStore.ts
  frontendv2/src/utils/fixLocalStorageData.ts
Due: prettier --write

fix(build): resolve TypeScript errors in frontendv2
  frontendv2/src/components/LogbookEntryList.test.tsx
  frontendv2/src/stores/authStore.test.ts
Due: prettier --write

fix(ci): resolve GitHub Actions failures
  backend/src/__tests__/unit/services/auth.test.ts
  backend/src/resolvers/__tests__/user.test.ts
  backend/src/test-utils/vitest-setup.ts
  package-lock.json
  package.json
Due: cd backend && eslint --fix, cd backend && vitest run --no-coverage, prettier --write

fix(build): resolve TypeScript and CI build failures
  .github/workflows/ci.yml
  api/src/api/handlers/sync.integration.test.ts
  api/src/api/handlers/sync.miniflare.test.ts
  api/src/utils/database.test.ts
  backend/src/test-utils/vitest-setup.ts
  frontendv2/eslint.config.js
Due: cd backend && eslint --fix, cd backend && vitest run --no-coverage, prettier --write

fix(ci): resolve remaining CI/CD pipeline errors
  .github/workflows/ci.yml
  api/package.json
  backend/tsconfig.json
  frontendv2/package.json
  frontendv2/tsconfig.app.json
Due: prettier --write

feat(tests): add comprehensive unit tests for frontendv2
  backend/src/resolvers/__tests__/user.test.ts
  frontendv2/src/tests/unit/api/auth.test.ts
  frontendv2/src/tests/unit/api/client.test.ts
  frontendv2/src/tests/unit/utils/transformLegacyEntry.test.ts
  frontendv2/src/utils/transformLegacyEntry.ts
  frontendv2/vitest.config.ts
Due: cd backend && eslint --fix, cd backend && vitest run --no-coverage, prettier --write

feat: add comprehensive unit tests for frontendv2 stores and improve CI/CD
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.json
  api/package.json
  frontendv2/package.json
  frontendv2/src/tests/unit/stores/authStore.test.ts
  frontendv2/src/tests/unit/stores/logbookStore.test.ts
  package.json
  scripts/validate-all.sh
Due: prettier --write

Potential fix for code scanning alert no. 60: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

fix: resolve all ESLint errors blocking PR merge
  backend/src/resolvers/__tests__/sync.test.ts
  backend/src/resolvers/__tests__/user.test.ts
  backend/src/services/__tests__/email.test.ts
  backend/src/testUtils/mockContext.ts
Due: cd backend && eslint --fix, cd backend && vitest run --no-coverage, prettier --write

fix: disable no-extra-semi rule to resolve prettier conflicts
  frontend/.eslintrc.cjs
Due: none

fix: add prettier to pre-commit and format all files
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/backend-build-validation.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/graphql-schema-check.yml
  .lintstagedrc.json
  .prettierignore
  .prettierrc.json
  api/.prettierrc
  backend/.eslintrc.cjs
  backend/codegen.yml
  backend/src/schema/schema.graphql
  backend/src/templates/email/magic-link.html
  commitlint.config.mjs
  frontend/.eslintrc.cjs
  frontend/index.html
  frontend/jest.config.mjs
  frontend/jest.integration.config.mjs
  frontend/jest.unit.config.mjs
  frontend/postcss.config.js
  frontend/scripts/download-piano-samples.js
  frontend/src/components/StaffDisplayOptions.tsx
  frontend/src/components/VoiceControl.tsx
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.js
  frontend/tsconfig.node.json
  shared/scripts/musicxml-converter/fixDurations.cjs
  tsconfig.json
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve API test failures and add missing workspaces
  .lintstagedrc.json
  api/package.json
  api/src/api/handlers/sync.integration.test.ts
  api/src/utils/database.test.ts
  api/src/utils/database.ts
  api/tests/setup.ts
  package-lock.json
  package.json
Due: prettier --write

fix: resolve all ESLint errors in API code
  api/src/api/handlers/sync.test.ts
  api/src/api/handlers/sync.ts
  api/src/api/handlers/user.ts
  api/src/api/middleware.ts
  api/src/index.ts
  api/src/services/email.ts
  api/src/utils/database.test.ts
  api/src/utils/database.ts
Due: prettier --write

fix: resolve ESLint errors in frontendv2 and API
  .github/workflows/ci.yml
  frontendv2/src/components/LogbookReports.tsx
  frontendv2/src/pages/AuthVerify.tsx
  frontendv2/src/stores/authStore.ts
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/unit/api/auth.test.ts
  frontendv2/src/tests/unit/api/client.test.ts
  frontendv2/src/utils/fixLocalStorageData.ts
  frontendv2/src/utils/migrateLegacyData.ts
  frontendv2/tests/e2e/logbook.test.ts
  frontendv2/tests/setup.ts
Due: prettier --write

fix(frontendv2): configure ESLint to allow underscore-prefixed unused variables
  frontendv2/eslint.config.js
Due: prettier --write

fix(api): remove unnecessary semicolon in sync.test.ts
  api/src/api/handlers/sync.test.ts
Due: prettier --write

fix(frontendv2): resolve TypeScript build errors
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/unit/api/client.test.ts
  frontendv2/src/tests/unit/stores/authStore.test.ts
  frontendv2/src/tests/unit/utils/transformLegacyEntry.test.ts
Due: prettier --write

fix(frontendv2): add eslint-disable comments for necessary any types
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/unit/utils/transformLegacyEntry.test.ts
Due: prettier --write

fix(frontendv2): exclude test files from production build
  frontendv2/src/tests/unit/utils/transformLegacyEntry.test.ts
  frontendv2/tsconfig.app.json
Due: prettier --write

feat: complete migration from frontend/backend to frontendv2/api
  .github/workflows/backend-build-validation.yml
  .github/workflows/ci.yml
  .github/workflows/graphql-schema-check.yml
  .husky/pre-commit
  CLAUDE.md
  README.md
  api/scripts/MIGRATION_README.md
  api/scripts/migrate-backend-to-sync-data.ts
  api/scripts/migrate-production.sh
  api/scripts/migrate-staging.sh
  api/scripts/test-migration.ts
  api/scripts/test-sync-push.ts
  api/wrangler.toml
  backend/backups/backup-20250624-231733.sql
  frontendv2/playwright.config.ts
  frontendv2/src/api/client.ts
  frontendv2/src/tests/unit/api/client.test.ts
  frontendv2/wrangler.toml
  package.json
  scores/package.json
Due: prettier --write

fix: regenerate package-lock.json for new workspace structure
  package-lock.json
Due: prettier --write

fix: resolve ESLint errors in scores workspace
  api/package.json
  frontendv2/package.json
  package-lock.json
  package.json
  scores/.eslintrc.json
  scores/package.json
  scores/src/api/handlers/health.ts
  scores/src/queue-consumer.ts
  scores/src/services/browser-rendering.ts
  scores/src/test/api.test.ts
  scores/src/types/api.ts
Due: prettier --write

fix: resolve ESLint dependency issues and console violations
  frontendv2/package.json
Due: prettier --write

fix: resolve all test failures and dependencies
  frontendv2/package-lock.json
  frontendv2/package.json
Due: prettier --write

fix: regenerate package-lock.json for Cloudflare build
  package-lock.json
Due: prettier --write

fix: format all files with prettier
  CLAUDE.md
  api/package.json
  api/src/api/handlers/debug.ts
  api/src/utils/utils.test.ts
  docs/DEBUG.md
  docs/DESIGN.md
  docs/archive/API_MIGRATION_PLAN.md
  docs/archive/BACKEND_BUILD.md
  docs/archive/BUILD_DOC.md
  docs/archive/CONSOLIDATION_SUMMARY.md
  docs/archive/CRITICAL_FIXES_PLAN.md
  docs/archive/DOCUMENTATION_UPDATES.md
  docs/archive/FRONTEND_TESTING_GUIDE.md
  docs/archive/IMPROVEMENT_PLAN.md
  docs/archive/LOGBOOK_IMPLEMENTATION_PLAN.md
  docs/archive/MODULES_IMPACT_ANALYSIS.md
  docs/archive/MUSICXML_ARCHITECTURE_ANALYSIS.md
  docs/archive/PHASE_4_REMAINING_TASKS.md
  docs/archive/ROADMAP.md
  docs/archive/SHARED_TYPES_REFACTOR.md
  docs/archive/TEST_QUALITY_REPORT-2025-06.md
  docs/archive/TYPE_ALIGNMENT_AUDIT.md
  docs/archive/UAT-TESTING.md
  docs/archive/VEXFLOW_TIMING_ANALYSIS.md
  docs/archive/code-quality-refactoring-plan.md
  docs/archive/type-alignment-refactoring-plan.md
  docs/scores/IMPLEMENTATION_STATUS.md
  docs/scores/api-documentation.md
  scores/src/api/middleware.ts
  scores/src/queue-consumer.ts
Due: prettier --write

fix: update Vitest and Rollup to resolve Linux build issues
  api/package.json
  frontendv2/package.json
  package-lock.json
  package.json
  scores/package.json
Due: prettier --write

fix: add missing images to frontendv2 and fix image path
  frontendv2/src/pages/Home.tsx
Due: prettier --write
