Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: batch UI improvements for better mobile experience and usability
  frontendv2/src/components/layout/AppLayout.tsx
  frontendv2/src/components/layout/BottomTabs.tsx
  frontendv2/src/components/repertoire/AddToRepertoireModal.tsx
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/repertoire/RepertoireCalendarView.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/components/ui/ClockTimePicker.tsx
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-TW/repertoire.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused navigate variable to resolve linter error
  frontendv2/src/components/layout/BottomTabs.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove practice session limit in repertoire calendar view
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: make time picker hint text more concise
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-TW/common.json
Due: prettier --write

fix(sync): resolve mobile sync race condition and implement auto-sync (#379)
  CLAUDE.md
  frontendv2/src/App.tsx
  frontendv2/src/components/PullToRefresh.tsx
  frontendv2/src/components/SyncIndicator.tsx
  frontendv2/src/components/layout/Sidebar.tsx
  frontendv2/src/hooks/index.ts
  frontendv2/src/hooks/useSyncTriggers.test.ts
  frontendv2/src/hooks/useSyncTriggers.ts
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/pages/Logbook.tsx
  frontendv2/src/stores/authStore.ts
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/unit/App.test.tsx
  frontendv2/src/tests/unit/stores/authStore.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(lint): resolve ESLint errors in sync implementation
  frontendv2/src/hooks/useSyncTriggers.test.ts
  frontendv2/src/hooks/useSyncTriggers.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(sync): resolve useLocation error by moving sync triggers inside Router
  frontendv2/src/App.tsx
  frontendv2/src/components/SyncProvider.tsx
  frontendv2/src/tests/unit/App.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update E2E test for proper entry ordering validation
  frontendv2/tests/e2e/logbook-sync.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: optimize sync frequency and remove annoying success toasts
  frontendv2/src/components/SyncProvider.tsx
  frontendv2/src/hooks/useSyncTriggers.ts
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update selectedPiece state after piece rename to prevent sessions disappearing (#383)
  frontendv2/src/components/practice-reports/PiecesStatistics.tsx
  frontendv2/src/tests/unit/components/practice-reports/PiecesStatistics.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve linter errors in authStore and PiecesStatistics test
  frontendv2/src/stores/authStore.ts
  frontendv2/src/tests/unit/components/practice-reports/PiecesStatistics.test.tsx
  frontendv2/src/tests/unit/stores/authStore.dataPreservation.test.ts
  frontendv2/src/tests/unit/stores/authStore.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript build errors in authStore
  frontendv2/src/stores/authStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve duplicate validation error when editing piece names
  frontendv2/src/components/practice-reports/EditPieceModal.tsx
  frontendv2/src/tests/unit/components/practice-reports/EditPieceModal.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: ensure piece name updates propagate to log entries correctly
  frontendv2/src/components/practice-reports/PiecesStatistics.tsx
  frontendv2/src/tests/unit/components/practice-reports/PiecesStatistics.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(sync): implement comprehensive duplicate prevention system (#379)
  api/migrations/0008_duplicate_prevention.sql
  api/src/api/handlers/sync.test.ts
  api/src/api/handlers/sync.ts
  api/src/tests/d1-type-error.test.ts
  api/src/utils/database.test.ts
  api/src/utils/database.ts
  api/src/utils/idempotency.ts
  docs/archive/SYNC_TYPES.md
  frontendv2/src/components/debug/SyncDebugPanel.tsx
  frontendv2/src/components/debug/index.ts
  frontendv2/src/hooks/useSyncTriggers.ts
  frontendv2/src/utils/contentSignature.ts
  frontendv2/src/utils/deviceId.ts
  frontendv2/src/utils/syncEventLogger.ts
  frontendv2/src/utils/syncEventQueue.ts
  frontendv2/src/utils/syncMutex.ts
  package.json
  pnpm-lock.yaml
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(lint): resolve all linter errors
  api/src/api/handlers/sync.ts
  frontendv2/src/hooks/useSyncTriggers.ts
  frontendv2/src/utils/deviceId.ts
  frontendv2/src/utils/syncEventLogger.ts
  frontendv2/src/utils/syncMutex.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(build): resolve all TypeScript build errors
  frontendv2/src/components/debug/SyncDebugPanel.tsx
  frontendv2/src/hooks/useSyncTriggers.ts
  frontendv2/src/utils/contentSignature.ts
  frontendv2/src/utils/deviceId.ts
  frontendv2/src/utils/syncEventQueue.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(api): add node: prefix to crypto import for Cloudflare Workers
  api/src/utils/idempotency.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: move sidebar menu above the main viewport
  frontendv2/src/components/layout/Sidebar.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(repertoire): ensure piece edits update properly in list view
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(auth): interpolate email in magic link success message
  frontendv2/src/components/auth/SignInModal.tsx
  frontendv2/src/components/ui/Input.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add explicit sync after piece update and improve SQL query for piece updates
  api/src/api/handlers/pieces.ts
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/stores/logbookStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: mobile footer user menu now shows dropdown instead of navigating
  frontendv2/src/components/layout/BottomTabs.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update scoreId in log entries when piece name changes
  api/src/api/handlers/pieces.ts
  frontendv2/src/components/repertoire/PieceDetailView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: handle null difficultyRating values in repertoire sync
  api/src/api/handlers/repertoire.ts
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: remove account id
  api/wrangler.toml
  dictionary/wrangler.toml
  frontendv2/wrangler.toml
  scores/wrangler.toml
  service-template/wrangler.toml
Due: none

feat: implement comprehensive typography unification system
  frontendv2/eslint-typography-rules.js
  frontendv2/eslint.config.js
  frontendv2/index.html
  frontendv2/src/components/LogbookEntryList.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/components/score/ScoreListItem.tsx
  frontendv2/src/components/ui/README.md
  frontendv2/src/components/ui/Typography.test.tsx
  frontendv2/src/components/ui/Typography.tsx
  frontendv2/src/components/ui/index.ts
  frontendv2/src/constants/design-system.ts
  frontendv2/src/constants/typography.ts
  frontendv2/src/pages/Scorebook.tsx
  frontendv2/src/utils/typography.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: update typography system documentation
  CLAUDE.md
  docs/DESIGN.md
Due: prettier --write

fix: apply serif typography to piece detail view
  frontendv2/src/components/repertoire/PieceDetailView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve piece detail navigation and remove redundant breadcrumb
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: enhance navigation state reset for piece detail view
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: force RepertoireView remount to reset piece selection state
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve memory leak and restore piece detail navigation
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: simplify repertoire navigation detection logic
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: implement comprehensive navigation reset for pieces sidebar link
  frontendv2/src/components/layout/Sidebar.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: refine navigation reset logic to only reset when navigating from piece detail
  frontendv2/src/components/layout/Sidebar.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

refactor: remove back to list breadcrumb button from piece detail view
  frontendv2/src/components/layout/Sidebar.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: replace generic font classes with typography system fonts
  frontendv2/src/components/TimerEntry.tsx
  frontendv2/src/components/dictionary/DictionaryTerm.tsx
  frontendv2/src/components/score/ScoreControls.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: prettier write
  frontendv2/src/components/ui/README.md
Due: prettier --write

fix: resolve scorebook TypeError by fixing Date deserialization in practiceStore
  frontendv2/src/stores/practiceStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

Path conditions:
  cd backend && eslint --fix: any of: backend/**/*.{ts,tsx}
  cd backend && vitest related --run --no-coverage --passWithNoTests: any of: backend/**/*.{ts,tsx}
  cd frontend && eslint --fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && jest --bail --findRelatedTests --passWithNoTests: any of: frontend/**/*.{ts,tsx}
  cd frontendv2 && eslint --fix: any of: frontendv2/**/*.{ts,tsx}
  cd frontendv2 && vitest related --run --no-coverage --passWithNoTests: any of: frontendv2/**/*.{ts,tsx}
  cd api && eslint --fix: any of: api/**/*.{ts,tsx}
  cd api && vitest related --run --no-coverage --passWithNoTests: any of: api/**/*.{ts,tsx}
  cd apiv2 && eslint --fix: any of: apiv2/**/*.{ts,tsx}
  cd apiv2 && vitest related --run --no-coverage --passWithNoTests: any of: apiv2/**/*.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
