Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: fix repertoire tab selector in duplicate prevention E2E test
  frontendv2/tests/e2e/duplicate-prevention.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: align backend piece normalization with frontend
  api/scripts/analyze-duplicate-pieces.ts
  api/src/api/handlers/pieces.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add deduplication to autocomplete search results
  frontendv2/src/hooks/__tests__/useAutocomplete.test.ts
  frontendv2/src/hooks/useAutocomplete.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: complete piece normalization for Data Table selector
  frontendv2/src/components/practice-reports/advanced/PeriodPresets.tsx
  frontendv2/src/components/practice-reports/advanced/__tests__/PeriodPresets.test.tsx
  frontendv2/src/hooks/__tests__/useAutocomplete.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: extend token expiration to prevent sync failures (#546)
  api/src/api/handlers/auth.ts
  api/src/utils/auth.ts
  frontendv2/src/stores/authStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: auto-flip DropdownMenu up/down to prevent clipping in last list item (fixes #553)
  frontendv2/src/components/ui/DropdownMenu.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: enhance DropdownMenu to prevent overlapping on iPad/tablets (#553)
  frontendv2/src/components/ui/DropdownMenu.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: normalize piece IDs with robust delimiter to handle dashes in titles (#552)
  api/scripts/analyze-duplicate-pieces.ts
  api/src/api/handlers/pieces.ts
  docs/DESIGN.md
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/utils/__tests__/scoreIdNormalizer.test.ts
  frontendv2/src/utils/scoreIdNormalizer.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused imports and functions to resolve linter errors
  api/src/api/handlers/pieces.ts
  frontendv2/src/utils/__tests__/scoreIdNormalizer.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: use smart delimiter selection to maintain backward compatibility
  api/scripts/analyze-duplicate-pieces.ts
  api/src/api/handlers/pieces.ts
  frontendv2/src/utils/__tests__/scoreIdNormalizer.test.ts
  frontendv2/src/utils/scoreIdNormalizer.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: update DESIGN.md with smart delimiter selection details
  docs/DESIGN.md
Due: prettier --write

feat: add Claude Code GitHub integration and debug/data-fix CLI tool
  .github/CLAUDE_CODE_GUIDE.md
  .github/CLAUDE_SETUP_CHECKLIST.md
  .github/CODEOWNERS
  .github/workflows/claude-code.yml
  .gitignore
  tools/debug-data-fix/DATABASE_MAPPINGS.md
  tools/debug-data-fix/README.md
  tools/debug-data-fix/package.json
  tools/debug-data-fix/src/commands/fix.ts
  tools/debug-data-fix/src/commands/investigate.ts
  tools/debug-data-fix/src/commands/rollback.ts
  tools/debug-data-fix/src/commands/validate.ts
  tools/debug-data-fix/src/detectors/duplicateDetector.ts
  tools/debug-data-fix/src/detectors/scoreIdDetector.ts
  tools/debug-data-fix/src/index.ts
  tools/debug-data-fix/src/services/apiService.ts
  tools/debug-data-fix/src/services/backupService.ts
  tools/debug-data-fix/src/services/d1Service.ts
  tools/debug-data-fix/src/types/index.ts
  tools/debug-data-fix/src/utils/config.ts
  tools/debug-data-fix/src/utils/logger.ts
  tools/debug-data-fix/src/utils/safety.ts
  tools/debug-data-fix/tsconfig.json
Due: prettier --write

fix: align Claude Code workflow with official documentation
  .github/workflows/claude-code.yml
Due: prettier --write

fix: enhance security for public repo GitHub workflow
  .github/CLAUDE_CODE_GUIDE.md
  .github/CLAUDE_SETUP_CHECKLIST.md
  .github/workflows/claude-code.yml
Due: prettier --write

fix: resolve SQL injection and command injection vulnerabilities in debug-data-fix tool
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/debug-data-fix/SECURITY_FIX.md
  tools/debug-data-fix/src/commands/investigate.ts
  tools/debug-data-fix/src/index.ts
  tools/debug-data-fix/src/services/d1Service.ts
  tools/debug-data-fix/test-security.js
Due: prettier --write

feat: enable secure PR creation for Claude with strict limitations
  .github/CLAUDE_CODE_GUIDE.md
  .github/workflows/claude-code.yml
Due: prettier --write

fix: implement comprehensive score ID normalization to prevent duplicates
  api/src/api/handlers/repertoire.ts
  api/src/api/handlers/sync.ts
  api/src/api/middleware/normalizeScoreId.ts
  api/src/utils/scoreIdNormalizer.test.ts
  api/src/utils/scoreIdNormalizer.ts
  scores/src/api/handlers/import.ts
  scores/src/api/handlers/importImages.ts
  scores/src/utils/scoreIdNormalizer.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: cleanup the type errors and code
  .gitignore
  api/src/api/handlers/pieces.ts
  api/src/api/handlers/repertoire.ts
  api/src/api/handlers/sync.ts
  scores/migrations/0018_add_normalized_id.sql
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(security): update inquirer to resolve tmp vulnerability CVE-2025-54798
  pnpm-lock.yaml
  tools/debug-data-fix/package.json
Due: prettier --write

feat: enable score ID normalization middleware for API routes
  api/src/api/middleware/normalizeScoreId.ts
  api/src/api/routes.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: correct localStorage iteration in score ID normalization migration
  D1_CLEANUP_GUIDE.md
  frontendv2/src/App.tsx
  frontendv2/src/stores/repertoireStore.ts
  frontendv2/src/utils/migrations/__tests__/scoreIdNormalization.test.ts
  frontendv2/src/utils/migrations/scoreIdNormalization.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve linter errors in score ID normalization migration
  frontendv2/src/utils/migrations/scoreIdNormalization.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: normalize empty composers to 'Unknown' for consistent score IDs
  api/src/utils/scoreIdNormalizer.test.ts
  api/src/utils/scoreIdNormalizer.ts
  frontendv2/src/utils/__tests__/scoreIdNormalizer.test.ts
  frontendv2/src/utils/migrations/__tests__/scoreIdNormalization.test.ts
  frontendv2/src/utils/migrations/scoreIdNormalization.ts
  frontendv2/src/utils/scoreIdNormalizer.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: comprehensive rewrite of DESIGN.md to reflect current architecture
  docs/DESIGN.md
Due: prettier --write

fix: normalize score IDs as Map keys to prevent duplicate repertoire pieces
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: critical data loss bug in WebSocket sync
  frontendv2/src/stores/logbookStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: properly address race condition causing data loss in WebSocket sync
  frontendv2/src/stores/logbookStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: only update lastSyncTime for data-carrying events
  frontendv2/src/services/webSocketSync.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add memory leak fixes for tests and force sync on auth
  docs/SYNC.md
  docs/SYNC_TODO.md
  frontendv2/playwright.config.ts
  frontendv2/src/stores/authStore.ts
  frontendv2/src/tests/setup.ts
  frontendv2/tests/e2e/duplicate-prevention.test.ts
  frontendv2/tests/e2e/enhanced-reports-complete.test.ts
  frontendv2/tests/e2e/enhanced-reports.test.ts
  frontendv2/tests/e2e/global-setup.ts
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/logbook.test.ts
  frontendv2/tests/e2e/pages/LogbookPage.ts
  frontendv2/tests/e2e/playwright.base.ts
  frontendv2/tests/e2e/recent-entries.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve test cleanup patterns across backend services
  api/src/api/handlers/sync.test.ts
  dictionary/src/__tests__/setup.ts
  scores/src/services/__tests__/cloudflareAiExtractor.test.ts
  scores/src/test/api.test.ts
  scores/src/test/setup.ts
  scores/vitest.config.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve linter and test script issues
  sync-worker/package.json
Due: prettier --write

fix: resolve ESLint-Prettier conflict in scores service
  scores/.eslintrc.json
Due: prettier --write

fix: resolve E2E test SecurityError caused by premature localStorage access
  frontendv2/tests/e2e/playwright.base.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(security): update Hono to 4.9.6 to address CVE-2025-58362
  api/package.json
  dictionary/package.json
  pnpm-lock.yaml
  scores/package.json
Due: prettier --write

chore: suppress CodeQL false positive warnings in test setup
  scores/src/test/setup.ts
Due: prettier --write

fix: resolve ESLint error for unused caught error variable
  frontendv2/tests/e2e/playwright.base.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: implement critical data loss prevention for repertoire sync
  frontendv2/src/stores/repertoireStore.ts
  sync-worker/src/schemas.ts
  sync-worker/src/syncCoordinator.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript build errors in repertoireStore
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript linter and build errors in repertoireStore
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: critical repertoire sync issues identified by code review
  docs/SYNC_TODO.md
  frontendv2/src/services/webSocketSync.ts
  frontendv2/src/stores/repertoireStore.ts
  sync-worker/src/schemas.ts
  sync-worker/src/syncCoordinator.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

Path conditions:
  cd backend && eslint --fix: any of: backend/**/*.{ts,tsx}
  cd backend && vitest related --run --no-coverage --passWithNoTests: any of: backend/**/*.{ts,tsx}
  cd frontend && eslint --fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && jest --bail --findRelatedTests --passWithNoTests: any of: frontend/**/*.{ts,tsx}
  cd frontendv2 && eslint --fix: any of: frontendv2/**/*.{ts,tsx}
  cd frontendv2 && vitest related --run --no-coverage --passWithNoTests: any of: frontendv2/**/*.{ts,tsx}
  cd api && eslint --fix: any of: api/**/*.{ts,tsx}
  cd api && vitest related --run --no-coverage --passWithNoTests: any of: api/**/*.{ts,tsx}
  cd dictionary && eslint --fix: any of: dictionary/**/*.{ts,tsx}
  cd dictionary && vitest related --run --no-coverage --passWithNoTests: any of: dictionary/**/*.{ts,tsx}
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,html,cjs,mjs,graphql}
