Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(i18n): complete dictionary i18n coverage and add missing type declarations
  frontendv2/src/components/dictionary/Dictionary.tsx
  frontendv2/src/i18n/i18n.d.ts
  frontendv2/src/locales/de/toolbox.json
  frontendv2/src/locales/en/toolbox.json
  frontendv2/src/locales/es/toolbox.json
  frontendv2/src/locales/fr/toolbox.json
  frontendv2/src/locales/zh-CN/toolbox.json
  frontendv2/src/locales/zh-TW/toolbox.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add user profile page with settings management
  frontendv2/src/App.tsx
  frontendv2/src/components/layout/Sidebar.tsx
  frontendv2/src/components/profile/AccountTab.tsx
  frontendv2/src/components/profile/DataTab.tsx
  frontendv2/src/components/profile/PreferencesTab.tsx
  frontendv2/src/components/profile/ProfileTab.tsx
  frontendv2/src/components/profile/index.ts
  frontendv2/src/hooks/useUserPreferences.ts
  frontendv2/src/locales/de/profile.json
  frontendv2/src/locales/en/profile.json
  frontendv2/src/locales/es/profile.json
  frontendv2/src/locales/fr/profile.json
  frontendv2/src/locales/zh-CN/profile.json
  frontendv2/src/locales/zh-TW/profile.json
  frontendv2/src/pages/Profile.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: use correct Select component API in PreferencesTab
  frontendv2/src/components/profile/PreferencesTab.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: consolidate profile links and add mobile profile access
  frontendv2/src/components/layout/BottomTabs.tsx
  frontendv2/src/components/layout/Sidebar.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: prioritize localStorage displayName over server data
  frontendv2/src/components/layout/BottomTabs.tsx
  frontendv2/src/components/layout/Sidebar.tsx
  frontendv2/src/components/profile/ProfileTab.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: bump version to v1.8.0-public-preview
  CHANGELOG.md
  api/package.json
  dictionary/package.json
  frontendv2/package.json
  package.json
  scores/package.json
  sync-worker/package.json
Due: prettier --write

docs: update CHANGELOG and README for v1.8.0-public-preview
  CHANGELOG.md
  README.md
Due: prettier --write

chore: fix remaining version references to v1.8.0
  scores/src/test/api.test.ts
  service-template/package.json
  version.json
Due: prettier --write

feat: add social media practice card sharing feature
  frontendv2/package.json
  frontendv2/src/components/layout/Sidebar.tsx
  frontendv2/src/components/share/ShareCardButton.tsx
  frontendv2/src/components/share/ShareCardModal.tsx
  frontendv2/src/components/share/ShareCardPreview.tsx
  frontendv2/src/components/share/index.ts
  frontendv2/src/hooks/useShareCard.ts
  frontendv2/src/i18n/config.ts
  frontendv2/src/locales/de/share.json
  frontendv2/src/locales/en/share.json
  frontendv2/src/locales/es/share.json
  frontendv2/src/locales/fr/share.json
  frontendv2/src/locales/zh-CN/share.json
  frontendv2/src/locales/zh-TW/share.json
  pnpm-lock.yaml
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused React import in ShareCardPreview
  frontendv2/src/components/share/ShareCardPreview.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve CSP issues with html-to-image library
  frontendv2/src/components/share/ShareCardModal.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add option to include practice notes in share card
  frontendv2/src/components/share/ShareCardModal.tsx
  frontendv2/src/components/share/ShareCardPreview.tsx
  frontendv2/src/hooks/useShareCard.ts
  frontendv2/src/locales/de/share.json
  frontendv2/src/locales/en/share.json
  frontendv2/src/locales/es/share.json
  frontendv2/src/locales/fr/share.json
  frontendv2/src/locales/zh-CN/share.json
  frontendv2/src/locales/zh-TW/share.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

perf(ci): optimize pipeline with smart change detection
  .github/workflows/ci.yml
Due: prettier --write

style: fix Prettier formatting in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

feat(scorebook): enhance UX with search, sort, and improved import flow
  frontendv2/src/components/score/ImportScoreModal.tsx
  frontendv2/src/components/score/ScoreGridItem.tsx
  frontendv2/src/pages/ScoreBrowser.tsx
  frontendv2/src/services/scoreService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs(scorebook): update spec for v1.8.0 with new features
  docs/specs/05-features/scorebook.md
Due: prettier --write

perf(scorebook): add batch API to eliminate N+1 query problem
  docs/specs/05-features/scorebook.md
  frontendv2/src/pages/ScoreBrowser.tsx
  frontendv2/src/services/scoreService.ts
  scores/src/api/handlers/userCollections.ts
  scores/src/api/routes.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(scorebook): add pagination UI and favorites system (v1.8.2)
  docs/specs/05-features/scorebook.md
  frontendv2/src/components/score/ScoreGridItem.tsx
  frontendv2/src/components/score/ScoreListItem.tsx
  frontendv2/src/pages/ScoreBrowser.tsx
  frontendv2/src/services/scoreService.ts
  scores/migrations/0019_create_favorites_table.sql
  scores/src/api/handlers/favorites.ts
  scores/src/api/routes.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs(scorebook): document beta flag and v1.8.2 features
  docs/specs/05-features/scorebook.md
Due: prettier --write

feat(scorebook): add thumbnail optimization for grid view (v1.8.3)
  docs/specs/05-features/scorebook.md
  frontendv2/src/components/score/ScoreGridItem.tsx
  frontendv2/src/services/scoreService.ts
  scores/src/api/handlers/admin.ts
  scores/src/api/handlers/pdf-renderer-v2.ts
  scores/src/api/routes.ts
  scores/src/queue/pdf-processor.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(scorebook): add batch operations for multi-select (v1.8.3)
  docs/specs/05-features/scorebook.md
  frontendv2/src/components/score/ScoreGridItem.tsx
  frontendv2/src/components/score/ScoreListItem.tsx
  frontendv2/src/components/score/SelectionToolbar.tsx
  frontendv2/src/pages/ScoreBrowser.tsx
  frontendv2/src/services/scoreService.ts
  scores/src/api/handlers/scores.ts
  scores/src/api/handlers/userCollections.ts
  scores/src/api/routes.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(scorebook): address code review feedback for v1.8.3
  docs/specs/05-features/scorebook.md
  frontendv2/src/components/score/SelectionToolbar.tsx
  scores/src/api/handlers/admin.ts
  scores/src/api/handlers/pdf-renderer-v2.ts
  scores/src/config/thumbnail.ts
  scores/src/queue/pdf-processor.ts
  scores/worker-configuration.d.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(share): add long card variant and weekly report sharing
  frontendv2/src/components/share/ShareCardModal.tsx
  frontendv2/src/components/share/ShareCardPreview.tsx
  frontendv2/src/components/share/WeeklyShareCardPreview.tsx
  frontendv2/src/components/share/index.ts
  frontendv2/src/hooks/useWeeklyShareCard.ts
  frontendv2/src/locales/de/share.json
  frontendv2/src/locales/en/share.json
  frontendv2/src/locales/es/share.json
  frontendv2/src/locales/fr/share.json
  frontendv2/src/locales/zh-CN/share.json
  frontendv2/src/locales/zh-TW/share.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(share): fix modal layout overflow and redesign weekly card
  frontendv2/src/components/share/ShareCardModal.tsx
  frontendv2/src/components/share/WeeklyShareCardPreview.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(share): improve modal layout and weekly card spacing
  frontendv2/src/components/share/ShareCardModal.tsx
  frontendv2/src/components/share/WeeklyShareCardPreview.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(share): redesign modal and add weekly card support
  frontendv2/src/components/share/ShareCardModal.tsx
  frontendv2/src/components/share/ShareCardPreview.tsx
  frontendv2/src/hooks/useShareCard.ts
  frontendv2/src/locales/de/share.json
  frontendv2/src/locales/en/share.json
  frontendv2/src/locales/es/share.json
  frontendv2/src/locales/fr/share.json
  frontendv2/src/locales/zh-CN/share.json
  frontendv2/src/locales/zh-TW/share.json
  frontendv2/src/utils/dateUtils.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(share): adjust card heights and restrict notes to day cards
  frontendv2/src/components/share/ShareCardModal.tsx
  frontendv2/src/components/share/ShareCardPreview.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: complete day card and week card features by fixing misalignments
  frontendv2/src/components/share/ShareCardModal.tsx
  frontendv2/src/components/share/ShareCardPreview.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: refine style
  frontendv2/src/components/share/ShareCardPreview.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: refine style of timestamp
  frontendv2/src/components/share/ShareCardPreview.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: clean up never used functions
  api/src/api/handlers/sync.ts
  api/src/utils/auth.ts
  api/src/utils/errors.ts
  dictionary/src/api/handlers/analytics.ts
  dictionary/src/api/handlers/batch.ts
  dictionary/src/api/handlers/terms.ts
  dictionary/src/api/routes/terms.ts
  dictionary/src/utils/id.ts
  frontendv2/src/components/LogbookEntryList.tsx
  frontendv2/src/components/UnifiedSearch.tsx
  frontendv2/src/components/layout/TopBar.tsx
  frontendv2/src/components/layout/UnifiedHeader.tsx
  frontendv2/src/components/practice-reports/PracticeOverview.tsx
  frontendv2/src/components/practice-reports/views/__tests__/DataTableView.test.tsx
  frontendv2/src/components/practice-reports/visualizations/tables/GroupedDataTable.tsx
  frontendv2/src/components/ui/SplitButton.tsx
  frontendv2/src/components/ui/index.ts
  frontendv2/src/tests/unit/components/LogbookEntryList.timeline.test.tsx
  scores/src/api/handlers/userCollections.ts
  scores/src/services/uploadService.ts
  scores/src/services/visibilityService.ts
  scores/src/utils/pdfValidation.ts
  scores/src/utils/rateLimiter.ts
  sync-worker/src/auth.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove skipFont to ensure day card use proper font
  frontendv2/src/components/share/ShareCardModal.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(scorebook): implement score collection management
  frontendv2/src/components/score/CollectionsManager.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(scorebook): improve PDF viewer stability with retry logic and fallbacks
  frontendv2/src/components/score/AdaptivePdfViewer.tsx
  frontendv2/src/services/scoreService.ts
  scores/src/api/handlers/pdf-renderer-v2.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(ui): fix missing import and align documents
  CLAUDE.md
  docs/DESIGN.md
  frontendv2/src/components/ui/EntryDetailPanel.tsx
  frontendv2/src/components/ui/index.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(ui): finalize consolidation of ui
  .github/workflows/ci.yml
  packages/ui/eslint.config.js
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(ui): furture clean up the consolidated ui
  frontendv2/src/components/logbook/LogbookSplitView.tsx
  frontendv2/src/components/practice-counter/CounterSetup.tsx
  frontendv2/src/components/practice-planning/PlanProgressRail.tsx
  frontendv2/src/components/practice-planning/PlanReminderCard.tsx
  frontendv2/src/components/practice-planning/PlanningAnalyticsPanel.tsx
  frontendv2/src/components/score/AddToCollectionModal.tsx
  frontendv2/src/components/score/CollectionBadges.tsx
  frontendv2/src/components/score/CollectionsManager.tsx
  frontendv2/src/components/score/ImportScoreModal.tsx
  frontendv2/src/components/score/ScoreControls.tsx
  frontendv2/src/components/score/ScoreGridItem.tsx
  frontendv2/src/components/score/ScoreListItem.tsx
  frontendv2/src/components/ui/CompactEntryRow.tsx
  frontendv2/src/components/ui/EntryDetailPanel.tsx
  frontendv2/src/components/ui/index.ts
  frontendv2/src/tests/unit/utils/cn.test.ts
  frontendv2/src/utils/cn.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(ui): remove unused packages
  frontendv2/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(ui): deep clean
  frontendv2/src/components/ui/index.ts
  frontendv2/src/pages/AuthVerify.tsx
  frontendv2/src/utils/dateUtils.ts
  packages/ui/package.json
  packages/ui/src/components/Button.test.tsx
  packages/ui/src/components/Checkbox.test.tsx
  packages/ui/src/components/Checkbox.tsx
  packages/ui/src/components/Input.test.tsx
  packages/ui/src/components/Modal.test.tsx
  packages/ui/src/components/RadioGroup.test.tsx
  packages/ui/src/components/RadioGroup.tsx
  packages/ui/src/components/Select.test.tsx
  packages/ui/src/index.ts
  packages/ui/src/tests/setup.ts
  packages/ui/src/utils/cn.test.ts
  packages/ui/src/utils/dateUtils.ts
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

Path conditions:
  cd backend && eslint --fix: any of: backend/**/*.{ts,tsx}
  cd backend && vitest related --run --no-coverage --passWithNoTests: any of: backend/**/*.{ts,tsx}
  cd frontend && eslint --fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && jest --bail --findRelatedTests --passWithNoTests: any of: frontend/**/*.{ts,tsx}
  cd frontendv2 && eslint --fix: any of: frontendv2/**/*.{ts,tsx}
  cd frontendv2 && vitest related --run --no-coverage --passWithNoTests: any of: frontendv2/**/*.{ts,tsx}
  cd api && eslint --fix: any of: api/**/*.{ts,tsx}
  cd api && vitest related --run --no-coverage --passWithNoTests: any of: api/**/*.{ts,tsx}
  cd dictionary && eslint --fix: any of: dictionary/**/*.{ts,tsx}
  cd dictionary && vitest related --run --no-coverage --passWithNoTests: any of: dictionary/**/*.{ts,tsx}
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,html,cjs,mjs,graphql}
