Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: add real database and KV namespace IDs, update gitignore
  .gitignore
  backend/wrangler.json
  config/environments.json
  frontend/wrangler.json
  package-lock.json
  package.json
Due: prettier --write

fix: add wrangler.json files for Cloudflare CI/CD deployment
  .gitignore
  backend/wrangler.json
  frontend/wrangler.json
Due: prettier --write

fix: add backend version tracking and make version display more transparent
  backend/build.js
  backend/package.json
  backend/scripts/update-version.js
  backend/src/index.ts
  backend/src/version.json
  frontend/src/components/VersionInfo.tsx
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

chore: add generated version files to gitignore
  .gitignore
  backend/src/version.json
Due: prettier --write

docs: add production debugging tools and workflows to CLAUDE.md
  CLAUDE.md
Due: prettier --write

docs: streamline CLAUDE.md for better AI agent focus
  CLAUDE.md
Due: prettier --write

test: add comprehensive test coverage for critical components
  CLAUDE.md
  backend/src/__tests__/unit/resolvers/practice.test.ts
  backend/src/__tests__/unit/resolvers/sheetMusic.test.ts
  docs/ROADMAP.md
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/pages/Practice.test.tsx
  frontend/src/utils/audioManager.test.ts
  frontend/src/utils/notationRenderer.test.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

test: improve test coverage for AuthContext, Practice page, and utility modules
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/pages/Practice.test.tsx
  frontend/src/utils/audioManager.test.ts
  frontend/src/utils/notationRenderer.test.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

test: fix failing tests and improve test coverage
  backend/src/__tests__/integration/auth.test.ts
  backend/src/index.ts
  backend/src/utils/auth.ts
  docs/ROADMAP.md
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/pages/Practice.test.tsx
  frontend/src/utils/audioManager.test.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: add comprehensive test coverage for critical components
  backend/src/__tests__/integration/auth.test.ts
  backend/src/test-utils/graphql.ts
  frontend/src/config/endpoints.ts
  frontend/src/config/env.ts
  frontend/src/tests/setup/unit.setup.ts
  frontend/src/utils/audioManager.test.ts
  frontend/tests/integration/Practice.integration.test.tsx
  frontend/tests/setup/integration.setup.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve TypeScript build errors for Cloudflare deployment
  backend/src/index.ts
  backend/src/test-utils/graphql.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

test: audit and categorize test quality across codebase
  TEST_QUALITY_REPORT.md
  backend/frontend/test-results-frontend.txt
  backend/src/__tests__/unit/resolvers/practice.test.ts
  backend/src/__tests__/unit/resolvers/sheetMusic.test.ts
  backend/test-results-frontend.txt
  frontend/src/utils/audioManager.test.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

test: remove untestable audioManager tests and update quality report
  TEST_QUALITY_REPORT.md
  docs/TEST_QUALITY_REPORT.md
  frontend/src/__mocks__/tone.ts
  frontend/src/utils/audioManager.test.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve CORS issues blocking sign-in on production
  backend/src/config/cors.ts
  backend/src/index.ts
  backend/wrangler.json
  frontend/wrangler.json
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve backend build errors for local development
  backend/src/index.ts
  backend/wrangler.json
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve infinite build loop in backend dev server
  backend/wrangler.json
Due: prettier --write

fix: properly resolve backend dev server infinite build loop
  backend/package.json
  backend/wrangler.json
  scripts/generate-wrangler-config.js
Due: prettier --write

fix: update backend wrangler.json with production configuration
  backend/wrangler.json
Due: prettier --write

refactor: implement environment-based wrangler.toml configuration
  .gitignore
  backend/.gitignore
  backend/package.json
  backend/wrangler.json
  backend/wrangler.toml
  docs/DEPLOYMENT.md
  frontend/package.json
  frontend/wrangler.json
  frontend/wrangler.toml
  package-lock.json
  scripts/generate-wrangler-config.js
Due: prettier --write

docs: consolidate DEVELOPMENT_SETUP.md and DEPLOYMENT.md into DEVELOPMENT.md
  CLAUDE.md
  README.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/DEVELOPMENT_SETUP.md
Due: prettier --write

fix: configure wrangler.toml for Cloudflare's automated deployment
  CLAUDE.md
  backend/package.json
  backend/wrangler.toml
  docs/DEVELOPMENT.md
  frontend/wrangler.toml
Due: prettier --write

fix: override routes for local environment to prevent inheritance
  backend/wrangler.toml
Due: none

chore: remove deprecated configuration scripts
  scripts/generate-env-files.js
  scripts/update-domains.js
Due: prettier --write

fix: remove wildcard patterns from custom domain routes
  backend/wrangler.toml
  frontend/wrangler.toml
Due: none

refactor: display single version info instead of separate frontend/backend
  .gitignore
  backend/build.js
  backend/scripts/update-version.js
  backend/src/index.ts
  frontend/src/components/VersionInfo.tsx
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update ROADMAP with recent infrastructure improvements and version tracking requirements
  docs/ROADMAP.md
Due: prettier --write

fix: resolve production CORS and enhance magic link debugging
  backend/src/config/cors.ts
  backend/src/resolvers/auth.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: generate correct magic link URLs for production environment
  backend/src/services/email.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update ROADMAP with authentication bug fixes
  docs/ROADMAP.md
Due: prettier --write

chore: add enhanced logging for magic link verification
  backend/src/resolvers/auth.ts
  backend/src/services/auth.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

chore: enable observability for production backend
  backend/wrangler.toml
Due: none

fix: resolve magic link authentication issues
  backend/frontend/test-results-frontend.txt
  backend/src/index.ts
  backend/src/resolvers/auth.ts
  backend/src/services/auth.ts
  backend/src/services/email.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/index.js
  frontend/src/lib/apollo/client.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: add audio permission prompt to resolve autoplay restrictions
  frontend/src/components/AudioPermissionPrompt.tsx
  frontend/src/components/index.ts
  frontend/src/pages/Practice.test.tsx
  frontend/src/pages/Practice.tsx
  frontend/src/utils/audioManager.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: properly handle audio initialization after login redirect
  frontend/src/components/AudioPermissionPrompt.tsx
  frontend/src/components/MusicPlayer.tsx
  frontend/src/components/index.ts
  frontend/src/pages/Practice.test.tsx
  frontend/src/pages/Practice.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update system design with modular architecture and roadmap phases
  docs/ROADMAP.md
  docs/SYSTEM_DESIGN.md
Due: prettier --write

docs: enhance system design and roadmap with comprehensive improvements
  docs/ROADMAP.md
  docs/SYSTEM_DESIGN.md
Due: prettier --write

feat: implement EventBus and Storage modules with comprehensive tests
  frontend/src/modules/core/EventBus.test.ts
  frontend/src/modules/core/EventBus.ts
  frontend/src/modules/core/index.ts
  frontend/src/modules/core/types.ts
  frontend/src/modules/infrastructure/StorageModule.test.ts
  frontend/src/modules/infrastructure/StorageModule.ts
  frontend/src/modules/infrastructure/index.ts
  frontend/src/modules/infrastructure/types.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement Sync module with comprehensive tests
  frontend/src/modules/infrastructure/SyncModule.test.ts
  frontend/src/modules/infrastructure/SyncModule.ts
  frontend/src/modules/infrastructure/index.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: complete Phase 2 core modules with EventBus, Storage, and Sync
  docs/ROADMAP.md
  frontend/src/modules/infrastructure/SyncModule.test.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement Practice and Performance modules
  frontend/src/modules/performance/PerformanceTrackingModule.test.ts
  frontend/src/modules/performance/PerformanceTrackingModule.ts
  frontend/src/modules/performance/index.ts
  frontend/src/modules/performance/types.ts
  frontend/src/modules/practice/PracticeSessionModule.test.ts
  frontend/src/modules/practice/PracticeSessionModule.ts
  frontend/src/modules/practice/index.ts
  frontend/src/modules/practice/types.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

Path conditions:
  cd backend && eslint --fix: any of: backend/**/*.{ts,tsx}
  cd backend && jest --bail --findRelatedTests --passWithNoTests: any of: backend/**/*.{ts,tsx}
  cd frontend && eslint --fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && jest --bail --findRelatedTests --passWithNoTests: any of: frontend/**/*.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
