Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && vitest related --run --no-coverage --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontendv2/**/*.{ts,tsx}": [
    "cd frontendv2 && eslint --fix",
    "cd frontendv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "api/**/*.{ts,tsx}": [
    "cd api && eslint --fix",
    "cd api && vitest related --run --no-coverage --passWithNoTests"
  ],
  "apiv2/**/*.{ts,tsx}": [
    "cd apiv2 && eslint --fix",
    "cd apiv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

chore: remove unused sample, test, and prototype files
  dictionary/test-cf-models.sh
  docs/ui-mockups/add-repertoire-mockup.html
  docs/ui-mockups/card-based-ui-mockup.html
  docs/ui-mockups/clean-ui-mockup.html
  docs/ui-mockups/focused-ui-mockup.html
  docs/ui-mockups/logbook-mockup.html
  docs/ui-mockups/repertoire-logs-mockup.html
  docs/ui-mockups/scorebook-mockup.html
  frontendv2/docs/duplicate-creation-fix-summary.html
  frontendv2/docs/test-duplicate-fix.html
  frontendv2/mockups/clock-interface.html
  frontendv2/mockups/index.html
  frontendv2/mockups/tab-consolidation.html
  scores/public/import-test.html
  scores/scripts/test-ai-import.sh
  scores/scripts/test-import-local.sh
  scores/scripts/test-import.sh
Due: none

fix: correct root note border color for minor keys in Circle of Fifths keyboard
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: simplify "Remove from pieces" text to "Remove" in repertoire
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-TW/repertoire.json
Due: prettier --write

fix: normalize piece/composer names and show top 5 in analytics
  frontendv2/src/components/practice-reports/views/AnalyticsView.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/DistributionPie.tsx
  frontendv2/src/hooks/useEnhancedAnalytics.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve timer accuracy issues on mobile devices when backgrounded
  frontendv2/src/components/TimerEntry.tsx
  frontendv2/src/locales/de/logbook.json
  frontendv2/src/locales/en/logbook.json
  frontendv2/src/locales/es/logbook.json
  frontendv2/src/locales/fr/logbook.json
  frontendv2/src/locales/zh-CN/logbook.json
  frontendv2/src/locales/zh-TW/logbook.json
  frontendv2/src/tests/unit/components/TimerEntry.test.tsx
  frontendv2/test-timer.html
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve login status not updating on navigation (#452)
  api/src/api/handlers/auth.ts
  api/src/utils/auth.ts
  frontendv2/src/App.tsx
  frontendv2/src/api/client.ts
  frontendv2/src/tests/unit/App.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add beta toggle to hide Scorebook feature by default
  frontendv2/src/App.tsx
  frontendv2/src/components/layout/AppLayout.tsx
  frontendv2/src/components/layout/Sidebar.tsx
  frontendv2/src/hooks/useBetaFeatures.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: enhanced practice timer with minimize, persistence, and reminders (#455)
  frontendv2/src/App.tsx
  frontendv2/src/components/TimerEntry.tsx
  frontendv2/src/components/layout/BottomTabs.tsx
  frontendv2/src/components/layout/Sidebar.tsx
  frontendv2/src/components/timer/TimerSettings.tsx
  frontendv2/src/components/timer/TimerWidget.tsx
  frontendv2/src/contexts/TimerContext.tsx
  frontendv2/src/hooks/useGlobalTimer.ts
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/de/logbook.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/en/logbook.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/es/logbook.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/fr/logbook.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-CN/logbook.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/locales/zh-TW/logbook.json
  frontendv2/src/pages/Logbook.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve linter errors in timer implementation
  frontendv2/src/components/timer/TimerWidget.tsx
  frontendv2/src/contexts/TimerContext.tsx
  frontendv2/src/contexts/TimerContextType.ts
  frontendv2/src/hooks/useGlobalTimer.ts
  frontendv2/src/hooks/useTimer.ts
  frontendv2/src/tests/unit/pages/Logbook.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: correct button text in Add to Repertoire modal
  frontendv2/src/components/repertoire/AddToRepertoirePrompt.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add year to date displays and fix button nesting warning
  frontendv2/src/components/LogbookEntryList.tsx
  frontendv2/src/components/practice-reports/components/RecentEntries.tsx
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/components/timer/TimerWidget.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update @eslint/plugin-kit to patch ReDoS vulnerability
  frontendv2/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: allow clearing time signature input field in metronome
  frontendv2/src/pages/Toolbox.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

refactor: simplify remove button text in PieceDetailView
  frontendv2/src/components/repertoire/PieceDetailView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add daily practice totals to logbook date separators
  frontendv2/src/components/practice-reports/components/RecentEntries.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add status change tracking to repertoire pieces (#464)
  api/src/api/handlers/repertoire.ts
  frontendv2/src/components/repertoire/EditNotesModal.tsx
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-TW/repertoire.json
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: update changelog
  CHANGELOG.md
Due: prettier --write

fix: prevent repertoire duplication on login/logout with status changes
  api/src/api/handlers/repertoire.ts
  frontendv2/src/stores/authStore.ts
  frontendv2/src/stores/repertoireStore.ts
  frontendv2/src/tests/unit/stores/authStore.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove auto-logging for metronome while keeping timer display
  frontendv2/src/pages/Toolbox.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add composer and piece title autocomplete to edit modals
  frontendv2/src/components/practice-reports/EditPieceModal.tsx
  frontendv2/src/components/repertoire/AddToRepertoireModal.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add composer name canonicalization system
  frontendv2/src/components/LogbookEntryList.tsx
  frontendv2/src/components/repertoire/AddToRepertoirePrompt.tsx
  frontendv2/src/shared/resources/README.md
  frontendv2/src/shared/resources/composerMappings.ts
  frontendv2/src/utils/composerCanonicalizer.test.ts
  frontendv2/src/utils/composerCanonicalizer.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: change let to const for cleanedName variable
  frontendv2/src/utils/composerCanonicalizer.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: apply composer canonicalization to autocomplete suggestions
  api/src/api/handlers/autocomplete.ts
  api/src/services/composerCanonicalizer.test.ts
  api/src/services/composerCanonicalizer.ts
  api/src/shared/resources/README.md
  api/src/shared/resources/composerMappings.ts
  frontendv2/src/components/PieceInput.tsx
  frontendv2/src/hooks/useAutocomplete.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update E2E test expectation for composer canonicalization
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: canonicalize composer names in piece autocomplete suggestions
  api/src/api/handlers/autocomplete.ts
  frontendv2/src/utils/offlineAutocomplete.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add database migration to fix composer name inconsistencies
  api/src/shared/resources/composerMappings.ts
  frontendv2/src/shared/resources/composerMappings.ts
  scores/migrations/0017_canonicalize_composers.sql
  scores/src/api/handlers/devSeed.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: improve metronome mobile UI layout and reduce visual clutter
  frontendv2/src/components/metronome/CollapsibleMetronome.tsx
  frontendv2/src/pages/Toolbox.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve circular dependency and improve mobile UI
  frontendv2/package.json
  frontendv2/src/components/practice-reports/advanced/PeriodPresets.tsx
  frontendv2/src/components/practice-reports/views/AnalyticsView.tsx
  frontendv2/src/components/practice-reports/views/DataTableView.tsx
  frontendv2/src/components/practice-reports/views/DataView.tsx
  frontendv2/src/components/practice-reports/views/__tests__/DataTableView.test.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/PracticeTrendChart.tsx
  frontendv2/src/components/ui/Card.tsx
  frontendv2/src/components/ui/SegmentedControl.tsx
  frontendv2/src/hooks/useEnhancedAnalytics.ts
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
  frontendv2/src/services/localEventBus.ts
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/stores/repertoireStore.ts
  frontendv2/vitest.config.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript errors and complete i18n translations
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
  frontendv2/src/services/localEventBus.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve linter errors by replacing any with union type
  frontendv2/src/services/localEventBus.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript error in localEventBus emit method
  frontendv2/src/services/localEventBus.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve e2e test failures for export functionality
  frontendv2/src/components/practice-reports/views/DataTableView.tsx
  frontendv2/tests/e2e/enhanced-reports-complete.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: prevent export button overlap on mobile devices
  frontendv2/src/components/practice-reports/views/DataTableView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: make TimelineNav responsive to prevent mobile overflow
  frontendv2/src/components/ui/TimelineNav.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update e2e test to match actual PeriodPresets component structure
  frontendv2/tests/e2e/enhanced-reports-complete.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update e2e test to match actual 'Quick Time Periods' text
  frontendv2/tests/e2e/enhanced-reports-complete.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add visual beat highlighting to metronome pattern blocks
  frontendv2/src/components/metronome/CollapsibleMetronome.tsx
  frontendv2/src/pages/Toolbox.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove colored status bars from repertoire list items
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve mobile layout by removing Sessions block from summary stats
  frontendv2/src/components/practice-reports/SummaryStats.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused getSessionCount function to satisfy linter
  frontendv2/src/components/practice-reports/SummaryStats.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write
