Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && vitest related --run --no-coverage --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontendv2/**/*.{ts,tsx}": [
    "cd frontendv2 && eslint --fix",
    "cd frontendv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "api/**/*.{ts,tsx}": [
    "cd api && eslint --fix",
    "cd api && vitest related --run --no-coverage --passWithNoTests"
  ],
  "apiv2/**/*.{ts,tsx}": [
    "cd apiv2 && eslint --fix",
    "cd apiv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

fix: prevent infinite retry loop in PDF viewer
  frontendv2/src/components/score/AdaptivePdfViewer.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: remove unused PdfJsViewer and PdfRenderingService components
  docs/SCOREBOOK_ENDPOINTS.md
  frontendv2/src/App.tsx
  frontendv2/src/components/score/PdfJsViewer.tsx
  frontendv2/src/contexts/PdfRenderingContext.tsx
  frontendv2/src/hooks/usePdfRenderingService.ts
  frontendv2/src/services/pdfRenderingService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve infinite PDF loading loop by memoizing URL
  docs/DEBUG-pdf-loading-issue.md
  frontendv2/src/components/score/AdaptivePdfViewer.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: prevent infinite PDF loading loop by skipping async operations when forcePdfViewer is true
  docs/DEBUG-PDF_FIX_SUMMARY.md
  frontendv2/src/components/score/AdaptivePdfViewer.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: memoize Document options to prevent infinite PDF reloading
  frontendv2/src/components/score/PdfViewer.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: prevent infinite loop in ImageScoreViewer
  frontendv2/src/components/score/ImageScoreViewer.tsx
  frontendv2/src/components/score/ScoreViewer.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: add React infinite loop debugging guide to DEBUG.md
  docs/DEBUG.md
Due: prettier --write

chore: fix linter error
  frontendv2/src/components/score/ImageScoreViewer.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: implement enhanced collections system with role-based access
  api/migrations/0005_add_user_roles.sql
  docs/ROADMAP.md
  scores/migrations/0014_update_collections_schema.sql
  scores/migrations/0015_create_default_collections.sql
  scores/src/api/handlers/featuredCollections.ts
  scores/src/api/handlers/import.ts
  scores/src/api/handlers/sharedCollections.ts
  scores/src/api/handlers/userCollections.ts
  scores/src/api/routes.ts
  scores/src/services/visibilityService.ts
  scores/src/types/collections.ts
  scores/src/utils/auth-enhanced.ts
Due: prettier --write

docs: update documentation for enhanced collections system
  COLLECTIONS_DESIGN.md
  docs/SCOREBOOK.md
  docs/SCOREBOOK_UNIFIED_PLAN.md
  scores/src/api/handlers/featuredCollections.ts
Due: prettier --write

feat: implement collections management UI
  frontendv2/src/api/auth.ts
  frontendv2/src/components/score/AddToCollectionModal.tsx
  frontendv2/src/components/score/CollectionBadges.tsx
  frontendv2/src/components/score/CollectionsManager.tsx
  frontendv2/src/components/score/ScoreManagement.tsx
  frontendv2/src/components/ui/Tag.tsx
  frontendv2/src/services/scoreService.ts
  frontendv2/src/stores/scoreStore.ts
  frontendv2/src/types/collections.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript build errors for collections UI
  frontendv2/src/components/score/CollectionsManager.tsx
  frontendv2/src/components/score/ScoreManagement.tsx
  frontendv2/src/pages/ScoreBrowser.tsx
  frontendv2/src/services/scoreService.ts
  frontendv2/src/stores/scoreStore.ts
  frontendv2/src/types/collections.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add missing localization strings for magic link
  frontendv2/src/locales/de/auth.json
  frontendv2/src/locales/en/auth.json
  frontendv2/src/locales/es/auth.json
  frontendv2/src/locales/fr/auth.json
  frontendv2/src/locales/zh-CN/auth.json
Due: prettier --write

feat: add "add to collection" functionality to score browser
  frontendv2/src/locales/en/scorebook.json
  frontendv2/src/locales/es/scorebook.json
  frontendv2/src/pages/ScoreBrowser.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove invalid users table reference from scores migration
  scores/migrations/0015_create_default_collections.sql
Due: none

fix: add logging to troubleshoot collections API 404 error
  scores/src/api/handlers/userCollections.ts
Due: prettier --write

fix: resolve collections API issues and add default collection creation
  frontendv2/src/components/score/AddToCollectionModal.tsx
  scores/src/api/handlers/userCollections.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: prevent R2 metadata size limit error on PDF uploads
  frontendv2/src/components/score/ScoreManagement.tsx
  frontendv2/src/services/scoreService.ts
  frontendv2/src/stores/scoreStore.ts
  scores/src/api/handlers/import.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: validate enum fields to prevent database constraint errors
  scores/src/api/handlers/import.ts
Due: prettier --write

fix: make score and collection visibility independent
  scores/src/api/handlers/import.ts
  scores/src/api/handlers/userCollections.ts
Due: prettier --write

fix: properly track score-collection relationships in UI
  frontendv2/src/components/score/AddToCollectionModal.tsx
  frontendv2/src/services/scoreService.ts
  scores/src/api/handlers/userCollections.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: redesign ScoreBrowser UI with tab navigation and expandable rows
  frontendv2/src/components/score/AddToCollectionModal.tsx
  frontendv2/src/pages/ScoreBrowser.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve lint errors in userCollections and import handlers
  scores/src/api/handlers/import.ts
  scores/src/api/handlers/userCollections.ts
Due: prettier --write

fix: replace any type with ScoreSearchParams in ScoreBrowser
  frontendv2/src/pages/ScoreBrowser.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: display scores in collections properly
  frontendv2/src/pages/CollectionView.tsx
  frontendv2/src/routes/scorebook.tsx
  frontendv2/src/services/scoreService.ts
  frontendv2/src/types/collections.ts
  scores/src/api/handlers/userCollections.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript errors in CollectionView
  frontendv2/src/pages/CollectionView.tsx
  frontendv2/src/types/collections.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: properly handle user collections navigation and display
  frontendv2/src/pages/CollectionView.tsx
  frontendv2/src/pages/ScoreBrowser.tsx
  frontendv2/src/routes/scorebook.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: collections showing 0 scores and navigation issues
  docs/COLLECTIONS_DESIGN.md
  frontendv2/src/App.tsx
  frontendv2/src/pages/ScoreBrowser.tsx
  frontendv2/src/types/collections.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: reorder routes to prevent scoreId from matching collection paths
  frontendv2/src/App.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add migration to handle existing primary_instrument column
  api/migrations/0006_fix_user_roles_setup.sql
Due: none

fix: add user roles and implement email normalization
  api/migrations/0005_add_user_roles.sql
  api/migrations/0006_fix_user_roles_setup.sql
  api/migrations/0006_normalize_emails.sql.future
  api/migrations/list.json
  api/src/api/handlers/auth.ts
  api/src/api/handlers/user.ts
  api/src/services/auth.ts
  api/src/types/models.ts
  api/src/utils/database.ts
  api/src/utils/validation.ts
  frontendv2/src/components/auth/SignInModal.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: rewrite migration to prevent cascade data deletion
  api/migrations/0005_add_user_roles_safe.sql
Due: none

docs: add incident report for staging data loss
  api/migrations/STAGING_DATA_LOSS_INCIDENT.md
Due: prettier --write

fix: make migration idempotent to handle partial failures
  api/migrations/0005_add_user_roles.sql
  api/migrations/0005_add_user_roles_safe.sql
Due: none

chore: ignore db back path
  .gitignore
Due: none

chore: ignore all possible backup folders
  .gitignore
  CLAUDE.md
  api/scripts/BACKUP_README.md
  api/scripts/backup-database.sh
  api/scripts/safe-migrate.sh
Due: prettier --write

fix: add missing ALTER TABLE command to create role column
  api/migrations/0005_add_user_roles.sql
Due: none

feat: create comprehensive UI component library and design system
  frontendv2/package.json
  frontendv2/src/components/auth/SignInModal.tsx
  frontendv2/src/components/ui/Button.tsx
  frontendv2/src/components/ui/Card.tsx
  frontendv2/src/components/ui/Input.tsx
  frontendv2/src/components/ui/Loading.tsx
  frontendv2/src/components/ui/Modal.tsx
  frontendv2/src/components/ui/README.md
  frontendv2/src/components/ui/Select.tsx
  frontendv2/src/components/ui/Toast.tsx
  frontendv2/src/components/ui/index.ts
  frontendv2/src/constants/design-system.ts
  package-lock.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

refactor: convert native buttons to Button component in score components
  frontendv2/src/components/score/ScoreControls.tsx
  frontendv2/src/components/score/ScoreManagement.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: unify UI components with PR #201 mobile navigation
  frontendv2/docs/UNIFIED-STYLING-GUIDE.md
  frontendv2/src/components/layout/UnifiedHeader.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write
