Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

feat: implement local-first architecture for anonymous users
  frontend/src/App.tsx
  frontend/src/components/SaveProgressPrompt.tsx
  frontend/src/components/UserStatusIndicator.tsx
  frontend/src/components/index.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/Practice.tsx
  frontend/src/services/localStorage.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update roadmap with completed Apollo Client and local-first architecture
  docs/ROADMAP.md
Due: prettier --write

chore: add missing images
  frontend/public/mirubato-cover.jpeg
  frontend/public/vite.svg
Due: none

feat: implement shared types package for data consistency
  backend/package.json
  frontend/package.json
  frontend/src/services/dataSync.ts
  frontend/src/services/localStorage.ts
  package-lock.json
  package.json
  shared/package.json
  shared/tsconfig.json
  shared/types/index.ts
  shared/types/validation.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update ROADMAP.md with shared types implementation
  docs/ROADMAP.md
Due: prettier --write

feat: add comprehensive unit tests for localStorage service
  frontend/src/__tests__/unit/services/localStorage.test.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/services/localStorage.ts
  shared/types/index.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update DEVELOPMENT_SETUP.md with Apollo Client and shared types integration
  docs/DEVELOPMENT_SETUP.md
Due: prettier --write

docs: simplify DEVELOPMENT_SETUP.md for production deployment
  docs/DEVELOPMENT_SETUP.md
Due: prettier --write

chore: remove extra file, use DEVELOPMENT_SETUP.md instead
  docs/DEPLOYMENT_GUIDE.md
Due: prettier --write

fix: configure frontend codegen to use schema file directly
  docs/DEVELOPMENT_SETUP.md
  frontend/codegen.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: align GraphQL queries with backend schema
  backend/src/types/generated/graphql.ts
  docs/DEVELOPMENT_SETUP.md
  frontend/src/contexts/AuthContext.tsx
  frontend/src/graphql/queries/auth.ts
  frontend/src/graphql/queries/user.ts
  frontend/src/services/dataSync.ts
  frontend/src/services/localStorage.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: update shared types and localStorage for GraphQL schema compatibility
  frontend/src/services/localStorage.ts
  shared/types/index.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: update localStorage tests and remove problematic codegen config
  CLAUDE.md
  frontend/codegen.ts
  frontend/src/__tests__/unit/services/localStorage.test.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: add responsive auth modal with magic link authentication
  backend/src/__tests__/unit/services/auth.test.ts
  backend/src/utils/auth.ts
  frontend/src/components/AuthModal.test.tsx
  frontend/src/components/AuthModal.tsx
  frontend/src/components/LandingPage.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/SaveProgressPrompt.tsx
  frontend/src/components/UserStatusIndicator.tsx
  frontend/src/components/index.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/services/dataSync.ts
  frontend/src/tests/utils/test-utils.tsx
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: complete magic link authentication flow with email templates
  backend/.env.production
  backend/.gitignore
  backend/package.json
  backend/scripts/build-email-templates.js
  backend/src/index.ts
  backend/src/middleware/logging.ts
  backend/src/resolvers/auth.ts
  backend/src/services/email.ts
  backend/src/templates/email/magic-link.html
  backend/src/templates/email/magic-link.txt
  backend/src/types/context.ts
  backend/wrangler.json
  frontend/.env.production
  frontend/public/_headers
  frontend/src/App.tsx
  frontend/src/components/AuthModal.tsx
  frontend/src/lib/apollo/client.ts
  frontend/src/pages/AuthVerify.tsx
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update ROADMAP with completed auth UI and code quality improvements
  docs/ROADMAP.md
Due: prettier --write

Potential fix for code scanning alert no. 4: Incomplete string escaping or encoding
  backend/scripts/build-email-templates.js
Due: prettier --write

fix: include compiled email templates for Cloudflare build
  backend/src/templates/email/compiled-templates.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

chore: fix the .gitignore
  backend/.gitignore
Due: none

fix: simplify backend build process for Cloudflare
  backend/package.json
Due: prettier --write

fix: remove KV namespace requirement for deployment
  backend/src/services/auth.ts
  backend/src/types/context.ts
  backend/wrangler.json
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

refactor: rename CACHE to MIRUBATO_MAGIC_LINKS for clarity
  backend/src/resolvers/auth.ts
  backend/src/services/auth.ts
  backend/src/test-utils/graphql.ts
  backend/src/types/context.ts
  backend/wrangler.json
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update DEVELOPMENT_SETUP.md with current deployment details
  docs/DEVELOPMENT_SETUP.md
Due: prettier --write

fix: add Cloudflare Workers domains to CORS allowed origins
  backend/src/index.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

refactor: move CORS configuration to separate config file
  backend/src/config/README.md
  backend/src/config/cors.ts
  backend/src/index.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: consolidate CORS documentation and add backend preview patterns
  backend/src/config/README.md
  backend/src/config/cors.ts
  docs/DEVELOPMENT_SETUP.md
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: add debug logging and tests for CORS configuration
  backend/src/config/cors.test.ts
  backend/src/config/cors.ts
  backend/src/index.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: add CORS debugging endpoint and improved logging
  backend/src/index.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: allow production patterns in development environment
  backend/src/config/cors.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: add version tracking and health endpoints
  backend/src/index.ts
  backend/src/types/context.ts
  frontend/.gitignore
  frontend/package.json
  frontend/scripts/update-version.js
  frontend/src/App.tsx
  frontend/src/components/VersionInfo.tsx
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: also check production domains in development environment
  backend/src/config/cors.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: handle missing git in Cloudflare build environment
  frontend/scripts/update-version.js
Due: prettier --write

feat: add dynamic API endpoint configuration for preview deployments
  frontend/src/components/VersionInfo.tsx
  frontend/src/config/endpoints.ts
  frontend/src/lib/apollo/client.ts
  frontend/vite.config.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: add centralized domain configuration system
  config/domains.json
  docs/DOMAIN_CONFIGURATION.md
  scripts/update-domains.js
  shared/config/domains.ts
Due: prettier --write

docs: add configuration unification and code cleanup tasks to roadmap
  docs/ROADMAP.md
Due: prettier --write

feat: implement unified configuration management system
  backend/.env.example
  backend/src/config/cors.ts
  backend/src/services/email.ts
  config/domains.json
  config/environments.json
  docs/DOMAIN_CONFIGURATION.md
  docs/UNIFIED_CONFIGURATION.md
  frontend/src/config/endpoints.ts
  scripts/generate-env-files.js
  scripts/generate-wrangler-config.js
  scripts/update-domains.js
  shared/config/domains.ts
  shared/config/environment.ts
  shared/tsconfig.json
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: consolidate deployment documentation into DEVELOPMENT_SETUP.md
  INSTALL_ISSUES.md
  docs/DEVELOPMENT_SETUP.md
  docs/DOMAIN_CONFIGURATION.md
  docs/UNIFIED_CONFIGURATION.md
Due: prettier --write

refactor: update team name from arbeitandy to pezware
  .github/CODEOWNERS
  README.md
  backend/src/config/cors.test.ts
  backend/wrangler.json
  config/environments.json
  docs/DEVELOPMENT_SETUP.md
  docs/INFRASTRUCTURE.md
  docs/LICENSE.md
  frontend/wrangler.json
  scripts/update-domains.js
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: revert CODEOWNERS to use GitHub username
  .github/CODEOWNERS
Due: none

docs: update migration commands and deployment workflow
  docs/DEVELOPMENT_SETUP.md
Due: prettier --write
