Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript build error in RepertoireView
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: integrate scoreStore into repertoire components
  api/migrations/0008_repertoire_and_annotations.sql
  frontendv2/src/components/repertoire/AddToRepertoireModal.tsx
  frontendv2/src/components/repertoire/CreateGoalModal.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: prevent redirect on 401 for logbook/repertoire page
  frontendv2/src/services/scoreService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: correct navigation paths in RepertoireCard buttons
  frontendv2/src/components/repertoire/RepertoireCard.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: enable repertoire for unsigned users with local storage
  api/src/api/handlers/goals.ts
  api/src/api/handlers/repertoire.ts
  frontendv2/src/api/client.ts
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: change null to undefined in repertoireStore for TypeScript compatibility
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: complete local storage support for repertoire goals
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: integrate logbook pieces with repertoire and enhance notes
  frontendv2/src/components/repertoire/AddToRepertoireModal.tsx
  frontendv2/src/components/repertoire/EditNotesModal.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: handle logbook-based repertoire items in navigation
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve build errors and security warnings in EditNotesModal
  frontendv2/src/components/repertoire/EditNotesModal.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: complete repertoire search and goal editing with i18n
  frontendv2/src/components/repertoire/EditGoalModal.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update EditGoalModal to match Goal interface types
  frontendv2/src/components/repertoire/EditGoalModal.tsx
  frontendv2/src/locales/en/repertoire.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: implement goal-practice linking and historical data initialization
  frontendv2/src/components/repertoire/CreateGoalModal.tsx
  frontendv2/src/components/repertoire/EditGoalModal.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: repertoire-logbook integration and add missing i18n translations
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-TW/repertoire.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove deprecated npm config and fix date display in repertoire goals
  .npmrc
  frontendv2/src/components/repertoire/RepertoireCard.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: display practice sessions in repertoire items
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-TW/repertoire.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add repertoire prompt after logbook entry creation
  api/src/api/handlers/goals.ts
  api/src/api/handlers/repertoire.ts
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/repertoire/AddToRepertoirePrompt.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/en/repertoire.json
  frontendv2/test-repertoire-prompt.md
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: use showToast from toastManager instead of Toast.show
  frontendv2/src/components/repertoire/AddToRepertoirePrompt.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add score ID normalization to prevent duplicate repertoire entries
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/repertoire/AddToRepertoirePrompt.tsx
  frontendv2/src/stores/repertoireStore.ts
  frontendv2/src/utils/migrations/normalizeRepertoireIds.ts
  frontendv2/src/utils/scoreIdNormalizer.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: clean up document
  README.md
Due: prettier --write

feat: complete repertoire and goals backend implementation
  CLAUDE.md
  api/migrations/0009_add_goal_progress.sql
  api/migrations/list.json
  api/src/api/handlers/goals.ts
  api/src/api/handlers/repertoire.ts
  frontendv2/scripts/sync-translations.cjs
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/locales/zh-TW/repertoire.json
  frontendv2/src/locales/zh-TW/reports.json
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add missing goal translation keys
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-TW/repertoire.json
Due: prettier --write

fix: add repertoire sync and score metadata caching
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/stores/authStore.ts
  frontendv2/src/stores/repertoireStore.ts
  frontendv2/src/tests/unit/stores/authStore.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve linter errors by replacing any types
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve build errors in repertoire feature
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: fix e2e smoke tests for repertoire feature changes
  frontendv2/tests/e2e/enhanced-reports.test.ts
  frontendv2/tests/e2e/logbook.test.ts
  frontendv2/tests/e2e/pages/LogbookPage.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: Fix remaining e2e test failures for repertoire feature
  frontendv2/tests/e2e/enhanced-reports.test.ts
  frontendv2/tests/e2e/pages/LogbookPage.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: Enable and fix some skipped e2e tests
  frontendv2/tests/e2e/enhanced-reports-complete.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve ESLint error for unused caught variable
  frontendv2/tests/e2e/enhanced-reports-complete.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: add comprehensive user flow documentation and update project docs
  CLAUDE.md
  README.md
  docs/USER_FLOWS.md
Due: prettier --write

feat: major UI reforms for repertoire feature
  frontendv2/scripts/validate-translations.cjs
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/locales/zh-TW/repertoire.json
  frontendv2/src/stores/scoreStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve linter errors and complete i18n translations
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-TW/repertoire.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript build errors in RepertoireCard
  frontendv2/src/components/repertoire/RepertoireCard.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve i18n validation false positives and add URL sanitization
  frontendv2/scripts/validate-translations.cjs
  frontendv2/src/components/repertoire/EditNotesModal.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add missing difficulty translations in common namespace
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-TW/common.json
Due: prettier --write

fix: complete missing translations in common namespace
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-TW/common.json
Due: prettier --write

chore: remove temporary files and add UI improvement documentation
  docs/UI_IMPROVEMENT_PLAN.md
  docs/mockups/CreateGoalModal.tsx
  docs/mockups/RepertoireView.tsx
  docs/ui-mockups/card-based-ui-mockup.html
  docs/ui-mockups/clean-ui-mockup.html
  docs/ui-mockups/focused-ui-mockup.html
  frontendv2/test-repertoire-prompt.md
Due: prettier --write

feat: enhance focused UI with auth, mobile fixes, and new mockups
  docs/UNIFIED_LAYOUT_PATTERNS.md
  docs/ui-mockups/add-repertoire-mockup.html
  docs/ui-mockups/focused-ui-mockup.html
  docs/ui-mockups/repertoire-logs-mockup.html
Due: prettier --write

chore: continue refine UI with focused UI design
  docs/UNIFIED_LAYOUT_PATTERNS.md
  docs/ui-mockups/focused-ui-mockup.html
  docs/ui-mockups/repertoire-logs-mockup.html
Due: prettier --write

feat: Implement focused UI design with new layout system
  docs/ui-mockups/logbook-mockup.html
  docs/ui-mockups/repertoire-logs-mockup.html
  docs/ui-mockups/scorebook-mockup.html
  frontendv2/src/components/TimerEntry.tsx
  frontendv2/src/components/layout/AppLayout.tsx
  frontendv2/src/components/layout/BottomTabs.tsx
  frontendv2/src/components/layout/Sidebar.tsx
  frontendv2/src/components/layout/TopBar.tsx
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/repertoire/RepertoireCalendarView.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/en/logbook.json
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/pages/CollectionView.tsx
  frontendv2/src/pages/Logbook.tsx
  frontendv2/src/pages/ScoreBrowser.tsx
  frontendv2/src/pages/Scorebook.tsx
  frontendv2/src/pages/Toolbox.tsx
  frontendv2/src/services/patternMetronomeService.ts
  frontendv2/src/tests/unit/pages/Logbook.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

Path conditions:
  cd backend && eslint --fix: any of: backend/**/*.{ts,tsx}
  cd backend && vitest related --run --no-coverage --passWithNoTests: any of: backend/**/*.{ts,tsx}
  cd frontend && eslint --fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && jest --bail --findRelatedTests --passWithNoTests: any of: frontend/**/*.{ts,tsx}
  cd frontendv2 && eslint --fix: any of: frontendv2/**/*.{ts,tsx}
  cd frontendv2 && vitest related --run --no-coverage --passWithNoTests: any of: frontendv2/**/*.{ts,tsx}
  cd api && eslint --fix: any of: api/**/*.{ts,tsx}
  cd api && vitest related --run --no-coverage --passWithNoTests: any of: api/**/*.{ts,tsx}
  cd apiv2 && eslint --fix: any of: apiv2/**/*.{ts,tsx}
  cd apiv2 && vitest related --run --no-coverage --passWithNoTests: any of: apiv2/**/*.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
