Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && vitest related --run --no-coverage --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontendv2/**/*.{ts,tsx}": [
    "cd frontendv2 && eslint --fix",
    "cd frontendv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "api/**/*.{ts,tsx}": [
    "cd api && eslint --fix",
    "cd api && vitest related --run --no-coverage --passWithNoTests"
  ],
  "apiv2/**/*.{ts,tsx}": [
    "cd apiv2 && eslint --fix",
    "cd apiv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

fix(dictionary): Add roles array to JWT token for admin authorization
  dictionary/src/utils/auth.ts
Due: prettier --write

fix(dictionary): Fix admin portal errors and improve seed processing
  dictionary/package.json
  dictionary/src/api/handlers/admin.ts
  dictionary/src/api/handlers/search.ts
  dictionary/src/api/handlers/terms.ts
  dictionary/src/middleware/auth.ts
  dictionary/src/middleware/rate-limit.ts
  dictionary/src/routes/admin-portal.ts
  dictionary/src/services/storage/dictionary-database.ts
  dictionary/src/utils/auth.ts
  package-lock.json
Due: prettier --write

fix: automatic term classification for dictionary entries
  dictionary/migrations/0007_add_error_recovery.sql
  dictionary/src/api/handlers/admin.ts
  dictionary/src/index.ts
  dictionary/src/routes/admin-portal.ts
  dictionary/src/services/ai/dictionary-generator.ts
  dictionary/src/services/ai/term-classifier.ts
  dictionary/src/services/error-recovery.ts
  dictionary/src/services/seed-processor.ts
Due: prettier --write

fix: merge best features from duplicate implementations
  dictionary/src/services/seed-processor.ts
  dictionary/src/services/storage/dictionary-database.ts
Due: prettier --write

fix(dictionary): Fix language-specific caching issue
  dictionary/src/__tests__/handlers/terms.test.ts
  dictionary/src/api/handlers/terms.ts
  dictionary/src/services/storage/cache-service.ts
  mirubato.code-workspace
Due: prettier --write

chore: remove kiro workspace def
  .gitignore
Due: none

chore: reorder docs
  docs/DICTIONARY-AUTO-SEEDING.md
  mirubato.code-workspace
Due: prettier --write

fix(dictionary): Set metadata.language to match lang parameter
  dictionary/src/services/ai/dictionary-generator.ts
Due: prettier --write

docs(dictionary): Document language field usage and metadata deprecation
  docs/DICTIONARY.md
Due: prettier --write

feat(dictionary): Add bulk import feature for dictionary admin portal
  dictionary/src/api/handlers/admin.ts
  dictionary/src/routes/admin-portal.ts
  dictionary/src/services/storage/dictionary-database.ts
  dictionary/src/types/dictionary.ts
Due: prettier --write

docs(dictionary): Add bulk import documentation
  dictionary/README.md
  dictionary/docs/BULK-IMPORT.md
Due: prettier --write

fix: Complete 9 bug fixes and improvements for RC version
  dictionary/src/services/ai/dictionary-generator.ts
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/circle-of-fifths/CircleOfFifths.test.tsx
  frontendv2/src/components/circle-of-fifths/CircleOfFifthsControls.tsx
  frontendv2/src/components/circle-of-fifths/CircleVisualization.tsx
  frontendv2/src/components/circle-of-fifths/KeyDetailsPanel.tsx
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
  frontendv2/src/components/dictionary/Dictionary.tsx
  frontendv2/src/components/ui/TimePicker.tsx
  frontendv2/src/locales/de/toolbox.json
  frontendv2/src/locales/en/toolbox.json
  frontendv2/src/locales/es/toolbox.json
  frontendv2/src/locales/fr/toolbox.json
  frontendv2/src/locales/zh-CN/toolbox.json
  frontendv2/src/locales/zh-TW/toolbox.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Remove unused 'required' prop from TimePicker component
  frontendv2/src/components/ui/TimePicker.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Replace any type with proper string < /dev/null | number union in CircleOfFifths test
  frontendv2/src/components/circle-of-fifths/CircleOfFifths.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Remove required prop usage and fix typo in Dictionary
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/dictionary/Dictionary.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(dictionary): Fix category browsing and pagination calculation
  frontendv2/src/api/dictionary.ts
  frontendv2/src/components/dictionary/Dictionary.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(tests): Fix chronological order E2E test
  frontendv2/tests/e2e/logbook-sync.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(tests): Fix flaky chronological order test by accounting for auto-time adjustment
  frontendv2/tests/e2e/logbook-sync.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(dictionary): Allow empty query for category browsing
  dictionary/src/__tests__/handlers/search.test.ts
  dictionary/src/api/handlers/search.ts
  dictionary/src/services/storage/dictionary-database.ts
Due: prettier --write

fix(dictionary): Fix category filtering and language validation
  dictionary/src/api/handlers/search.ts
  dictionary/src/services/storage/dictionary-database.ts
Due: prettier --write

fix(dictionary): Fix category browsing returning wrong types
  dictionary/src/services/storage/dictionary-database.ts
Due: prettier --write

feat(dictionary): Add user-friendly rate limit error messages with i18n support
  frontendv2/src/api/dictionary.ts
  frontendv2/src/components/dictionary/Dictionary.tsx
  frontendv2/src/locales/de/toolbox.json
  frontendv2/src/locales/en/toolbox.json
  frontendv2/src/locales/es/toolbox.json
  frontendv2/src/locales/fr/toolbox.json
  frontendv2/src/locales/zh-CN/toolbox.json
  frontendv2/src/locales/zh-TW/toolbox.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(dictionary): Fix pagination by converting page parameter to offset
  dictionary/src/api/handlers/search.ts
  frontendv2/src/api/dictionary.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Complete 4 MVP updates for better user experience
  frontendv2/src/components/auth/SignInModal.tsx
  frontendv2/src/components/circle-of-fifths/CircleVisualization.tsx
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
  frontendv2/src/components/dictionary/Dictionary.tsx
  frontendv2/src/components/dictionary/DictionaryTerm.tsx
  frontendv2/src/components/ui/ClockTimePicker.tsx
  frontendv2/src/components/ui/TimePicker.tsx
  frontendv2/src/locales/en/toolbox.json
  frontendv2/src/types/dictionary.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Improve Circle of Fifths display and keyboard highlighting
  frontendv2/src/components/circle-of-fifths/CircleVisualization.tsx
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Fix TypeScript build error in PianoKeyboard component
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Fix dictionary navigation issues
  frontendv2/src/components/dictionary/Dictionary.tsx
  frontendv2/src/locales/de/toolbox.json
  frontendv2/src/locales/es/toolbox.json
  frontendv2/src/locales/fr/toolbox.json
  frontendv2/src/locales/zh-CN/toolbox.json
  frontendv2/src/locales/zh-TW/toolbox.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Improve ClockTimePicker functionality
  frontendv2/src/components/ui/ClockTimePicker.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Fix AM/PM toggle closing the ClockTimePicker
  frontendv2/src/components/ui/ClockTimePicker.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: prepare v1.6.0 release with security updates
  CLAUDE.md
  api/package.json
  dictionary/package.json
  docs/DESIGN.md
  docs/ROADMAP.md
  frontendv2/package.json
  package-lock.json
  package.json
  scores/package.json
  scores/src/api/handlers/pdf-renderer-v2.ts
  scores/src/queue/pdf-processor.ts
Due: prettier --write

chore(dictionary): remove direct esbuild dependency
  dictionary/package.json
  package-lock.json
Due: prettier --write

chore: migrate from npm to pnpm package manager
  .github/workflows/ci.yml
  .github/workflows/validate-translations.yml
  .npmrc
  CLAUDE.md
  README.md
  api/wrangler.toml
  dictionary/wrangler.toml
  frontendv2/package.json
  frontendv2/src/types/dictionary.ts
  frontendv2/wrangler.toml
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scores/wrangler.toml
  start-scorebook.sh
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update pre-commit hook to use pnpm and avoid duplicate flags
  .husky/pre-commit
  README.md
Due: prettier --write

fix: update GitHub Actions CI workflow for pnpm compatibility
  .github/workflows/ci.yml
Due: none

feat: implement unified version management across all services
  api/src/api/handlers/health.ts
  api/src/api/openapi.ts
  api/src/index.ts
  api/src/utils/version.ts
  dictionary/src/api/handlers/health.ts
  dictionary/src/api/openapi.ts
  dictionary/src/app.ts
  dictionary/src/utils/version.ts
  scores/src/api/handlers/health.ts
  scores/src/api/openapi.ts
  scores/src/index.ts
  scores/src/test/api.test.ts
  scores/src/utils/version.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve e2e test failures in GitHub Actions
  .github/workflows/ci.yml
  frontendv2/playwright.config.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve Playwright browser installation issues in CI
  .github/workflows/ci.yml
Due: none

feat: implement Repertoire and Goals integration in Logbook
  api/migrations/0008_repertoire_and_annotations.sql
  api/migrations/list.json
  api/src/api/handlers/goals.ts
  api/src/api/handlers/repertoire.ts
  api/src/api/routes.ts
  docs/REPERTOIRE_FEATURE_ANALYSIS.md
  docs/REPERTOIRE_GOALS_PLAN.md
  docs/mockups/AnnotatedScoreViewer.tsx
  docs/mockups/CreateGoalModal.tsx
  docs/mockups/RepertoireView.tsx
  frontendv2/src/App.tsx
  frontendv2/src/api/goals.ts
  frontendv2/src/api/repertoire.ts
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
  frontendv2/src/components/practice-reports/ReportsTabs.tsx
  frontendv2/src/components/repertoire/AddToRepertoireModal.tsx
  frontendv2/src/components/repertoire/CreateGoalModal.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/components/ui/Toast.tsx
  frontendv2/src/components/ui/ToastProvider.tsx
  frontendv2/src/i18n/config.ts
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-TW/repertoire.json
  frontendv2/src/stores/repertoireStore.ts
  frontendv2/src/tests/unit/components/EnhancedPracticeReports.test.tsx
  frontendv2/src/utils/toastManager.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve all linter and TypeScript build errors
  api/src/api/handlers/goals.ts
  api/src/api/handlers/repertoire.ts
  frontendv2/src/components/repertoire/AddToRepertoireModal.tsx
  frontendv2/src/components/repertoire/CreateGoalModal.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/stores/repertoireStore.ts
  frontendv2/src/utils/dateUtils.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve all frontend linter errors and warnings
  frontendv2/src/components/dictionary/Dictionary.tsx
  frontendv2/src/components/metronome/CollapsibleMetronome.tsx
  frontendv2/src/components/practice-counter/CounterActive.tsx
  frontendv2/src/components/repertoire/AddToRepertoireModal.tsx
  frontendv2/src/components/repertoire/CreateGoalModal.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/components/score/AddToCollectionModal.tsx
  frontendv2/src/components/score/CollectionsManager.tsx
  frontendv2/src/components/score/ScoreControls.tsx
  frontendv2/src/components/ui/Toast.tsx
  frontendv2/src/pages/CollectionView.tsx
  frontendv2/src/pages/Toolbox.tsx
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write
