Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: remove obsolete LogbookReports component and document file analysis
  frontendv2/docs/OBSOLETE-FILES-ANALYSIS.md
  frontendv2/src/components/LogbookReports.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused imports in ScoreManagement.tsx
  frontendv2/src/components/score/ScoreManagement.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: format README.md with prettier
  frontendv2/src/components/ui/README.md
Due: prettier --write

docs: update documentation to reflect UI component library work
  CLAUDE.md
  docs/DESIGN.md
  docs/ROADMAP.md
Due: prettier --write

refactor: split EnhancedPracticeReports into smaller components
  frontendv2/src/components/EnhancedPracticeReports.tsx
  frontendv2/src/components/practice-reports/PieceComposerStats.tsx
  frontendv2/src/components/practice-reports/PiecesStatistics.tsx
  frontendv2/src/components/practice-reports/PracticeOverview.tsx
  frontendv2/src/components/practice-reports/ReportsFilters.tsx
  frontendv2/src/components/practice-reports/ReportsTabs.tsx
  frontendv2/src/components/practice-reports/SummaryStats.tsx
  frontendv2/src/hooks/usePracticeAnalytics.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve localization and build issues in practice reports refactor
  frontendv2/src/components/EnhancedPracticeReports.tsx
  frontendv2/src/components/practice-reports/PiecesStatistics.tsx
  frontendv2/src/components/practice-reports/PracticeOverview.tsx
  frontendv2/src/components/practice-reports/ReportsFilters.tsx
  frontendv2/src/components/practice-reports/SummaryStats.tsx
  frontendv2/src/hooks/usePracticeAnalytics.ts
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add missing translation keys for filtered entry lists
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
Due: prettier --write

fix: improve entry list styling to match original LogbookEntryList
  frontendv2/src/components/EnhancedPracticeReports.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve missing translation keys and unused parameters
  frontendv2/src/components/EnhancedPracticeReports.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve UI layout for practice reports
  frontendv2/src/components/EnhancedPracticeReports.tsx
  frontendv2/src/components/practice-reports/ReportsFilters.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve mobile responsiveness for entry list
  frontendv2/src/components/EnhancedPracticeReports.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve ManualEntryForm type selector for mobile
  frontendv2/src/components/ManualEntryForm.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add export functionality and finalize UI polish
  frontendv2/src/components/EnhancedPracticeReports.tsx
  frontendv2/src/components/practice-reports/PiecesStatistics.tsx
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/tests/unit/components/EnhancedPracticeReports.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve lint and build errors in ReportsFilters
  frontendv2/src/components/practice-reports/ReportsFilters.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

style: fix Prettier formatting in ManualEntryForm
  frontendv2/src/components/ManualEntryForm.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add missing data-testid attributes for E2E tests
  frontendv2/src/components/EnhancedPracticeReports.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update E2E tests to match actual export filename pattern
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add time picker to logbook entries and split practice time among pieces
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/hooks/usePracticeAnalytics.ts
  frontendv2/src/locales/en/logbook.json
  frontendv2/src/locales/es/logbook.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

style: polish time picker with Morandi colors and fix mobile layout
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/styles/index.css
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: correct missing localization key for empty entries
  frontendv2/src/components/EnhancedPracticeReports.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: create custom TimePicker with Morandi color scheme
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/ui/TimePicker.tsx
  frontendv2/src/styles/index.css
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: update DESIGN.md for v1.4.0 frontend polish release
  docs/DESIGN.md
Due: prettier --write

fix: improve E2E test stability for chronological ordering
  frontendv2/tests/e2e/logbook-sync.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add monthly entry summaries for historical access
  frontendv2/src/components/EnhancedPracticeReports.tsx
  frontendv2/src/components/practice-reports/MonthlySummaries.tsx
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
  frontendv2/src/tests/unit/components/practice-reports/MonthlySummaries.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add navigation controls to Practice Calendar
  frontendv2/src/components/EnhancedPracticeReports.tsx
  frontendv2/src/components/practice-reports/ReportsFilters.tsx
  frontendv2/src/tests/unit/components/practice-reports/CalendarNavigation.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: allow clearing duration input field in ManualEntryForm
  frontendv2/src/components/ManualEntryForm.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Practice Calendar navigation and summary statistics
  frontendv2/src/components/EnhancedPracticeReports.tsx
  frontendv2/src/components/practice-reports/SummaryStats.tsx
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: implement lazy loading and UI improvements
  docs/DESIGN.md
  frontendv2/src/components/EnhancedPracticeReports.tsx
  frontendv2/src/components/practice-reports/ReportsFilters.tsx
  frontendv2/src/tests/unit/components/EnhancedPracticeReports.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: reset calendar navigation when switching time periods
  frontendv2/src/components/EnhancedPracticeReports.tsx
  frontendv2/src/components/practice-reports/ReportsFilters.tsx
  frontendv2/src/tests/unit/components/EnhancedPracticeReports.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update tests for lazy loading and UI changes
  frontendv2/src/tests/unit/components/EnhancedPracticeReports.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: replace any type with LogbookEntry type in test
  frontendv2/src/tests/unit/components/EnhancedPracticeReports.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: remove outdated migration verification scripts
  api/scripts/verify-migration.sql
  frontendv2/check-legacy-data.js
  frontendv2/debug-localStorage.js
Due: prettier --write

chore: remove frontend legacy migration code
  frontendv2/src/App.tsx
  frontendv2/src/tests/unit/App.test.tsx
  frontendv2/src/tests/unit/utils/transformLegacyEntry.test.ts
  frontendv2/src/utils/migrateLegacyData.ts
  frontendv2/src/utils/transformLegacyEntry.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: comprehensive documentation cleanup and reorganization
  README.md
  docs/DEPLOYMENT_GUIDE.md
  docs/README.md
  docs/archive/CLOUDFLARE_AI_DEPLOYMENT_CHECKLIST.md
  docs/archive/CLOUDFLARE_AI_UAT_PLAN.md
  docs/archive/COLLECTIONS_DESIGN.md
  docs/archive/DEBUG-PDF_FIX_SUMMARY.md
  docs/archive/DEBUG-pdf-loading-issue.md
  docs/archive/RUN_SLUG_MIGRATION.md
  docs/archive/SCOREBOOK.md
  docs/archive/SCOREBOOK_ENDPOINTS.md
  docs/archive/api/STAGING_DATA_LOSS_INCIDENT.md
  docs/archive/frontendv2/CLOUDFLARE_BUILD.md
  docs/archive/frontendv2/EmbedInstructions.md
  docs/archive/frontendv2/OBSOLETE-FILES-ANALYSIS.md
  docs/archive/frontendv2/UNIFIED-STYLING-GUIDE.md
  docs/archive/scores/CLEANUP_PLAN.md
  docs/archive/scores/DATA_SEEDING_STRATEGY.md
  docs/archive/scores/R2_COST_ANALYSIS.md
  docs/archive/scores/R2_HYBRID_ANALYSIS.md
  docs/archive/scores/R2_OPTIMIZATION.md
  docs/archive/scores/RUN_SLUG_MIGRATION.md
  docs/archive/scores/download-instructions.md
  docs/archive/scores/migrations/MIGRATION_STRATEGY.md
Due: prettier --write

docs: add open-source sheet music libraries to special thanks
  README.md
Due: prettier --write

chore: remove obsolete scripts and document remaining utilities
  api/scripts/README.md
  api/scripts/d1-migrate-sync.js
  api/scripts/run-migration.ts
  api/scripts/seed-music-catalog.ts
  api/scripts/setup-music-catalog.sh
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: remove obsolete npm scripts from package.json files
  api/package.json
  frontendv2/package.json
  scores/package.json
Due: prettier --write

feat: add unified documentation dashboard with GitHub Pages deployment
  .github/workflows/deploy-dashboard.yml
  dashboard/.nojekyll
  dashboard/README.md
  dashboard/_config.yml
  dashboard/assets/css/dashboard.css
  dashboard/assets/js/dashboard.js
  dashboard/index.html
Due: prettier --write

fix: resolve dashboard issues and add documentation index
  dashboard/_config.yml
  dashboard/_docs
  dashboard/_layouts/doc.html
  dashboard/assets/js/dashboard.js
  dashboard/docs.html
  dashboard/index.html
Due: prettier --write

fix: remove permalink from docs.html to fix 404
  dashboard/docs.html
Due: none

Path conditions:
  cd backend && eslint --fix: any of: backend/**/*.{ts,tsx}
  cd backend && vitest related --run --no-coverage --passWithNoTests: any of: backend/**/*.{ts,tsx}
  cd frontend && eslint --fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && jest --bail --findRelatedTests --passWithNoTests: any of: frontend/**/*.{ts,tsx}
  cd frontendv2 && eslint --fix: any of: frontendv2/**/*.{ts,tsx}
  cd frontendv2 && vitest related --run --no-coverage --passWithNoTests: any of: frontendv2/**/*.{ts,tsx}
  cd api && eslint --fix: any of: api/**/*.{ts,tsx}
  cd api && vitest related --run --no-coverage --passWithNoTests: any of: api/**/*.{ts,tsx}
  cd apiv2 && eslint --fix: any of: apiv2/**/*.{ts,tsx}
  cd apiv2 && vitest related --run --no-coverage --passWithNoTests: any of: apiv2/**/*.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
