Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && vitest related --run --no-coverage --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontendv2/**/*.{ts,tsx}": [
    "cd frontendv2 && eslint --fix",
    "cd frontendv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "api/**/*.{ts,tsx}": [
    "cd api && eslint --fix",
    "cd api && vitest related --run --no-coverage --passWithNoTests"
  ],
  "dictionary/**/*.{ts,tsx}": [
    "cd dictionary && eslint --fix",
    "cd dictionary && vitest related --run --no-coverage --passWithNoTests"
  ],
  "**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,html,cjs,mjs,graphql}": [
    "prettier --write"
  ]
}

feat: add template preview metadata
  frontendv2/src/api/planning.ts
  frontendv2/src/components/practice-planning/TemplateDetailModal.tsx
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: tighten template preview typing
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add template adoption customization
  frontendv2/src/api/planning.ts
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/components/practice-planning/TemplateAdoptionModal.tsx
  frontendv2/src/components/practice-planning/TemplateGallery.tsx
  frontendv2/src/components/practice-planning/__tests__/TemplateGallery.test.tsx
  frontendv2/src/lib/analytics/planning.ts
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/stores/planningStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: ensure TemplateAdoptionModal flexibility typing
  frontendv2/src/components/practice-planning/TemplateAdoptionModal.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: refresh reminder icons and tests
  frontendv2/src/components/practice-planning/PlanReminderCard.tsx
  frontendv2/src/components/practice-planning/__tests__/PlanReminderCard.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(api): support practice plan source templates
  api/src/api/handlers/templates.ts
  api/src/schemas/entities.ts
  sync-worker/src/schemas.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(api): ensure adopted plan returns source template id
  api/src/api/handlers/templates.test.ts
  api/src/api/handlers/templates.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(api): allow plan template sync entities
  api/src/api/openapi.ts
  api/src/utils/validation.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: allow customizing template metadata
  api/src/api/handlers/templates.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: adding remotion skill for project
  .claude/skills/remotion-tutorial-generator/SKILL.md
  .claude/skills/remotion-tutorial-generator/reference.md
  .claude/skills/remotion-tutorial-generator/templates/AnnotationComponent.tsx
  .claude/skills/remotion-tutorial-generator/templates/SceneTemplate.tsx
  .claude/skills/remotion-tutorial-generator/templates/TransitionComponent.tsx
  .claude/skills/remotion-tutorial-generator/templates/VideoComposition.tsx
Due: prettier --write

fix: use pnpm manage js-yaml version
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: preserve template occurrence segments
  api/src/api/handlers/templates.test.ts
  api/src/api/handlers/templates.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: track remaining planning gaps
  docs/tickets/planning-analytics-templates-phase4.md
Due: prettier --write

feat: add Remotion tutorial video project
  remotion-tutorial/.gitignore
  remotion-tutorial/README.md
  remotion-tutorial/package.json
  remotion-tutorial/src/MirubatoIntro.tsx
  remotion-tutorial/src/Root.tsx
  remotion-tutorial/src/components/Annotation.tsx
  remotion-tutorial/src/components/ArchitectureBox.tsx
  remotion-tutorial/src/components/ChapterTitle.tsx
  remotion-tutorial/src/components/FeatureCard.tsx
  remotion-tutorial/src/components/Logo.tsx
  remotion-tutorial/src/components/Transition.tsx
  remotion-tutorial/src/index.ts
  remotion-tutorial/src/scenes/Architecture.tsx
  remotion-tutorial/src/scenes/Intro.tsx
  remotion-tutorial/src/scenes/LogbookDemo.tsx
  remotion-tutorial/src/scenes/Outro.tsx
  remotion-tutorial/src/scenes/Overview.tsx
  remotion-tutorial/src/scenes/ScorebookDemo.tsx
  remotion-tutorial/src/scenes/ToolboxDemo.tsx
  remotion-tutorial/src/theme/mirubato.ts
  remotion-tutorial/src/utils/animations.ts
  remotion-tutorial/tsconfig.json
Due: prettier --write

chore: clean up lfs
  .husky/pre-push
Due: none

chore: prettier
  remotion-tutorial/README.md
Due: prettier --write

refactor: update Remotion tutorial with authentic Mirubato UI/UX
  remotion-tutorial/src/MirubatoIntro.tsx
  remotion-tutorial/src/Root.tsx
  remotion-tutorial/src/components/Logo.tsx
  remotion-tutorial/src/scenes/Architecture.tsx
  remotion-tutorial/src/scenes/Intro.tsx
  remotion-tutorial/src/scenes/LogbookDemo.tsx
  remotion-tutorial/src/scenes/Outro.tsx
  remotion-tutorial/src/scenes/Overview.tsx
  remotion-tutorial/src/scenes/ToolboxDemo.tsx
  remotion-tutorial/src/theme/mirubato.ts
Due: prettier --write

chore: add package-lock.json for remotion-tutorial
  remotion-tutorial/package-lock.json
Due: prettier --write

chore: fix prettier formatting in remotion-tutorial
  remotion-tutorial/src/Root.tsx
  remotion-tutorial/src/scenes/Architecture.tsx
  remotion-tutorial/src/scenes/LogbookDemo.tsx
Due: prettier --write

feat: add Playwright screenshot capture for Remotion tutorial
  .gitignore
  frontendv2/package.json
  frontendv2/playwright-screenshots.config.ts
  frontendv2/tests/screenshots/capture-logbook.spec.ts
  frontendv2/tests/screenshots/capture-toolbox.spec.ts
  frontendv2/tests/screenshots/seed-data.ts
  remotion-tutorial/.gitignore
  remotion-tutorial/README.md
  remotion-tutorial/package.json
  remotion-tutorial/public/audio/.gitkeep
  remotion-tutorial/scripts/capture-and-render.sh
  remotion-tutorial/src/components/ScreenshotFrame.tsx
  remotion-tutorial/src/scenes/LogbookScreenshots.tsx
  remotion-tutorial/src/scenes/ToolboxScreenshots.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: use ES module compatible __dirname in playwright config
  frontendv2/playwright-screenshots.config.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve test failures for Playwright screenshot tests
  .gitignore
  frontendv2/tests/screenshots/capture-logbook.spec.ts
  frontendv2/tests/screenshots/capture-toolbox.spec.ts
  frontendv2/tests/screenshots/seed-data.ts
  frontendv2/vitest.config.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: prettier
  frontendv2/playwright-screenshots.config.ts
  frontendv2/vitest.config.ts
  remotion-tutorial/README.md
  remotion-tutorial/src/components/ScreenshotFrame.tsx
  remotion-tutorial/src/scenes/LogbookScreenshots.tsx
  remotion-tutorial/src/scenes/ToolboxScreenshots.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: fixing remotion generator
  frontendv2/tests/screenshots/capture-logbook.spec.ts
  remotion-tutorial/README.md
  remotion-tutorial/src/components/ScreenshotFrame.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: fix playwright script
  frontendv2/playwright-screenshots.config.ts
  frontendv2/tests/screenshots/capture-toolbox.spec.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: fixing tests
  api/package.json
  api/src/api/handlers/sync.test.ts
  api/src/api/handlers/templates.test.ts
  dictionary/package.json
  dictionary/src/__tests__/handlers/batch.test.ts
  dictionary/src/__tests__/handlers/search.test.ts
  dictionary/src/__tests__/handlers/terms.test.ts
  dictionary/src/__tests__/services/ai/dictionary-generator.test.ts
  frontendv2/package.json
  frontendv2/src/components/practice-planning/__tests__/PlanCheckInModal.test.tsx
  frontendv2/src/components/practice-planning/__tests__/TemplateGallery.test.tsx
  frontendv2/src/components/practice-planning/__tests__/TemplatePublisherModal.test.tsx
  frontendv2/src/tests/setup.ts
  frontendv2/src/tests/unit/stores/logbookStore.test.ts
  package.json
  pnpm-lock.yaml
  scores/package.json
  scores/src/services/__tests__/hybridAiExtractor.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused vi.importActual()
  frontendv2/src/tests/unit/components/EnhancedPracticeReports.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: fix the generator
  frontendv2/tests/screenshots/capture-toolbox.spec.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: fix remotion missing logo;
  remotion-tutorial/public/assets/logo.png
Due: none

fix: fix build issue
  .gitignore
  api/src/utils/idempotency.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: localize template metadata and add retry logic for adoption counts
  api/src/api/handlers/templates.ts
  frontendv2/src/components/practice-planning/TemplateDetailModal.tsx
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-TW/common.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: update phase 4 gap tracking for completed items
  docs/tickets/planning-analytics-templates-phase4.md
Due: prettier --write

feat: improve planning tab UI with focused hero and compact design
  frontendv2/src/components/practice-planning/PlanProgressRail.tsx
  frontendv2/src/components/practice-planning/PlanningAnalyticsPanel.tsx
  frontendv2/src/components/practice-planning/PlanningView.test.tsx
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/locales/en/reports.json
  frontendv2/src/tests/mocks/i18n.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add i18n translations for new planning tab UI
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
Due: prettier --write

feat: add enhanced period selector with clear navigation for issue #610
  frontendv2/src/components/logbook/PracticeLogsList.tsx
  frontendv2/src/components/ui/PeriodSelector.tsx
  frontendv2/src/components/ui/index.ts
  frontendv2/src/locales/de/logbook.json
  frontendv2/src/locales/en/logbook.json
  frontendv2/src/locales/es/logbook.json
  frontendv2/src/locales/fr/logbook.json
  frontendv2/src/locales/zh-CN/logbook.json
  frontendv2/src/locales/zh-TW/logbook.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add practice timeline with bar chart for individual pieces (#609)
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/repertoire/PieceTimeline.tsx
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-TW/repertoire.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add comprehensive data export/import for device migration (#607)
  frontendv2/src/components/privacy/DataSubjectRights.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve Goal type mismatch in data export
  frontendv2/src/components/privacy/DataSubjectRights.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update remaining Goal type references to use aliases
  frontendv2/src/components/privacy/DataSubjectRights.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: redirect returning users to repertoire tab on landing page
  frontendv2/src/pages/Home.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write
