Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

fix: resolve infinite loop in MultiVoicePracticeView
  frontend/src/components/MultiVoicePracticeView.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: add multi-instrument support to logbook
  frontend/src/components/LogbookEntryList.test.tsx
  frontend/src/components/LogbookEntryList.tsx
  frontend/src/components/ManualEntryForm.test.tsx
  frontend/src/components/ManualEntryForm.tsx
  frontend/src/modules/logger/PracticeLoggerModule.test.ts
  frontend/src/modules/logger/PracticeLoggerModule.ts
  frontend/src/modules/logger/types.ts
  shared/types/index.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: add backend GraphQL schema and resolvers for logbook
  backend/migrations/0006_create_logbook_entries.sql
  backend/migrations/0007_create_goals.sql
  backend/src/resolvers/index.ts
  backend/src/resolvers/logbook.ts
  backend/src/schema/index.ts
  backend/src/schema/schema.graphql
  backend/src/types/generated/graphql.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: handle undefined arrays in logbook entries
  docs/LOGBOOK_IMPLEMENTATION_PLAN.md
  frontend/src/components/LogbookEntryList.tsx
  frontend/src/modules/logger/PracticeLoggerModule.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update LOGBOOK_IMPLEMENTATION_PLAN with Phase 1 completion status
  docs/LOGBOOK_IMPLEMENTATION_PLAN.md
Due: prettier --write

feat: implement backend resolvers for logbook entries and goals
  backend/.eslintrc.cjs
  backend/src/__tests__/unit/resolvers/logbook.test.ts
  backend/src/resolvers/logbook.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: mark Phase 2 Backend Support as completed
  docs/LOGBOOK_IMPLEMENTATION_PLAN.md
Due: prettier --write

feat: implement Phase 4 Logbook Reporting Analytics
  frontend/src/components/LogbookReports.tsx
  frontend/src/components/index.ts
  frontend/src/contexts/ModulesContext.tsx
  frontend/src/modules/analytics/LogbookReportingModule.test.ts
  frontend/src/modules/analytics/LogbookReportingModule.ts
  frontend/src/modules/analytics/index.ts
  frontend/src/modules/analytics/types.ts
  frontend/src/pages/Logbook.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

chore: additional file to commit
  frontend/src/utils/multiVoiceAudioManager.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement graceful D1 fallback and fix logbook reporting
  backend/.gitignore
  backend/src/__tests__/unit/services/auth.test.ts
  backend/src/resolvers/auth.ts
  backend/src/schema/schema.graphql
  backend/src/services/auth.ts
  backend/src/services/user.ts
  backend/src/types/generated/graphql.ts
  backend/src/types/shared.ts
  backend/src/utils/auth.ts
  frontend/src/App.tsx
  frontend/src/__tests__/unit/services/localStorage.test.ts
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/ModulesContext.tsx
  frontend/src/modules/analytics/LogbookReportingModule.ts
  frontend/src/modules/core/eventTypes.ts
  frontend/src/modules/logger/PracticeLoggerModule.ts
  frontend/src/pages/Logbook.test.tsx
  frontend/src/pages/Logbook.tsx
  frontend/src/services/dataSync.test.ts
  frontend/src/services/localStorage.ts
  frontend/src/tests/utils/apollo-mocks.ts
  shared/types/index.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement anonymous to authenticated user data sync
  .gitignore
  backend/jest.config.mjs
  backend/src/resolvers/auth.ts
  backend/src/resolvers/practice.ts
  backend/src/schema/schema.graphql
  backend/src/services/auth.ts
  backend/src/services/user.ts
  backend/src/types/shared.ts
  backend/tsconfig.json
  docs/plan/code-quality-refactoring-plan.md
  docs/plan/type-alignment-refactoring-plan.md
  frontend/jest.config.mjs
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/graphql/mutations/syncAnonymousData.ts
  frontend/src/services/dataSync.ts
  frontend/src/services/localStorage.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

test: fix frontend AuthContext test to match implementation
  backend/src/__tests__/unit/index.test.ts
  backend/src/__tests__/unit/resolvers/logbook.test.ts
  backend/src/__tests__/unit/resolvers/practice.test.ts
  backend/src/index.ts
  backend/src/resolvers/logbook.ts
  backend/src/resolvers/practice.ts
  backend/src/test-utils/graphql.ts
  backend/src/types/context.ts
  backend/src/utils/auth.ts
  frontend/src/contexts/AuthContext.test.tsx
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: handle TypeScript nested output structure in build script
  backend/build.js
Due: prettier --write

fix: move entire src directory structure to dist for proper imports
  backend/build.js
Due: prettier --write

fix: resolve production 500 error by fixing GraphQL schema loading
  backend/.gitignore
  backend/build.js
  backend/src/schema/index.ts
  backend/src/schema/schema.graphql
  backend/src/types/generated/graphql.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: add shared types architecture refactor plan
  docs/SHARED_TYPES_REFACTOR.md
Due: prettier --write

fix: resolve production errors and optimize bundle size
  backend/src/__tests__/unit/resolvers/practice.test.ts
  backend/src/resolvers/practice.ts
  backend/src/schema/index.ts
  frontend/public/_headers
  frontend/src/App.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/AuthVerify.tsx
  frontend/src/utils/multiVoiceAudioManager.test.ts
  frontend/src/utils/multiVoiceAudioManager.ts
  frontend/vite.config.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

chore: remove console statements and debug endpoints
  backend/src/__tests__/unit/index.test.ts
  backend/src/index.ts
  backend/src/resolvers/auth.ts
  backend/src/resolvers/logbook.ts
  backend/src/resolvers/practice.ts
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/AuthVerify.tsx
  frontend/src/pages/Debug.test.tsx
  frontend/src/pages/Debug.tsx
  frontend/src/pages/Logbook.tsx
  frontend/src/services/dataSync.ts
  frontend/src/services/localStorage.ts
  frontend/src/utils/multiVoiceAudioManager.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: optimize audio manager initialization to prevent multiple instances
  frontend/src/pages/Practice.tsx
  frontend/src/utils/multiVoiceAudioManager.ts
  frontend/src/utils/multiVoiceAudioManagerExtensions.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: major documentation cleanup and consolidation
  CLAUDE.md
  docs/DEBUG.md
  docs/DESIGN.md
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
  docs/archive/CONSOLIDATION_SUMMARY.md
  docs/archive/DOCUMENTATION_UPDATES.md
  docs/archive/LOGBOOK_IMPLEMENTATION_PLAN.md
  docs/archive/MODULES_IMPACT_ANALYSIS.md
  docs/archive/MULTI_VOICE_IMPLEMENTATION_PLAN.md
  docs/archive/MUSICXML_ARCHITECTURE_ANALYSIS.md
  docs/archive/PHASE_4_REMAINING_TASKS.md
  docs/archive/README.md
  docs/archive/SHARED_TYPES_REFACTOR.md
  docs/archive/VEXFLOW_TIMING_ANALYSIS.md
  docs/archive/code-quality-refactoring-plan.md
  docs/archive/type-alignment-refactoring-plan.md
Due: prettier --write

fix: resolve logbook storage sync and remove unused CurriculumModule
  docs/IMPROVEMENT_PLAN.md
  frontend/src/graphql/queries/practice.ts
  frontend/src/graphql/queries/user.ts
  frontend/src/modules/analytics/LogbookReportingModule.test.ts
  frontend/src/modules/analytics/LogbookReportingModule.ts
  frontend/src/modules/curriculum/CurriculumModule.test.ts
  frontend/src/modules/curriculum/CurriculumModule.ts
  frontend/src/modules/curriculum/index.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update tagline from sight-reading to practice journal
  README.md
  frontend/index.html
  frontend/src/components/LandingPage.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: implement proper logbook sync and data fetching from D1
  frontend/src/contexts/AuthContext.tsx
  frontend/src/graphql/queries/practice.ts
  frontend/src/modules/analytics/LogbookReportingModule.ts
  frontend/src/pages/Logbook.test.tsx
  frontend/src/pages/Logbook.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: correct GraphQL Connection pattern queries
  docs/SYNC_FLOW.md
  frontend/src/graphql/queries/practice.ts
  frontend/src/modules/analytics/LogbookReportingModule.ts
  frontend/src/pages/Logbook.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: update tests for localStorage service changes
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/graphql/queries/practice.ts
  frontend/src/modules/analytics/LogbookReportingModule.ts
  frontend/src/pages/Logbook.tsx
  frontend/src/services/localStorage.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: remove any types in AuthContext while maintaining schema alignment
  frontend/src/contexts/AuthContext.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: add GraphQL code generation to prevent schema drift
  .github/workflows/graphql-schema-check.yml
  .husky/pre-commit
  CLAUDE.md
  backend/src/types/shared.ts
  docs/GRAPHQL_MIGRATION.md
  frontend/.gitignore
  frontend/codegen.ts
  frontend/package.json
  frontend/src/generated/graphql.ts
  frontend/src/generated/introspection.json
  frontend/src/tests/utils/apollo-mocks.ts
  frontend/src/tests/utils/apollo-test-helpers.ts
  package-lock.json
  package.json
  scripts/check-graphql-drift.sh
  shared/types/index.ts
  shared/types/validation.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: add missing fields to auth mutations
  frontend/src/generated/graphql.ts
  frontend/src/graphql/queries/auth.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: additional GraphQL query field alignments
  frontend/src/services/dataSync.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

Potential fix for code scanning alert no. 28: Workflow does not contain permissions
  .github/workflows/graphql-schema-check.yml
Due: none

fix: extend auth token durations for better UX
  backend/src/resolvers/auth.ts
  backend/src/services/auth.ts
  backend/src/utils/auth.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: improve logbook loading and add logout button
  frontend/src/components/UserStatusIndicator.tsx
  frontend/src/pages/Logbook.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement comprehensive sync improvements and error handling
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/Logbook.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: add useMutation mock to Logbook tests
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/Logbook.test.tsx
  frontend/src/pages/Logbook.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve TypeScript errors in event handlers
  docs/SYNC_FLOW.md
  frontend/src/contexts/AuthContext.tsx
  frontend/src/modules/analytics/LogbookReportingModule.ts
  frontend/src/pages/Logbook.tsx
  frontend/src/utils/secureStorage.test.ts
  frontend/src/utils/secureStorage.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

test: add comprehensive D1 mock integration tests for auth persistence and sync timeout
  backend/src/__tests__/integration/auth-sync-flow.test.ts
  backend/src/services/auth.ts
  backend/src/test-utils/graphql.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: auth persistence and sync timeout issues
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/Logbook.tsx
  frontend/src/utils/secureStorage.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: add comprehensive D1 UAT testing with real local database
  backend/docs/UAT-TESTING.md
  backend/package.json
  backend/scripts/setup-local-d1.sh
  backend/src/__tests__/env.d.ts
  backend/src/__tests__/integration/d1-uat.test.ts
  backend/src/__tests__/tsconfig.json
  backend/vitest.config.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: UAT and integration tests for auth persistence and sync flow
  backend/src/__tests__/integration/auth-sync-flow.test.ts
  backend/src/__tests__/integration/d1-uat.test.ts
  backend/wrangler.toml
  package-lock.json
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: prevent Logbook page from hanging on refresh when authenticated
  frontend/src/pages/Logbook.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write
