Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && vitest related --run --no-coverage --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontendv2/**/*.{ts,tsx}": [
    "cd frontendv2 && eslint --fix",
    "cd frontendv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "api/**/*.{ts,tsx}": [
    "cd api && eslint --fix",
    "cd api && vitest related --run --no-coverage --passWithNoTests"
  ],
  "apiv2/**/*.{ts,tsx}": [
    "cd apiv2 && eslint --fix",
    "cd apiv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

fix: prevent data loss in fixLocalStorageData and add backup mechanism
  frontendv2/src/App.tsx
  frontendv2/src/tests/unit/App.test.tsx
  frontendv2/src/utils/fixLocalStorageData.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update scores migration to properly handle CHECK constraints
  scores/migrations/0016_migrate_to_lowercase.sql
  scores/migrations/rollback_lowercase.sql.rollback
Due: none

fix: correct scores migration to match actual staging schema
  scores/migrations/0016_migrate_to_lowercase.sql
  scores/migrations/rollback_lowercase.sql.rollback
Due: none

fix: simplify collections table update in migration
  scores/migrations/0016_migrate_to_lowercase.sql
Due: none

fix: update frontend filters to use lowercase enum values
  frontendv2/src/components/LogbookEntryList.tsx
  frontendv2/src/components/UnifiedSearch.tsx
  frontendv2/src/components/practice-reports/MonthlySummaries.tsx
  frontendv2/src/pages/ScoreBrowser.tsx
  frontendv2/src/services/scoreService.ts
  frontendv2/src/stores/practiceStore.ts
  frontendv2/src/stores/scoreStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: rename scores rollback script to prevent accidental execution
  scores/migrations/rollback_lowercase.sql
Due: none

chore: rename API rollback script to prevent accidental execution
  api/migrations/rollback_lowercase.sql.rollback
Due: none

fix: update migrations to match staging database schema
  api/migrations/0006_lowercase_enums.sql
  api/migrations/0007_migrate_data_to_lowercase.sql
Due: none

fix: add PRAGMA foreign_keys OFF/ON to prevent CASCADE deletes in migration
  CLAUDE.md
  api/migrations/0007_migrate_data_to_lowercase.sql
  docs/DESIGN.md
  docs/LOWERCASE_MIGRATION.md
Due: prettier --write

fix: align font style for last practiced date in PieceComposerStats
  frontendv2/src/components/practice-reports/PieceComposerStats.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update scores import handlers to use lowercase enum values
  scores/src/api/handlers/import-enhanced.ts
  scores/src/api/handlers/import.ts
Due: prettier --write

fix: sync logbook data between Google and Magic Link authentication
  frontendv2/src/stores/authStore.ts
  frontendv2/src/tests/unit/stores/authStore.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update E2E tests to use lowercase enum values
  frontendv2/tests/e2e/helpers/entry-helpers.ts
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove duplicate stats display in Pieces view
  frontendv2/src/components/practice-reports/PiecesStatistics.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused imports and variables in PiecesStatistics
  frontendv2/src/components/practice-reports/PiecesStatistics.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: preserve user notes in auto-logging summary modal
  frontendv2/src/modules/auto-logging/AutoLoggingProvider.tsx
  frontendv2/src/modules/auto-logging/__tests__/usePracticeTracking.test.ts
  frontendv2/src/modules/auto-logging/types.ts
  frontendv2/src/modules/auto-logging/usePracticeTracking.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused isAuthenticated variable from AutoLoggingProvider
  frontendv2/src/modules/auto-logging/AutoLoggingProvider.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Practice Counter autolog integration
  frontendv2/src/components/practice-counter/PracticeCounter.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: hide duplicate date headers in Recent Entries
  frontendv2/src/components/practice-counter/PracticeCounter.tsx
  frontendv2/src/components/practice-reports/components/EntryCard.tsx
  frontendv2/src/components/practice-reports/components/RecentEntries.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: move practice duration to right side of entry card
  frontendv2/src/components/practice-reports/components/EntryCard.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: Add Circle of Fifths tool to Toolbox
  frontendv2/src/components/circle-of-fifths/CircleOfFifths.test.tsx
  frontendv2/src/components/circle-of-fifths/CircleOfFifths.tsx
  frontendv2/src/components/circle-of-fifths/CircleOfFifthsControls.tsx
  frontendv2/src/components/circle-of-fifths/CircleVisualization.tsx
  frontendv2/src/components/circle-of-fifths/KeyDetailsPanel.tsx
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
  frontendv2/src/components/circle-of-fifths/index.ts
  frontendv2/src/components/circle-of-fifths/keyData.ts
  frontendv2/src/components/circle-of-fifths/types.ts
  frontendv2/src/locales/de/toolbox.json
  frontendv2/src/locales/en/toolbox.json
  frontendv2/src/locales/es/toolbox.json
  frontendv2/src/locales/fr/toolbox.json
  frontendv2/src/locales/zh-CN/toolbox.json
  frontendv2/src/locales/zh-TW/toolbox.json
  frontendv2/src/pages/Toolbox.tsx
  frontendv2/src/services/musicalAudioService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Resolve lint errors in Circle of Fifths implementation
  frontendv2/src/components/circle-of-fifths/CircleOfFifths.tsx
  frontendv2/src/components/circle-of-fifths/CircleOfFifthsControls.tsx
  frontendv2/src/components/circle-of-fifths/CircleVisualization.tsx
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
  frontendv2/src/services/musicalAudioService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Resolve TypeScript build error for unused parameter
  frontendv2/src/services/musicalAudioService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: Correct piano keyboard layout in Circle of Fifths
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

refactor: Improve Circle of Fifths layout for better responsive design
  frontendv2/src/components/circle-of-fifths/CircleOfFifths.test.tsx
  frontendv2/src/components/circle-of-fifths/CircleOfFifths.tsx
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

style: Use darker Morandi shades for better visibility on piano keyboard
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

style: Enhance Circle of Fifths with Morandi color refinements
  docs/DESIGN.md
  frontendv2/src/components/circle-of-fifths/KeyDetailsPanel.tsx
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
  frontendv2/tailwind.config.js
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: improve Circle of Fifths piano keyboard color palette
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
  frontendv2/tailwind.config.js
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: handle chord notation in toToneNote to prevent Tone.js errors
  frontendv2/src/services/musicalAudioService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: handle enharmonic slash notation in buildChord method
  frontendv2/src/services/musicalAudioService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add automated D1 database backup system
  .github/workflows/README.md
  .github/workflows/scheduled-backup.yml
  api/scripts/restore-from-backup.sh
  docs/BACKUP_SYSTEM.md
Due: prettier --write

Potential fix for code scanning alert no. 72: Workflow does not contain permissions
  .github/workflows/scheduled-backup.yml
Due: none

fix: remove incorrect --env flag from wrangler d1 commands in backup workflow
  .github/workflows/scheduled-backup.yml
Due: none

test: add detailed error output to backup workflow
  .github/workflows/scheduled-backup.yml
Due: none

test: enhance debugging to show wrangler error output
  .github/workflows/scheduled-backup.yml
Due: none

fix: remove debug output and keep only the env flag fix
  .github/workflows/scheduled-backup.yml
Due: none

chore: remove scheduled backup workflow for security reasons
  .github/workflows/scheduled-backup.yml
Due: none

chore: remove scheduled backup workflow for security reasons
  .github/workflows/README.md
  .github/workflows/scheduled-backup.yml
  api/scripts/BACKUP_README.md
  api/scripts/restore-from-backup.sh
  docs/BACKUP_SYSTEM.md
Due: prettier --write

fix: comprehensive Circle of Fifths UI improvements
  frontendv2/src/components/circle-of-fifths/CircleOfFifths.test.tsx
  frontendv2/src/components/circle-of-fifths/CircleOfFifths.tsx
  frontendv2/src/components/circle-of-fifths/CircleOfFifthsControls.tsx
  frontendv2/src/components/circle-of-fifths/CircleVisualization.tsx
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
  frontendv2/src/components/circle-of-fifths/keyData.ts
  frontendv2/src/components/circle-of-fifths/types.ts
  frontendv2/src/services/musicalAudioService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve ESLint errors in CircleVisualization
  frontendv2/src/components/circle-of-fifths/CircleVisualization.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write
