Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @mirubato/backend exec eslint --fix, pnpm --filter @mirubato/backend exec vitest related --run --no-coverage --passWithNoTests, pnpm --filter @mirubato/frontend exec eslint --fix, pnpm --filter @mirubato/frontend exec jest --bail --findRelatedTests --passWithNoTests, pnpm --filter @mirubato/frontendv2 exec eslint --fix, pnpm --filter @mirubato/frontendv2 exec vitest related --run --no-coverage --passWithNoTests, pnpm --filter @mirubato/api exec eslint --fix, pnpm --filter @mirubato/api exec vitest related --run --no-coverage --passWithNoTests, pnpm --filter @mirubato/dictionary exec eslint --fix, pnpm --filter @mirubato/dictionary exec vitest related --run --no-coverage --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "pnpm --filter @mirubato/backend exec eslint --fix",
    "pnpm --filter @mirubato/backend exec vitest related --run --no-coverage --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "pnpm --filter @mirubato/frontend exec eslint --fix",
    "pnpm --filter @mirubato/frontend exec jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontendv2/**/*.{ts,tsx}": [
    "pnpm --filter @mirubato/frontendv2 exec eslint --fix",
    "pnpm --filter @mirubato/frontendv2 exec vitest related --run --no-coverage --passWithNoTests"
  ],
  "api/**/*.{ts,tsx}": [
    "pnpm --filter @mirubato/api exec eslint --fix",
    "pnpm --filter @mirubato/api exec vitest related --run --no-coverage --passWithNoTests"
  ],
  "dictionary/**/*.{ts,tsx}": [
    "pnpm --filter @mirubato/dictionary exec eslint --fix",
    "pnpm --filter @mirubato/dictionary exec vitest related --run --no-coverage --passWithNoTests"
  ],
  "**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,html,cjs,mjs,graphql}": [
    "prettier --write"
  ]
}

fix: use user's default instrument for new scores and unblock Google Auth login
  frontendv2/src/components/score/ImportScoreModal.tsx
  frontendv2/src/stores/authStore.ts
  frontendv2/src/tests/unit/stores/authStore.test.ts
Due: pnpm --filter @mirubato/frontendv2 exec eslint --fix, pnpm --filter @mirubato/frontendv2 exec vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: normalize instrument comparison to be case-insensitive
  frontendv2/src/components/score/ImportScoreModal.tsx
Due: pnpm --filter @mirubato/frontendv2 exec eslint --fix, pnpm --filter @mirubato/frontendv2 exec vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: wrap async assertion in waitFor in HomePage email login test
  frontendv2/src/tests/unit/pages/Home.test.tsx
Due: pnpm --filter @mirubato/frontendv2 exec eslint --fix, pnpm --filter @mirubato/frontendv2 exec vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: format pnpm-lock.yaml with Prettier
  pnpm-lock.yaml
Due: prettier --write

chore: fix Prettier formatting on pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

fix(security): resolve 3 Dependabot alerts via pnpm overrides
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: formatter
  pnpm-lock.yaml
Due: prettier --write

fix(security): fix rollup path traversal and minimatch ReDoS vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: add "type": "module" to dictionary and scores package.json
  dictionary/package.json
  scores/package.json
Due: prettier --write

chore: prettier
  pnpm-lock.yaml
Due: prettier --write

fix: resolve 4 dependabot security alerts and fix Hono type errors
  dictionary/src/api/handlers/terms.ts
  pnpm-lock.yaml
  scores/src/api/handlers/pdf-renderer-v2.ts
  scores/src/api/handlers/pdf-renderer.ts
  scores/src/api/handlers/serveR2.ts
Due: pnpm --filter @mirubato/dictionary exec eslint --fix, pnpm --filter @mirubato/dictionary exec vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve CodeQL incomplete-sanitization alert in analyze-duplicate-pieces
  api/scripts/analyze-duplicate-pieces.ts
Due: pnpm --filter @mirubato/api exec eslint --fix, pnpm --filter @mirubato/api exec vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: update pnpm/action-setup v2 → v5 and actions/checkout v4 → v6.0.2
  .github/workflows/ci.yml
  .github/workflows/claude-code.yml
  .github/workflows/deploy-dashboard.yml
  .github/workflows/validate-translations.yml
Due: prettier --write

chore: update GitHub Actions to latest versions
  .github/workflows/ci.yml
  .github/workflows/claude-code.yml
  .github/workflows/deploy-dashboard.yml
  .github/workflows/validate-translations.yml
Due: prettier --write

chore: harden npm supply chain with ignore-scripts and min-release-age
  .npmrc
  pnpm-workspace.yaml
Due: prettier --write

fix: resolve Hono 4.12.12 type errors and regenerate lockfile
  .npmrc
  dictionary/src/api/handlers/batch.ts
  dictionary/src/api/handlers/enhance.ts
  dictionary/src/api/handlers/search.ts
  dictionary/src/api/handlers/terms.ts
  dictionary/src/middleware/cache.ts
  dictionary/src/middleware/rate-limit.ts
  pnpm-lock.yaml
Due: pnpm --filter @mirubato/dictionary exec eslint --fix, pnpm --filter @mirubato/dictionary exec vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(deps): override follow-redirects to >=1.16.0 to fix auth header leak on cross-domain redirects
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: exclude pnpm-lock.yaml from Prettier
  .prettierignore
Due: none

chore(deps): patch hono and fast-uri to clear dependabot alerts
  .npmrc
  api/package.json
  dictionary/package.json
  package.json
  packages/workers-utils/package.json
  pnpm-lock.yaml
  scores/package.json
Due: prettier --write

chore(service-template): align with current workspace patterns
  service-template/.eslintrc.json
  service-template/drizzle.config.ts
  service-template/eslint.config.js
  service-template/package.json
Due: prettier --write

Fix for Unused loop iteration variable
  sync-worker/src/syncCoordinator.ts
Due: prettier --write

fix(deps): patch react-router-dom to 7.15.0 and pin pnpm via mise
  frontendv2/package.json
  mise.toml
  pnpm-lock.yaml
Due: prettier --write

chore(lint): remove dead legacy .eslintrc.json shadow layer
  api/.eslintrc.json
  dictionary/.eslintrc.json
  scores/.eslintrc.json
  scores/eslint.config.js
Due: prettier --write

chore(lint-staged): remove dead backend/frontend glob blocks
  .lintstagedrc.json
Due: prettier --write

chore(frontendv2): attach issue refs to deferred TODOs
  frontendv2/src/components/profile/ProfileTab.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/components/score/ScoreViewer.tsx
  frontendv2/src/hooks/useLayoutPreferences.tsx
Due: pnpm --filter @mirubato/frontendv2 exec eslint --fix, pnpm --filter @mirubato/frontendv2 exec vitest related --run --no-coverage --passWithNoTests, prettier --write

docs(workspace): explain why service-template/dashboard are excluded
  pnpm-workspace.yaml
Due: prettier --write

fix(deps): patch undici, esbuild, and form-data dependabot alerts
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): regenerate pnpm-lock.yaml with root overrides intact
  pnpm-lock.yaml
Due: prettier --write

fix(deps): resolve all open Dependabot advisories
  frontendv2/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): bump hono to ^4.13.5 with a correctly generated lockfile
  api/package.json
  dictionary/package.json
  packages/workers-utils/package.json
  pnpm-lock.yaml
  scores/package.json
Due: prettier --write

fix(deps): bump vitest and @vitest/coverage-v8 to ^4.1.11 (GHSA-82fw-gwwq-j7x9)
  api/package.json
  dictionary/package.json
  frontendv2/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/workers-utils/package.json
  pnpm-lock.yaml
  scores/package.json
Due: prettier --write

feat(infra): add cf CLI config alongside wrangler for staging validation
  .gitignore
  api/cloudflare.config.ts
  api/package.json
  api/vite.config.ts
  dictionary/cloudflare.config.ts
  dictionary/package.json
  dictionary/vite.config.ts
  frontendv2/cloudflare.config.ts
  frontendv2/package.json
  scores/cloudflare.config.ts
  scores/package.json
  scores/vite.config.ts
  sync-worker/cloudflare.config.ts
  sync-worker/package.json
  sync-worker/vite.config.ts
Due: pnpm --filter @mirubato/frontendv2 exec eslint --fix, pnpm --filter @mirubato/frontendv2 exec vitest related --run --no-coverage --passWithNoTests, pnpm --filter @mirubato/api exec eslint --fix, pnpm --filter @mirubato/api exec vitest related --run --no-coverage --passWithNoTests, pnpm --filter @mirubato/dictionary exec eslint --fix, pnpm --filter @mirubato/dictionary exec vitest related --run --no-coverage --passWithNoTests, prettier --write
