Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && vitest related --run --no-coverage --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontendv2/**/*.{ts,tsx}": [
    "cd frontendv2 && eslint --fix",
    "cd frontendv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "api/**/*.{ts,tsx}": [
    "cd api && eslint --fix",
    "cd api && vitest related --run --no-coverage --passWithNoTests"
  ],
  "dictionary/**/*.{ts,tsx}": [
    "cd dictionary && eslint --fix",
    "cd dictionary && vitest related --run --no-coverage --passWithNoTests"
  ],
  "**/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,html,cjs,mjs,graphql}": [
    "prettier --write"
  ]
}

fix(i18n): restore background colors for type badges in all languages
  frontendv2/src/components/LogbookEntryList.tsx
  frontendv2/src/components/logbook/PracticeLogsList.tsx
  frontendv2/src/components/ui/CompactEntryRow.tsx
  frontendv2/tailwind.config.js
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(ui): improve timer button colors for better visual hierarchy
  frontendv2/src/components/TimerEntry.tsx
  frontendv2/src/components/ui/Button.tsx
  frontendv2/tailwind.config.js
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: prettier
  frontendv2/src/components/TimerEntry.tsx
  frontendv2/src/components/ui/Button.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(ui): arrange logbook overview stats horizontally on mobile
  frontendv2/src/components/practice-reports/SummaryStats.tsx
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(ui): improve stats display with centering and responsive labels
  frontendv2/src/components/practice-reports/RepertoireStats.tsx
  frontendv2/src/components/practice-reports/SummaryStats.tsx
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/repertoire.json
  frontendv2/src/locales/zh-TW/reports.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: prettier
  frontendv2/src/components/practice-reports/RepertoireStats.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: implement bidirectional sync for local entries after authentication
  docs/SYNC.md
  frontendv2/src/stores/authStore.ts
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/manual/test-bidirectional-sync.md
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add repertoire deletion tracking and improve sync error handling
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/stores/repertoireStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: update SYNC.md with repertoire deletion tracking and improvements
  docs/SYNC.md
Due: prettier --write

fix: implement bidirectional sync for logbook and repertoire data (#567)
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/stores/repertoireStore.ts
  frontendv2/src/tests/manual/test-bidirectional-sync.md
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve linter error by properly typing conflict object
  frontendv2/src/stores/logbookStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: prettier
  frontendv2/src/stores/logbookStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: harden logbook sync across devices \
  frontendv2/src/stores/logbookStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: logbook and sync client gap
  frontendv2/src/api/client.ts
  frontendv2/src/services/webSocketSync.ts
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/utils/deviceId.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: unittest for webSocketSync
  frontendv2/src/tests/unit/services/webSocketSync.offlineQueue.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: fix the gap between different datatime formate
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/unit/stores/logbookStore.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: fix test
  frontendv2/src/tests/integration/sync.test.ts
  frontendv2/src/tests/unit/stores/logbookStore.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: fix tz
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/unit/stores/logbookStore.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: fix more sync normalization
  frontendv2/src/api/logbook.ts
  frontendv2/src/tests/unit/api/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: fix test
  frontendv2/src/tests/unit/api/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: #567 remaining sync error
  api/src/api/handlers/sync.ts
  api/src/schemas/entities.ts
  pnpm-workspace.yaml
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: #567 fix linter and tests
  api/src/api/handlers/sync.test.ts
  api/src/api/handlers/sync.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: prettier
  api/src/api/handlers/sync.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: last gap of deletion sync
  frontendv2/src/stores/logbookStore.ts
  sync-worker/src/schemas.ts
  sync-worker/src/syncCoordinator.ts
  sync-worker/src/utils/scoreIdNormalizer.ts
  sync-worker/worker-configuration.d.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: fixing the score-id inconsistency
  api/src/api/handlers/health.ts
  api/src/api/handlers/repertoire.ts
  api/src/api/handlers/sync.ts
  api/src/utils/scoreIdNormalizer.test.ts
  api/src/utils/scoreIdNormalizer.ts
  api/tests/unit/api.test.ts
  api/vitest.config.ts
  docs/core-happy-path.md
  frontendv2/package.json
  frontendv2/src/App.tsx
  frontendv2/src/services/metronomeService.test.ts
  frontendv2/src/services/metronomeService.ts
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/setup.ts
  frontendv2/src/utils/__tests__/scoreIdNormalizer.test.ts
  frontendv2/src/utils/migrations/repairCanonicalScoreIds.ts
  frontendv2/src/utils/scoreIdNormalizer.ts
  frontendv2/vitest.config.ts
  package.json
  scores/src/utils/scoreIdNormalizer.ts
  sync-worker/src/schemas.ts
  sync-worker/src/utils/scoreIdNormalizer.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: fix tests and linter
  frontendv2/src/services/metronomeService.test.ts
  frontendv2/src/services/metronomeService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: fix build error
  frontendv2/src/services/metronomeService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: prettier
  api/src/api/handlers/repertoire.ts
  docs/core-happy-path.md
  frontendv2/src/services/metronomeService.test.ts
  frontendv2/src/services/metronomeService.ts
  frontendv2/src/utils/migrations/repairCanonicalScoreIds.ts
  sync-worker/src/schemas.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve WebSocket sync issues caused by clock skew
  frontendv2/src/services/webSocketSync.ts
  frontendv2/src/stores/authStore.ts
  sync-worker/src/syncCoordinator.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: update docs but switch to token based sync later
  docs/SYNC_TODO.md
Due: prettier --write

fix: add stat to piece detail page
  frontendv2/src/components/repertoire/PieceDetailView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: prettier
  docs/SYNC_TODO.md
  frontendv2/src/components/repertoire/PieceDetailView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: move divider to make it align with original request
  frontendv2/src/components/repertoire/PieceDetailView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: prettier
  frontendv2/src/components/repertoire/PieceDetailView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: fix broken highlight with non x/4 time signatures
  frontendv2/src/components/metronome/CollapsibleMetronome.tsx
  frontendv2/src/pages/Toolbox.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix the metronome highlight is off when time signature is not x/4 issue
  frontendv2/src/components/score/ScoreControls.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: implement sequence-based sync tracking to fix multi-device sync issues
  api/migrations/0009_add_sync_sequence.sql
  api/scripts/test-sync-structure.sql
  api/src/api/handlers/pieces.ts
  api/src/api/handlers/repertoire.ts
  api/src/tests/comprehensive-undefined-handling.test.ts
  api/src/tests/d1-type-error.test.ts
  api/src/utils/database.test.ts
  api/src/utils/database.ts
  frontendv2/src/services/webSocketSync.ts
  frontendv2/src/stores/authStore.ts
  sync-worker/src/schemas.ts
  sync-worker/src/syncCoordinator.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: fix tests and move the sync to correct file;
  api/migrations/0011_add_sync_sequence.sql
  api/src/tests/comprehensive-undefined-handling.test.ts
  api/src/tests/d1-type-error.test.ts
  frontendv2/src/services/webSocketSync.ts
  sync-worker/src/syncCoordinator.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript linter errors in sync-worker
  sync-worker/src/syncCoordinator.ts
Due: prettier --write
