Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: apply title case formatting to piece names in repertoire views
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: capitalize time-related text in UI for consistency
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/utils/dateUtils.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update Active Pieces count to only include pieces with 'learning' status
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: improve instrument selection workflow and sorting
  frontendv2/src/components/logbook/InstrumentSelector.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: UI improvements for issues #284, #292, and #277
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/HeatmapCalendar.tsx
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: adjust heatmap calendar month label positioning
  frontendv2/src/components/practice-reports/visualizations/charts/HeatmapCalendar.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: prevent clock picker overflow on mobile devices
  frontendv2/src/components/ui/ClockTimePicker.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: batch UI improvements for issues #314, #313, #292, #306, and #308
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/locales/zh-TW/repertoire.json
  frontendv2/src/pages/Toolbox.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: UI refinements for keyboard background and form layout
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve Circle of Fifths audio quality and fix minor chord playback
  frontendv2/src/components/circle-of-fifths/CircleOfFifths.tsx
  frontendv2/src/services/musicalAudioService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

refactor: simplify audio service to use only sampled piano
  frontendv2/src/components/circle-of-fifths/CircleOfFifths.tsx
  frontendv2/src/services/musicalAudioService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add delete functionality for repertoire items without practice history (#296)
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/en/repertoire.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-TW/repertoire.json
  frontendv2/src/tests/unit/components/repertoire/FocusedRepertoireItem.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: properly encode scoreId in repertoire API calls
  frontendv2/src/api/repertoire.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove "Read more" toggle in Music Dictionary
  frontendv2/src/components/dictionary/DictionaryTerm.tsx
  frontendv2/src/locales/de/toolbox.json
  frontendv2/src/locales/en/toolbox.json
  frontendv2/src/locales/es/toolbox.json
  frontendv2/src/locales/fr/toolbox.json
  frontendv2/src/locales/zh-CN/toolbox.json
  frontendv2/src/locales/zh-TW/toolbox.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: correct famous works assignments in Circle of Fifths
  frontendv2/src/components/circle-of-fifths/keyData.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: correct Wikipedia and YouTube link generation in Music Dictionary
  dictionary/src/__tests__/services/ai/dictionary-generator.test.ts
  dictionary/src/config/ai-models.ts
  dictionary/src/services/ai/dictionary-generator.ts
Due: prettier --write

feat: improve Wikipedia link accuracy with API integration
  dictionary/docs/wikipedia-url-generation.md
  dictionary/scripts/fix-wikipedia-urls.ts
  dictionary/src/__tests__/services/ai/dictionary-generator.test.ts
  dictionary/src/__tests__/utils/wikipedia-url.test.ts
  dictionary/src/config/ai-models.ts
  dictionary/src/services/ai/dictionary-generator.ts
  dictionary/src/utils/wikipedia-url.ts
Due: prettier --write

chore: fix linter error
  dictionary/src/utils/wikipedia-url.ts
Due: prettier --write

feat: add Wikipedia URL cleanup to admin portal
  dictionary/scripts/fix-wikipedia-urls.ts
  dictionary/src/api/handlers/admin.ts
  dictionary/src/routes/admin-portal.ts
Due: prettier --write

fix: resolve lint errors for staging deployment
  dictionary/src/api/handlers/admin.ts
  dictionary/src/services/ai/dictionary-generator.ts
Due: prettier --write

feat: add multi-language support for Wikipedia URLs
  dictionary/src/__tests__/services/ai/dictionary-generator.test.ts
  dictionary/src/api/handlers/admin.ts
  dictionary/src/services/ai/dictionary-generator.ts
  dictionary/src/utils/wikipedia-url.ts
  dictionary/wrangler.toml
Due: prettier --write

chore: add Cloudflare account_id to all wrangler.toml files
  api/wrangler.toml
  frontendv2/wrangler.toml
  scores/wrangler.toml
  service-template/wrangler.toml
Due: none

fix: CSV export now properly handles line breaks in notes field
  frontendv2/src/components/practice-reports/views/DataTableView.tsx
  frontendv2/src/components/practice-reports/views/__tests__/DataTableView.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve scrollbar behavior on mobile for Toolbox components
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
  frontendv2/src/pages/Toolbox.tsx
  frontendv2/src/styles/index.css
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: auto-redirect to Logbook after sign-in and fix edit notes navigation
  frontendv2/src/components/repertoire/RepertoireView.tsx
  frontendv2/src/pages/Home.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: prevent navigation away from piece detail when editing practice session
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: show piece input fields when editing entries without pieces (#295)
  frontendv2/src/components/ManualEntryForm.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update Toolbox tab names to be more concise
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/de/logbook.json
  frontendv2/src/locales/de/repertoire.json
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/de/toolbox.json
  frontendv2/src/locales/en/toolbox.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/es/logbook.json
  frontendv2/src/locales/es/repertoire.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/es/toolbox.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/fr/logbook.json
  frontendv2/src/locales/fr/repertoire.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/fr/toolbox.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-CN/logbook.json
  frontendv2/src/locales/zh-CN/repertoire.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-CN/toolbox.json
  frontendv2/src/locales/zh-TW/common.json
  frontendv2/src/locales/zh-TW/logbook.json
  frontendv2/src/locales/zh-TW/repertoire.json
  frontendv2/src/locales/zh-TW/reports.json
  frontendv2/src/locales/zh-TW/toolbox.json
Due: prettier --write

fix: edit notes button not responding in piece detail view (#339)
  frontendv2/src/components/repertoire/RepertoireView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve mobile UI responsiveness across multiple components
  frontendv2/src/components/layout/BottomTabs.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/HeatmapCalendar.tsx
  frontendv2/src/components/repertoire/AddToRepertoireModal.tsx
  frontendv2/src/components/repertoire/FocusedRepertoireItem.tsx
  frontendv2/src/components/repertoire/RepertoireCard.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add i18n labels for timer and add buttons in bottom navigation
  frontendv2/src/components/layout/BottomTabs.tsx
  frontendv2/src/locales/de/common.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/es/common.json
  frontendv2/src/locales/fr/common.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-TW/common.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve mobile dropdown width and padding for status selects
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/ui/Select.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: vertical layout for timer buttons on mobile to prevent overflow
  frontendv2/src/components/TimerEntry.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: show only last 3 months in heatmap on mobile to prevent scrolling
  frontendv2/src/components/practice-reports/visualizations/charts/HeatmapCalendar.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove day labels and extra padding on mobile heatmap
  frontendv2/src/components/practice-reports/visualizations/charts/HeatmapCalendar.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: make heatmap calendar responsive with smaller cells on mobile
  frontendv2/src/components/practice-reports/visualizations/charts/HeatmapCalendar.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve UI alignment issues for mobile heatmap and piano keyboard
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
  frontendv2/src/components/practice-reports/views/OverviewView.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/HeatmapCalendar.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: align black keys properly on landing page piano
  frontendv2/src/components/InteractivePiano.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: mobile UI bottom menu consistency across all pages (#346)
  frontendv2/src/components/layout/AppLayout.tsx
  frontendv2/src/components/layout/BottomTabs.tsx
  frontendv2/src/pages/ScoreBrowser.tsx
  frontendv2/src/pages/Scorebook.tsx
  frontendv2/src/pages/Toolbox.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add functional Add button modal for Toolbox
  frontendv2/src/locales/en/toolbox.json
  frontendv2/src/pages/Toolbox.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

Path conditions:
  cd backend && eslint --fix: any of: backend/**/*.{ts,tsx}
  cd backend && vitest related --run --no-coverage --passWithNoTests: any of: backend/**/*.{ts,tsx}
  cd frontend && eslint --fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && jest --bail --findRelatedTests --passWithNoTests: any of: frontend/**/*.{ts,tsx}
  cd frontendv2 && eslint --fix: any of: frontendv2/**/*.{ts,tsx}
  cd frontendv2 && vitest related --run --no-coverage --passWithNoTests: any of: frontendv2/**/*.{ts,tsx}
  cd api && eslint --fix: any of: api/**/*.{ts,tsx}
  cd api && vitest related --run --no-coverage --passWithNoTests: any of: api/**/*.{ts,tsx}
  cd apiv2 && eslint --fix: any of: apiv2/**/*.{ts,tsx}
  cd apiv2 && vitest related --run --no-coverage --passWithNoTests: any of: apiv2/**/*.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
