Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": [
    "prettier --write"
  ]
}

docs: update roadmap to reflect completed testing infrastructure
  docs/ROADMAP.md
Due: prettier --write

docs: add detailed next steps documentation for development continuity
  NEXT_STEPS.md
Due: prettier --write

fix: resolve tempo speedup bug and create reusable MusicPlayer component
  src/components/MusicPlayer.tsx
  src/components/index.ts
  src/pages/Practice.tsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update roadmap and next steps after tempo bug fix
  NEXT_STEPS.md
  docs/ROADMAP.md
Due: prettier --write

feat: redesign practice page with elegant controls and page-based navigation
  NEXT_STEPS.md
  docs/FEATURE_AUTO_PAGE_FLIP.md
  docs/PRACTICE_CONTROLS_GUIDE.md
  docs/PRACTICE_PAGE_DESIGN.md
  src/App.tsx
  src/components/CircularControl.tsx
  src/components/SheetMusicDisplay.tsx
  src/components/index.ts
  src/pages/PracticeRedesign.tsx
  src/styles/index.css
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: migrate redesigned practice page to production
  NEXT_STEPS.md
  src/App.tsx
  src/pages/Practice.tsx
  src/pages/PracticeRedesign.tsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve practice page bugs
  src/components/CircularControl.tsx
  src/components/SheetMusicDisplay.tsx
  src/utils/notationRenderer.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: improve mobile portrait scrolling for sheet music display
  src/components/SheetMusicDisplay.tsx
  src/pages/Practice.tsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

refactor: implement page-based navigation for all screen sizes
  src/components/SheetMusicDisplay.tsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: prevent sheet music overflow on mobile devices
  src/components/SheetMusicDisplay.tsx
  src/pages/Practice.tsx
  src/utils/notationRenderer.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: improve sheet music size and readability on mobile
  src/components/SheetMusicDisplay.tsx
  src/pages/Practice.tsx
  src/utils/notationRenderer.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: dynamically show multiple measures on mobile portrait
  src/components/SheetMusicDisplay.tsx
  src/utils/notationRenderer.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: force minimum 2 measures per page on mobile portrait
  src/components/SheetMusicDisplay.tsx
  src/utils/notationRenderer.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update roadmap and next steps after practice page redesign
  NEXT_STEPS.md
  docs/ROADMAP.md
Due: prettier --write

feat: add component tests
  jest.config.mjs
  jest.integration.config.mjs
  src/components/CircularControl.test.tsx
  src/components/SheetMusicDisplay.test.tsx
  tests/integration/Practice.integration.test.tsx
  tests/setup/integration.setup.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement GraphQL backend with Apollo Server for Cloudflare Workers
  NEXT_STEPS.md
  backend/.eslintrc.cjs
  backend/.gitignore
  backend/codegen.yml
  backend/jest.config.mjs
  backend/migrations/0001_create_users.sql
  backend/migrations/0002_create_user_preferences.sql
  backend/migrations/0003_create_sheet_music.sql
  backend/migrations/0004_create_practice_sessions.sql
  backend/migrations/0005_create_practice_logs.sql
  backend/package-lock.json
  backend/package.json
  backend/src/__mocks__/nanoid.ts
  backend/src/__tests__/integration/auth.test.ts
  backend/src/__tests__/unit/services/auth.test.ts
  backend/src/__tests__/unit/services/user.test.ts
  backend/src/index.ts
  backend/src/resolvers/auth.ts
  backend/src/resolvers/index.ts
  backend/src/resolvers/practice.ts
  backend/src/resolvers/scalars.ts
  backend/src/resolvers/sheetMusic.ts
  backend/src/resolvers/user.ts
  backend/src/schema/index.ts
  backend/src/schema/schema.graphql
  backend/src/services/auth.ts
  backend/src/services/email.ts
  backend/src/services/user.ts
  backend/src/test-utils/db.ts
  backend/src/test-utils/graphql.ts
  backend/src/test-utils/setup.ts
  backend/src/types/context.ts
  backend/src/types/generated/graphql.ts
  backend/src/types/shared.ts
  backend/src/utils/auth.ts
  backend/src/utils/rateLimiter.ts
  backend/tsconfig.json
  docs/ROADMAP.md
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update all documentation for GraphQL backend architecture
  docs/API_SPECIFICATION.md
  docs/DATA_FLOW_DIAGRAMS.md
  docs/DEPLOYMENT_GUIDE.md
  docs/INFRASTRUCTURE.md
  docs/ROADMAP.md
  docs/SYSTEM_DESIGN.md
Due: prettier --write

docs: update roadmap with backend completion status and next steps
  docs/ROADMAP.md
Due: prettier --write

docs: update documentation for monorepo structure
  docs/CLOUDFLARE_CSP_FIX.md
  docs/DEPLOYMENT_GUIDE.md
  docs/DEVELOPMENT_SETUP.md
  docs/INFRASTRUCTURE.md
  docs/ROADMAP.md
  frontend/scripts/download-piano-samples.js
Due: prettier --write

chore: clean up root directory after monorepo migration
  backend/wrangler.example.toml
Due: none

chore: add comprehensive .gitignore files for frontend and backend
  backend/.gitignore
  frontend/.gitignore
Due: none

docs: simplify README.md and remove redundant structure file
  README.md
  README_NEW_STRUCTURE.md
Due: prettier --write

docs: add proper attribution and thanks for open-source book
  README.md
Due: prettier --write

fix: update install scripts to skip prepare hooks
  INSTALL_ISSUES.md
  README.md
  backend/package-lock.json
  install.sh
Due: prettier --write

docs: add workaround for npm install issues with Node v23
  INSTALL_ISSUES.md
  README.md
  install.sh
Due: prettier --write

fix: resolve backend TypeScript errors and update dependencies
  .lintstagedrc.json
  backend/package.json
  backend/src/__tests__/unit/services/auth.test.ts
  backend/src/index.ts
  backend/src/resolvers/auth.ts
  backend/src/resolvers/user.ts
  backend/src/services/auth.ts
  backend/src/services/email.ts
  backend/src/services/user.ts
  backend/src/test-utils/db.ts
  backend/src/test-utils/graphql.ts
  backend/src/test-utils/setup.ts
  backend/src/utils/auth.ts
  package-lock.json
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

chore: fix missing ending bracket
  package.json
Due: prettier --write

fix: resolve Cloudflare build failures
  frontend/wrangler.json
  install.sh
  package-lock.json
  package.json
Due: prettier --write

feat: restore frontend Workers configuration and update deployment docs
  CLAUDE.md
  frontend/src/index.js
  frontend/wrangler.json
Due: prettier --write

fix: add wrangler.json for backend to fix Cloudflare build
  backend/wrangler.json
Due: prettier --write

chore: remove outdated wrangler.example.toml
  backend/wrangler.example.toml
Due: none

fix: remove deprecated node_compat from backend wrangler.json
  backend/wrangler.json
Due: prettier --write

fix: update backend compatibility_date and worker name
  backend/wrangler.json
Due: prettier --write

fix: add D1 database_id to backend configuration
  backend/wrangler.json
Due: prettier --write

docs: update ROADMAP.md with current project status
  docs/ROADMAP.md
Due: prettier --write

chore: fix missig image on README.md
  frontend/public/mirubato-screenshot.jpg
Due: none

docs: update and reorganize ROADMAP.md
  docs/ROADMAP.md
Due: prettier --write

docs: remove duplicate Phase 3 section in ROADMAP
  docs/ROADMAP.md
Due: prettier --write

feat: integrate Apollo Client for GraphQL communication
  .gitignore
  frontend/.env.example
  frontend/codegen.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/index.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/graphql/queries/auth.ts
  frontend/src/graphql/queries/user.ts
  frontend/src/lib/apollo/client.ts
  frontend/src/main.tsx
  frontend/tsconfig.json
  package-lock.json
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write
