Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(ui): fix all the exports
  frontendv2/src/components/ui/CompactEntryRow.tsx
  frontendv2/src/components/ui/EntryDetailPanel.tsx
  frontendv2/src/components/ui/ProtectedButton.tsx
  frontendv2/src/components/ui/ProtectedButtonFactory.ts
  frontendv2/src/components/ui/index.ts
  packages/ui/src/components/Autocomplete.tsx
  packages/ui/src/components/Card.tsx
  packages/ui/src/components/ClockTimePicker.tsx
  packages/ui/src/components/DateSeparator.tsx
  packages/ui/src/components/DropdownMenu.tsx
  packages/ui/src/components/FormError.tsx
  packages/ui/src/components/Loading.tsx
  packages/ui/src/components/Modal.tsx
  packages/ui/src/components/PeriodSelector.tsx
  packages/ui/src/components/ProgressiveImage.tsx
  packages/ui/src/components/ResizableSplitView.tsx
  packages/ui/src/components/SegmentedControl.tsx
  packages/ui/src/components/Select.tsx
  packages/ui/src/components/Tabs.tsx
  packages/ui/src/components/Tag.tsx
  packages/ui/src/components/TimelineNav.tsx
  packages/ui/src/components/Toast.tsx
  packages/ui/src/index.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(ui): clean up and add proper tests
  packages/ui/src/components/Autocomplete.test.tsx
  packages/ui/src/components/Autocomplete.tsx
  packages/ui/src/components/Card.test.tsx
  packages/ui/src/components/ClockTimePicker.test.tsx
  packages/ui/src/components/ClockTimePicker.tsx
  packages/ui/src/components/DateSeparator.test.tsx
  packages/ui/src/components/DropdownMenu.test.tsx
  packages/ui/src/components/DropdownMenu.tsx
  packages/ui/src/components/FormError.test.tsx
  packages/ui/src/components/Loading.test.tsx
  packages/ui/src/components/PeriodSelector.test.tsx
  packages/ui/src/components/ProgressiveImage.test.tsx
  packages/ui/src/components/ResizableSplitView.test.tsx
  packages/ui/src/components/SegmentedControl.test.tsx
  packages/ui/src/components/Select.test.tsx
  packages/ui/src/components/Tabs.test.tsx
  packages/ui/src/components/Tag.test.tsx
  packages/ui/src/components/TimePicker.tsx
  packages/ui/src/components/TimelineNav.test.tsx
  packages/ui/src/components/Toast.test.tsx
  packages/ui/src/components/Typography.test.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/hooks.ts
Due: prettier --write

feat(ui): sync dictionary platte
  dictionary/src/routes/admin-portal.ts
  dictionary/src/utils/seo-html-generator.ts
Due: cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: clean upp all ui buttons
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/logbook/PracticeLogsList.tsx
  frontendv2/src/components/practice-planning/PlanEditorModal.tsx
  frontendv2/src/components/practice-planning/PlanningView.tsx
  frontendv2/src/components/practice-reports/ReportsTabs.tsx
  frontendv2/src/components/practice-reports/advanced/PeriodPresets.tsx
  frontendv2/src/components/practice-reports/views/AnalyticsView.tsx
  frontendv2/src/components/practice-reports/views/DataView.tsx
  frontendv2/src/components/repertoire/PieceDetailView.tsx
  frontendv2/src/components/score/AdaptivePdfViewer.tsx
  frontendv2/src/components/score/ImageBasedPdfViewer.tsx
  frontendv2/src/components/score/ImageEditor.tsx
  frontendv2/src/components/score/ImageScoreViewer.tsx
  frontendv2/src/components/score/PdfViewer.tsx
  frontendv2/src/components/score/ScoreGridItem.tsx
  frontendv2/src/components/score/ScoreListItem.tsx
  frontendv2/src/components/score/SelectionToolbar.tsx
  frontendv2/src/components/share/ShareCardModal.tsx
  frontendv2/src/components/ui/index.ts
  frontendv2/src/pages/About.tsx
  frontendv2/src/pages/Profile.tsx
  frontendv2/src/pages/ScoreBrowser.tsx
  frontendv2/src/pages/Scorebook.tsx
  frontendv2/src/pages/Toolbox.tsx
  packages/ui/src/components/ClockTimePicker.test.tsx
  packages/ui/src/components/ClockTimePicker.tsx
  packages/ui/src/components/PeriodSelector.test.tsx
  packages/ui/src/components/PeriodSelector.tsx
  packages/ui/src/components/SegmentedControl.test.tsx
  packages/ui/src/components/SegmentedControl.tsx
  packages/ui/src/components/Tabs.test.tsx
  packages/ui/src/components/Tabs.tsx
  packages/ui/src/index.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore(scorebook): clean up color space
  frontendv2/src/components/score/AdaptivePdfViewer.tsx
  frontendv2/src/components/score/AddToCollectionModal.tsx
  frontendv2/src/components/score/CollectionsManager.tsx
  frontendv2/src/components/score/ImageBasedPdfViewer.tsx
  frontendv2/src/components/score/ImageScoreViewer.tsx
  frontendv2/src/components/score/ImportScoreModal.tsx
  frontendv2/src/components/score/MissingScorePrompt.tsx
  frontendv2/src/components/score/PdfViewer.tsx
  frontendv2/src/components/score/ScoreControls.tsx
  frontendv2/src/components/score/ScoreGridItem.tsx
  frontendv2/src/components/score/ScoreListItem.tsx
  frontendv2/src/components/score/ScoreManagement.tsx
  frontendv2/src/pages/Scorebook.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: unify zod and other ui element
  frontendv2/src/components/practice-reports/visualizations/charts/ComparativeChart.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/DistributionPie.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/HeatmapCalendar.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/PracticeTrendChart.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/ProgressBar.tsx
  frontendv2/src/components/repertoire/PieceTimeline.tsx
  frontendv2/src/components/ui/index.ts
  frontendv2/src/hooks/useFormValidation.ts
  frontendv2/src/hooks/useGlobalTimer.ts
  frontendv2/src/hooks/useModal.ts
  frontendv2/src/utils/dateUtils.ts
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/src/utils/dateUtils.ts
  packages/ui/src/utils/hooks.ts
  pnpm-lock.yaml
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: update documentation to follow new shared package standard
  CLAUDE.md
  docs/DESIGN.md
Due: prettier --write

fix: update zod to 4.0.0
  frontendv2/package.json
  packages/ui/package.json
  packages/ui/src/utils/hooks.ts
  pnpm-lock.yaml
Due: prettier --write

fix: fix i18n in validation
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/practice-reports/views/__tests__/DataTableView.test.tsx
  frontendv2/src/locales/de/logbook.json
  frontendv2/src/locales/de/validation.json
  frontendv2/src/locales/en/logbook.json
  frontendv2/src/locales/en/validation.json
  frontendv2/src/locales/es/logbook.json
  frontendv2/src/locales/es/validation.json
  frontendv2/src/locales/fr/logbook.json
  frontendv2/src/locales/fr/validation.json
  frontendv2/src/locales/zh-CN/logbook.json
  frontendv2/src/locales/zh-CN/validation.json
  frontendv2/src/locales/zh-TW/logbook.json
  frontendv2/src/locales/zh-TW/validation.json
  frontendv2/src/utils/validationTranslator.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(ui): UI Component Consistency in frontendv2
  frontendv2/src/components/ui/CompactEntryRow.tsx
  frontendv2/src/components/ui/EntryDetailPanel.tsx
  frontendv2/src/components/ui/ProtectedButtonFactory.ts
  frontendv2/src/components/ui/index.ts
  packages/ui/src/components/ProtectedButton.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/hooks.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(ui): consolidate ratelimiter
  dictionary/package.json
  dictionary/src/middleware/rate-limit.ts
  packages/workers-utils/package.json
  packages/workers-utils/src/errors.ts
  packages/workers-utils/src/index.ts
  packages/workers-utils/src/rate-limit.ts
  packages/workers-utils/tsconfig.json
  pnpm-lock.yaml
  scores/package.json
  scores/src/middleware/rateLimiter.ts
Due: cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(ui): update UI to use shared components
  frontendv2/src/components/logbook/InstrumentSelector.tsx
  frontendv2/src/components/logbook/TechniqueSelector.tsx
  frontendv2/src/components/score/PdfViewer.tsx
  scores/src/api/handlers/upload.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(ui): address to copilot review
  frontendv2/src/components/ui/CompactEntryRow.tsx
  packages/ui/src/utils/hooks.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add eslint config for sharable worker utilities
  packages/workers-utils/eslint.config.js
Due: prettier --write

feat(refactor): consi=olidate scoreIdNormalizer and error
  api/package.json
  api/src/api/handlers/auth.ts
  api/src/api/handlers/goals.ts
  api/src/api/handlers/repertoire.ts
  api/src/api/handlers/sync.ts
  api/src/api/handlers/user.ts
  api/src/utils/errors.ts
  api/src/utils/scoreIdNormalizer.ts
  frontendv2/package.json
  frontendv2/src/utils/scoreIdNormalizer.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/scoreIdNormalizer.ts
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  sync-worker/package.json
  sync-worker/src/utils/scoreIdNormalizer.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(refactor): error handling and other clean up
  dictionary/src/__tests__/helpers/app.ts
  dictionary/src/__tests__/services/ai/cloudflare-ai-service.test.ts
  dictionary/src/api/handlers/admin.ts
  dictionary/src/api/handlers/analytics.ts
  dictionary/src/api/handlers/batch.ts
  dictionary/src/api/handlers/enhance.ts
  dictionary/src/api/handlers/export.ts
  dictionary/src/api/handlers/search.ts
  dictionary/src/api/handlers/terms.ts
  dictionary/src/app.ts
  dictionary/src/routes/admin-auth.ts
  dictionary/src/services/ai/cloudflare-ai-service.ts
  dictionary/src/services/storage/dictionary-database.ts
  scores/src/middleware/rateLimiter.ts
  scores/src/queue-consumer.ts
  scores/src/services/browser-rendering.ts
  scores/src/services/uploadService.ts
  sync-worker/src/schemas.ts
  sync-worker/src/syncCoordinator.ts
Due: cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: added missing eslint
  packages/utils/eslint.config.js
  packages/utils/src/scoreIdNormalizer.ts
Due: prettier --write

fix: CVE-2025-65945 caused by unused dev dep
  dictionary/package.json
  packages/utils/src/__tests__/scoreIdNormalizer.test.ts
  pnpm-lock.yaml
Due: prettier --write

feat(refactor): finalize refactor and put the remain larger issue to ticket
  api/src/api/handlers/templates.ts
  dictionary/src/index.ts
  dictionary/src/services/storage/dictionary-database.ts
  dictionary/src/types/env.ts
  frontendv2/tests/e2e/recent-entries.test.ts
  pnpm-lock.yaml
  scores/package.json
  scores/src/api/handlers/render.ts
  scores/src/api/handlers/sharedCollections.ts
  scores/src/queue-consumer.ts
  scores/src/utils/scoreIdNormalizer.ts
  tools/debug-data-fix/src/commands/rollback.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused queue configuration from dictionary
  dictionary/wrangler.toml
Due: none

docs: add a new vision
  docs/specs/05-features/agent.md
Due: prettier --write

fix(test): use explicit practice times for entry ordering test
  frontendv2/tests/e2e/pages/LogbookPage.ts
  frontendv2/tests/e2e/recent-entries.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(test): use data-testid selectors for TimePicker in E2E test
  frontendv2/tests/e2e/pages/LogbookPage.ts
  packages/ui/src/components/ClockTimePicker.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(dictionary): add language detection for dictionary entries (#674)
  .lintstagedrc.json
  dictionary/src/__tests__/handlers/search.test.ts
  dictionary/src/__tests__/services/ai/language-detector.test.ts
  dictionary/src/services/ai/language-detector.ts
  dictionary/src/services/storage/dictionary-database.ts
Due: cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(tools): remove broken rollback/transaction code from debug-data-fix
  tools/debug-data-fix/src/commands/fix.ts
  tools/debug-data-fix/src/commands/rollback.ts
  tools/debug-data-fix/src/index.ts
  tools/debug-data-fix/src/services/d1Service.ts
Due: prettier --write

feat(scores): implement PDF text extraction in queue consumer (#676)
  scores/migrations/0020_add_pdf_text_extraction_columns.sql
  scores/src/queue-consumer.ts
  scores/src/services/__tests__/pdfTextExtractor.test.ts
  scores/src/services/hybridAiExtractor.ts
  scores/src/services/pdfTextExtractor.ts
  scores/src/types/ai.ts
Due: prettier --write

fix(scores): address Copilot code review feedback for PDF extraction
  scores/src/queue-consumer.ts
  scores/src/services/hybridAiExtractor.ts
  scores/src/services/pdfTextExtractor.ts
Due: prettier --write

style: fix prettier formatting in debug-data-fix tool
  tools/debug-data-fix/src/commands/fix.ts
  tools/debug-data-fix/src/commands/rollback.ts
  tools/debug-data-fix/src/index.ts
Due: prettier --write

feat: adding more breakdown in report card
  docs/CODE_REVIEW.md
  frontendv2/src/components/share/ShareCardModal.tsx
  frontendv2/src/components/share/ShareCardPreview.tsx
  frontendv2/src/hooks/useShareCard.ts
  frontendv2/src/locales/de/share.json
  frontendv2/src/locales/en/share.json
  frontendv2/src/locales/es/share.json
  frontendv2/src/locales/fr/share.json
  frontendv2/src/locales/zh-CN/share.json
  frontendv2/src/locales/zh-TW/share.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(share): address report card alignment and deduplication issues
  frontendv2/src/components/share/ShareCardPreview.tsx
  frontendv2/src/hooks/useShareCard.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(share): improve title capitalization and bar chart label spacing
  frontendv2/src/components/share/ShareCardPreview.tsx
  frontendv2/src/hooks/useShareCard.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

refactor(share): use established scoreIdNormalizer for piece deduplication
  frontendv2/src/hooks/useShareCard.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(share): improve title capitalization scoring per Copilot review
  frontendv2/src/hooks/useShareCard.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: simplify the startup
  CLAUDE.md
  package.json
  start-scorebook.sh
Due: prettier --write

fix: add jose algo in calls
  dictionary/src/__tests__/middleware/auth.test.ts
  dictionary/src/middleware/auth.ts
Due: cd dictionary && eslint --fix, cd dictionary && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: dependabot #50, #49, #46, #47
  frontendv2/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): address dependabot security alerts #51-58
  api/package.json
  dictionary/package.json
  frontendv2/package.json
  package.json
  packages/ui/src/components/ResizableSplitView.test.tsx
  packages/workers-utils/package.json
  pnpm-lock.yaml
  scores/package.json
  service-template/package.json
  sync-worker/package.json
  tools/debug-data-fix/package.json
Due: prettier --write

feat: upgrade React from 18 to 19
  frontendv2/package.json
  frontendv2/src/contexts/TimerContext.tsx
  frontendv2/src/hooks/useAutocomplete.ts
  frontendv2/src/hooks/useScoreSearch.ts
  frontendv2/src/modules/auto-logging/AutoLoggingProvider.tsx
  packages/ui/package.json
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/Checkbox.tsx
  packages/ui/src/components/Input.tsx
  packages/ui/src/components/RadioGroup.tsx
  packages/ui/src/components/Typography.tsx
  pnpm-lock.yaml
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(deps): address dependabot security alerts #51 and #60
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): patch webpack SSRF vulnerabilities (Dependabot #61, #62)
  remotion-tutorial/package-lock.json
  remotion-tutorial/package.json
Due: prettier --write

Path conditions:
  cd backend && eslint --fix: any of: backend/**/*.{ts,tsx}
  cd backend && vitest related --run --no-coverage --passWithNoTests: any of: backend/**/*.{ts,tsx}
  cd frontend && eslint --fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && jest --bail --findRelatedTests --passWithNoTests: any of: frontend/**/*.{ts,tsx}
  cd frontendv2 && eslint --fix: any of: frontendv2/**/*.{ts,tsx}
  cd frontendv2 && vitest related --run --no-coverage --passWithNoTests: any of: frontendv2/**/*.{ts,tsx}
  cd api && eslint --fix: any of: api/**/*.{ts,tsx}
  cd api && vitest related --run --no-coverage --passWithNoTests: any of: api/**/*.{ts,tsx}
  cd dictionary && eslint --fix: any of: dictionary/**/*.{ts,tsx}
  cd dictionary && vitest related --run --no-coverage --passWithNoTests: any of: dictionary/**/*.{ts,tsx}
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,css,md,yml,yaml,html,cjs,mjs,graphql}
