Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

test: fix Practice test rerender to include AudioProvider
  frontend/src/pages/Practice.test.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: update GitHub Pages deployment to use official actions
  .github/workflows/docs.yml
Due: none

fix: add .nojekyll to prevent Jekyll processing in GitHub Pages
  .nojekyll
Due: none

refactor: improve type safety across modules and eliminate unsafe TypeScript practices
  frontend/src/config/version.ts
  frontend/src/modules/analytics/ProgressAnalyticsModule.ts
  frontend/src/modules/analytics/types.ts
  frontend/src/modules/core/MockStorageService.ts
  frontend/src/modules/core/StorageService.ts
  frontend/src/modules/core/sharedTypes.ts
  frontend/src/modules/core/types.ts
  frontend/src/modules/curriculum/CurriculumModule.ts
  frontend/src/modules/curriculum/types.ts
  frontend/src/modules/infrastructure/StorageModule.ts
  frontend/src/modules/infrastructure/SyncModule.test.ts
  frontend/src/modules/infrastructure/SyncModule.ts
  frontend/src/modules/infrastructure/types.ts
  frontend/src/modules/logger/PracticeLoggerModule.ts
  frontend/src/modules/logger/types.ts
  frontend/src/modules/performance/PerformanceTrackingModule.ts
  frontend/src/modules/performance/types.ts
  frontend/src/modules/practice/PracticeSessionModule.ts
  frontend/src/modules/practice/types.ts
  frontend/src/modules/visualization/VisualizationModule.ts
  frontend/src/modules/visualization/types.ts
  frontend/src/pages/Debug.test.tsx
  frontend/src/pages/Debug.tsx
  frontend/src/tests/setup/apollo-setup.ts
  frontend/src/tests/utils/apollo-mocks.ts
  frontend/src/tests/utils/apollo-test-helpers.ts
  frontend/src/tests/utils/test-utils.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve TypeScript errors preventing documentation generation
  frontend/src/config/version.ts
  frontend/src/modules/analytics/ProgressAnalyticsModule.ts
  frontend/src/modules/core/EventBus.test.ts
  frontend/src/modules/core/StorageService.ts
  frontend/src/modules/core/eventTypes.ts
  frontend/src/modules/core/types.ts
  frontend/src/modules/curriculum/CurriculumModule.ts
  frontend/src/modules/infrastructure/SyncModule.test.ts
  frontend/src/modules/infrastructure/SyncModule.ts
  frontend/src/modules/logger/PracticeLoggerModule.ts
  frontend/src/modules/performance/PerformanceTrackingModule.ts
  frontend/src/modules/performance/types.ts
  frontend/src/modules/practice/PracticeSessionModule.ts
  frontend/src/modules/visualization/VisualizationModule.ts
  frontend/src/tests/utils/test-utils.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: auto-fix remaining semicolon linter errors
  frontend/src/modules/infrastructure/SyncModule.test.ts
  frontend/src/pages/Debug.test.tsx
  frontend/src/services/dataSync.test.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve all backend linter errors and test failures
  backend/src/__tests__/integration/auth.test.ts
  backend/src/__tests__/unit/config/cors.test.ts
  backend/src/__tests__/unit/index.test.ts
  backend/src/__tests__/unit/resolvers/practice.test.ts
  backend/src/__tests__/unit/resolvers/sheetMusic.test.ts
  backend/src/__tests__/unit/utils/rateLimiter.test.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve lint command issues
  =4.3.5
  shared/package.json
Due: prettier --write

chore: rm wrong file
  =4.3.5
Due: none

fix: resolve ESLint no-extra-semi errors in backend tests
  backend/src/__tests__/unit/index.test.ts
Due: cd backend && eslint --fix, cd backend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update CODE_QUALITY_ACTION_PLAN with frontend analysis findings
  docs/CODE_QUALITY_ACTION_PLAN.md
Due: prettier --write

feat: add error boundaries and secure token storage
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.test.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/index.ts
  frontend/src/lib/apollo/client.ts
  frontend/src/pages/Practice.tsx
  frontend/src/utils/secureStorage.test.ts
  frontend/src/utils/secureStorage.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

test: add comprehensive tests for zero-coverage components
  frontend/jest.config.mjs
  frontend/src/__mocks__/nanoid.ts
  frontend/src/components/PianoChord.test.tsx
  frontend/src/components/PianoKey.test.tsx
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/SaveProgressPrompt.test.tsx
  frontend/src/components/SaveProgressPrompt.tsx
  frontend/src/components/UserStatusIndicator.test.tsx
  frontend/src/components/VersionInfo.test.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve Cloudflare build errors in secureStorage.ts
  frontend/package.json
  frontend/src/utils/secureStorage.ts
  package-lock.json
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement event-driven storage architecture
  frontend/src/modules/core/MockEventDrivenStorage.ts
  frontend/src/modules/core/eventDrivenStorage.ts
  frontend/src/modules/core/eventTypes.ts
  frontend/src/modules/core/index.ts
  frontend/src/modules/infrastructure/StorageModule.ts
  frontend/src/modules/logger/PracticeLoggerModule.test.ts
  frontend/src/modules/logger/PracticeLoggerModule.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: complete event-driven storage migration for all business modules
  docs/CODE_QUALITY_ACTION_PLAN.md
  frontend/src/modules/analytics/ProgressAnalyticsModule.test.ts
  frontend/src/modules/analytics/ProgressAnalyticsModule.ts
  frontend/src/modules/curriculum/CurriculumModule.test.ts
  frontend/src/modules/curriculum/CurriculumModule.ts
  frontend/src/modules/performance/PerformanceTrackingModule.test.ts
  frontend/src/modules/performance/PerformanceTrackingModule.ts
  frontend/src/modules/practice/PracticeSessionModule.test.ts
  frontend/src/modules/practice/PracticeSessionModule.ts
  frontend/src/modules/visualization/VisualizationModule.test.ts
  frontend/src/modules/visualization/VisualizationModule.ts
  frontend/src/pages/Debug.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

refactor: remove obsolete StorageService and MockStorageService
  frontend/src/modules/core/MockStorageService.ts
  frontend/src/modules/core/StorageService.ts
  frontend/src/modules/core/index.ts
  frontend/src/modules/core/types.ts
  frontend/src/pages/Debug.test.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve linting errors in Debug.test.tsx
  frontend/src/pages/Debug.test.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: complete security fixes and error boundary verification
  frontend/src/App.tsx
  frontend/src/pages/Debug.test.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update CODE_QUALITY_ACTION_PLAN to reflect completed security tasks
  docs/CODE_QUALITY_ACTION_PLAN.md
Due: prettier --write

feat: refactor Practice.tsx and implement structured logging
  frontend/src/components/AuthModal.tsx
  frontend/src/components/MusicPlayer.tsx
  frontend/src/components/PianoChord.test.tsx
  frontend/src/components/PianoChord.tsx
  frontend/src/components/PianoKey.test.tsx
  frontend/src/components/PianoKey.tsx
  frontend/src/components/PracticeControls.tsx
  frontend/src/components/PracticeHeader.tsx
  frontend/src/components/PracticeNotation.tsx
  frontend/src/components/VersionInfo.test.tsx
  frontend/src/components/VersionInfo.tsx
  frontend/src/components/index.ts
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useViewport.ts
  frontend/src/pages/Debug.test.tsx
  frontend/src/pages/Practice.test.tsx
  frontend/src/pages/Practice.tsx
  frontend/src/utils/logger.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: eliminate inline styles and enhance theme system
  frontend/src/components/AuthModal.module.css
  frontend/src/components/AuthModal.tsx
  frontend/src/components/PianoChord.module.css
  frontend/src/components/PianoChord.tsx
  frontend/src/utils/theme.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement SheetMusicLibraryModule structure (Phase 4.1)
  docs/CODE_QUALITY_ACTION_PLAN.md
  docs/PHASE_4_DETAILED_TASKS.md
  docs/PHASE_4_IMPLEMENTATION_PLAN.md
  docs/ROADMAP.md
  frontend/src/modules/sheetMusic/SheetMusicLibraryModule.ts
  frontend/src/modules/sheetMusic/__tests__/SheetMusicLibraryModule.test.ts
  frontend/src/modules/sheetMusic/index.ts
  frontend/src/modules/sheetMusic/types.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat(sheet-music): implement base exercise generator class
  frontend/src/modules/sheetMusic/__tests__/types.test.ts
  frontend/src/modules/sheetMusic/generators/ExerciseGenerator.ts
  frontend/src/modules/sheetMusic/generators/__tests__/ExerciseGenerator.test.ts
  frontend/src/modules/sheetMusic/generators/index.ts
  frontend/src/modules/sheetMusic/types.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat(sheet-music): implement SightReadingGenerator with comprehensive test coverage
  frontend/src/modules/sheetMusic/generators/SightReadingGenerator.ts
  frontend/src/modules/sheetMusic/generators/__tests__/SightReadingGenerator.test.ts
  frontend/src/modules/sheetMusic/generators/index.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: prevent redundant frontend/frontend folder generation
  .gitignore
  frontend/package.json
  frontend/scripts/check-directory.js
Due: prettier --write

fix: adjust SightReadingGenerator test for stepwise motion tolerance
  frontend/src/modules/sheetMusic/generators/__tests__/SightReadingGenerator.test.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat(sheet-music): implement TechnicalExerciseGenerator (Task 1.5)
  frontend/src/modules/sheetMusic/generators/TechnicalExerciseGenerator.ts
  frontend/src/modules/sheetMusic/generators/__tests__/TechnicalExerciseGenerator.test.ts
  frontend/src/modules/sheetMusic/generators/index.ts
  frontend/src/modules/sheetMusic/types.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat(exercise-generator): implement ExerciseParameterForm component (Task 1.6)
  frontend/src/components/ExerciseGenerator/ExerciseParameterForm.test.tsx
  frontend/src/components/ExerciseGenerator/ExerciseParameterForm.tsx
  frontend/src/components/ExerciseGenerator/index.ts
  frontend/src/components/ExerciseGenerator/validation.test.ts
  frontend/src/components/ExerciseGenerator/validation.ts
  frontend/src/components/index.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat(exercise-generator): implement ExercisePreview component (Task 1.7)
  frontend/src/components/ExerciseGenerator/ExercisePreview.test.tsx
  frontend/src/components/ExerciseGenerator/ExercisePreview.tsx
  frontend/src/components/ExerciseGenerator/index.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

refactor: unify SheetMusic interfaces to use modules/sheetMusic/types
  frontend/src/components/ExerciseGenerator/ExercisePreview.tsx
  frontend/src/components/PracticeNotation.tsx
  frontend/src/components/SheetMusicDisplay.test.tsx
  frontend/src/components/SheetMusicDisplay.tsx
  frontend/src/data/sheetMusic/index.ts
  frontend/src/data/sheetMusic/moonlightSonata3rd.ts
  frontend/src/pages/Practice.test.tsx
  frontend/src/pages/Practice.tsx
  frontend/src/utils/notationRenderer.test.ts
  frontend/src/utils/notationRenderer.ts
  frontend/src/utils/sheetMusicTypeConverters.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement Tasks 1.8-1.9 - Exercise Storage and Library Page
  frontend/src/App.tsx
  frontend/src/components/LandingPage.tsx
  frontend/src/modules/sheetMusic/SheetMusicLibraryModule.ts
  frontend/src/modules/sheetMusic/__tests__/SheetMusicLibraryModule.test.ts
  frontend/src/pages/ExerciseLibrary.test.tsx
  frontend/src/pages/ExerciseLibrary.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: enable Exercise Library for anonymous users
  frontend/src/pages/ExerciseLibrary.test.tsx
  frontend/src/pages/ExerciseLibrary.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve storage timeout by initializing StorageModule
  frontend/src/pages/ExerciseLibrary.test.tsx
  frontend/src/pages/ExerciseLibrary.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

feat: implement comprehensive testing suite for Exercise Library (Task 1.10)
  frontend/src/__mocks__/nanoid.ts
  frontend/src/modules/sheetMusic/SheetMusicLibraryModule.ts
  frontend/src/modules/sheetMusic/__tests__/SheetMusicLibraryModule.edge-cases.test.ts
  frontend/src/modules/sheetMusic/__tests__/SheetMusicLibraryModule.performance.test.ts
  frontend/src/modules/sheetMusic/__tests__/SheetMusicLibraryModule.test.ts
  frontend/src/pages/__tests__/ExerciseLibrary.accessibility.test.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: improve accessibility test element selection and remove lint errors
  frontend/src/pages/__tests__/ExerciseLibrary.accessibility.test.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve TypeScript errors in test files for CI builds
  frontend/src/modules/sheetMusic/__tests__/SheetMusicLibraryModule.edge-cases.test.ts
  frontend/src/modules/sheetMusic/__tests__/SheetMusicLibraryModule.performance.test.ts
  frontend/src/pages/__tests__/ExerciseLibrary.accessibility.test.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve notation rendering errors with proper time signature handling
  frontend/src/components/ExerciseGenerator/ExercisePreview.test.tsx
  frontend/src/components/ExerciseGenerator/ExercisePreview.tsx
  frontend/src/utils/audioManager.test.ts
  frontend/src/utils/audioManager.ts
  frontend/src/utils/notationRenderer.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

refactor: consolidate exercise functionality into Practice page
  frontend/src/App.tsx
  frontend/src/components/ExerciseGenerator/ExercisePreview.test.tsx
  frontend/src/components/ExerciseGenerator/ExercisePreview.tsx
  frontend/src/components/LandingPage.tsx
  frontend/src/components/PracticeHeader.tsx
  frontend/src/pages/Practice.test.tsx
  frontend/src/pages/Practice.tsx
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write

fix: resolve exercise deletion persistence and VexFlow rendering errors
  frontend/src/modules/sheetMusic/SheetMusicLibraryModule.ts
  frontend/src/modules/sheetMusic/types.ts
  frontend/src/pages/Practice.tsx
  frontend/src/utils/notationRenderer.test.ts
  frontend/src/utils/notationRenderer.ts
Due: cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, prettier --write
