Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && vitest related --run --no-coverage --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontendv2/**/*.{ts,tsx}": [
    "cd frontendv2 && eslint --fix",
    "cd frontendv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "api/**/*.{ts,tsx}": [
    "cd api && eslint --fix",
    "cd api && vitest related --run --no-coverage --passWithNoTests"
  ],
  "apiv2/**/*.{ts,tsx}": [
    "cd apiv2 && eslint --fix",
    "cd apiv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

fix: remove duplicate logbook entry creation in scorebook
  frontendv2/src/stores/__tests__/scoreStore.test.ts
  frontendv2/src/stores/scoreStore.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused import to pass lint
  frontendv2/src/stores/__tests__/scoreStore.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: auto-logging piece names handling
  frontendv2/src/modules/auto-logging/AutoLoggingProvider.tsx
  frontendv2/src/modules/auto-logging/__tests__/piece-names.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: implement enhanced reporting UI foundation
  docs/ENHANCED_REPORTING_UI.md
  frontendv2/package.json
  frontendv2/src/components/practice-reports/advanced/FilterBuilder.tsx
  frontendv2/src/components/practice-reports/advanced/FilterCriteriaRow.tsx
  frontendv2/src/components/practice-reports/advanced/GroupingPanel.tsx
  frontendv2/src/components/practice-reports/advanced/SortingPanel.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/ChartContainer.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/ComparativeChart.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/DistributionPie.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/HeatmapCalendar.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/PracticeTrendChart.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/ProgressBar.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/index.ts
  frontendv2/src/components/practice-reports/visualizations/tables/GroupedDataTable.tsx
  frontendv2/src/hooks/useEnhancedAnalytics.ts
  frontendv2/src/stores/reportingStore.ts
  frontendv2/src/types/reporting.ts
  frontendv2/src/utils/reportsCacheManager.ts
  package-lock.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve linting errors in enhanced reporting UI
  frontendv2/src/components/practice-reports/advanced/FilterBuilder.tsx
  frontendv2/src/components/practice-reports/advanced/FilterCriteriaRow.tsx
  frontendv2/src/components/practice-reports/advanced/GroupingPanel.tsx
  frontendv2/src/components/practice-reports/advanced/SortingPanel.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/ChartContainer.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/ComparativeChart.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/DistributionPie.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/HeatmapCalendar.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/PracticeTrendChart.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/ProgressBar.tsx
  frontendv2/src/components/practice-reports/visualizations/tables/GroupedDataTable.tsx
  frontendv2/src/hooks/useEnhancedAnalytics.ts
  frontendv2/src/stores/reportingStore.ts
  frontendv2/src/types/reporting.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove remaining any types in chart components
  frontendv2/src/components/practice-reports/visualizations/charts/ChartContainer.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/ComparativeChart.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/DistributionPie.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/PracticeTrendChart.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/ProgressBar.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript build errors in chart components
  frontendv2/src/components/practice-reports/visualizations/charts/ChartContainer.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/ComparativeChart.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/DistributionPie.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/PracticeTrendChart.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/ProgressBar.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: properly type Chart.js components to remove any types
  frontendv2/src/components/practice-reports/visualizations/charts/ChartContainer.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/ComparativeChart.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/DistributionPie.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/PracticeTrendChart.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/ProgressBar.tsx
  frontendv2/src/types/reporting.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: update DESIGN.md and CLAUDE.md with enhanced reporting UI
  CLAUDE.md
  docs/DESIGN.md
  frontendv2/src/components/practice-reports/visualizations/charts/ChartContainer.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/DistributionPie.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add UAT guide and demo route for enhanced reporting
  frontendv2/docs/UAT-ENHANCED-REPORTING.md
  frontendv2/src/App.tsx
  frontendv2/src/pages/ReportsDemo.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: enable reports-demo route on staging by checking hostname instead of NODE_ENV
  frontendv2/src/App.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

refactor: complete enhanced reporting UI implementation
  CLAUDE.md
  docs/DESIGN.md
  frontendv2/package.json
  frontendv2/src/App.tsx
  frontendv2/src/components/EnhancedPracticeReports.tsx
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
  frontendv2/src/components/practice-reports/PiecesStatistics.tsx
  frontendv2/src/components/practice-reports/ReportsTabs.tsx
  frontendv2/src/components/practice-reports/views/AnalyticsView.tsx
  frontendv2/src/components/practice-reports/views/DataTableView.tsx
  frontendv2/src/components/practice-reports/views/OverviewView.tsx
  frontendv2/src/components/practice-reports/views/PiecesView.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/DistributionPie.tsx
  frontendv2/src/hooks/useEnhancedAnalytics.ts
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
  frontendv2/src/pages/Logbook.tsx
  frontendv2/src/pages/ReportsDemo.tsx
  frontendv2/src/tests/unit/components/EnhancedPracticeReports.test.tsx
  frontendv2/src/tests/unit/pages/Logbook.test.tsx
  frontendv2/src/types/reporting.ts
  frontendv2/src/utils/dateUtils.ts
  package-lock.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: register Chart.js controllers globally to fix production error
  frontendv2/src/components/practice-reports/visualizations/charts/ChartContainer.tsx
  frontendv2/src/main.tsx
  frontendv2/src/tests/unit/components/EnhancedPracticeReports.test.tsx
  frontendv2/src/utils/chartSetup.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: update documentation and add e2e tests for enhanced reporting
  CLAUDE.md
  docs/DESIGN.md
  frontendv2/src/tests/unit/components/EnhancedPracticeReports.test.tsx
  frontendv2/tests/e2e/enhanced-reports.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: de-tree-shaken
  frontendv2/src/utils/chartSetup.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve UAT issues for enhanced reporting UI
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
  frontendv2/src/components/practice-reports/ReportsTabs.tsx
  frontendv2/src/components/practice-reports/views/DataTableView.tsx
  frontendv2/src/components/practice-reports/views/PiecesView.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/ChartContainer.tsx
  frontendv2/src/components/practice-reports/visualizations/charts/DistributionPie.tsx
  frontendv2/src/locales/en/reports.json
  frontendv2/src/types/reporting.ts
  frontendv2/tests/e2e/enhanced-reports.test.ts
  frontendv2/tests/e2e/pages/LogbookPage.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: complete l10n for enhanced reporting UI
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
Due: prettier --write

fix: update e2e tests for enhanced reporting UI
  frontendv2/src/components/practice-reports/SummaryStats.tsx
  frontendv2/tests/e2e/enhanced-reports.test.ts
  frontendv2/tests/e2e/logbook.test.ts
  frontendv2/tests/e2e/pages/LogbookPage.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add missing filters localization keys for analytics view
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
Due: prettier --write

feat: complete l10n for analytics, charts and sorting sections
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
Due: prettier --write

fix: replace all [NEEDS REVIEW] markers with proper English translations
  frontendv2/src/locales/en/auth.json
  frontendv2/src/locales/en/common.json
  frontendv2/src/locales/en/errors.json
  frontendv2/src/locales/en/scorebook.json
Due: prettier --write

fix: correct translation key references for nested objects
  frontendv2/src/components/practice-reports/views/AnalyticsView.tsx
  frontendv2/src/components/practice-reports/views/DataTableView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: force light theme and add theme switcher to roadmap
  CLAUDE.md
  docs/ROADMAP.md
  frontendv2/src/styles/index.css
Due: prettier --write

fix: complete i18n text keys
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
Due: prettier --write

fix: override dark mode
  frontendv2/src/styles/index.css
  frontendv2/tailwind.config.js
Due: prettier --write

fix: add permission for i18n check
  .github/workflows/validate-translations.yml
Due: none

fix: correct month grouping display in Data Table view
  frontendv2/src/hooks/useEnhancedAnalytics.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: update with the light mode detail
  docs/DESIGN.md
Due: prettier --write

fix: resolve remaining UI and i18n issues for enhanced reporting
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/practice-reports/EnhancedReports.tsx
  frontendv2/src/components/practice-reports/ReportsTabs.tsx
  frontendv2/src/components/practice-reports/views/OverviewView.tsx
  frontendv2/src/components/ui/Tabs.tsx
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
  frontendv2/src/pages/Logbook.tsx
  frontendv2/src/pages/ScoreBrowser.tsx
  frontendv2/src/pages/Scorebook.tsx
  frontendv2/src/styles/index.css
  frontendv2/src/tests/unit/components/EnhancedPracticeReports.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add missing i18n keys for charts and tabs
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/en/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
Due: prettier --write

fix: remove unused cn import in ScoreBrowser
  frontendv2/src/pages/ScoreBrowser.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: update e2e tests for enhanced reporting UI
  frontendv2/tests/e2e/enhanced-reports-complete.test.ts
  frontendv2/tests/e2e/enhanced-reports.test.ts
  frontendv2/tests/e2e/pages/LogbookPage.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add recent entries section to overview page and fix e2e tests
  frontendv2/src/components/practice-reports/views/OverviewView.tsx
  frontendv2/src/locales/en/reports.json
  frontendv2/tests/e2e/enhanced-reports-complete.test.ts
  frontendv2/tests/e2e/enhanced-reports.test.ts
  frontendv2/tests/e2e/logbook.test.ts
  frontendv2/tests/e2e/pages/LogbookPage.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: add e2e tests for recent entries section
  frontendv2/tests/e2e/recent-entries.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused LogbookEntry import to fix linter error
  frontendv2/src/components/practice-reports/views/OverviewView.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: three UI/UX improvements in enhanced reporting
  frontendv2/src/components/practice-reports/PieceComposerStats.tsx
  frontendv2/src/components/practice-reports/views/PiecesView.tsx
  frontendv2/src/components/practice-reports/visualizations/tables/GroupedDataTable.tsx
  frontendv2/src/hooks/useEnhancedAnalytics.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: correct and fix the implicit any types of logbook
  frontendv2/src/components/practice-reports/PieceComposerStats.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: complete the untraslated strings
  frontendv2/src/locales/de/reports.json
  frontendv2/src/locales/es/reports.json
  frontendv2/src/locales/fr/reports.json
  frontendv2/src/locales/zh-CN/common.json
  frontendv2/src/locales/zh-CN/reports.json
  frontendv2/src/locales/zh-TW/reports.json
Due: prettier --write

fix: resolve build errors and E2E test failures
  frontendv2/tests/e2e/enhanced-reports-complete.test.ts
  frontendv2/tests/e2e/enhanced-reports.test.ts
  frontendv2/tests/e2e/logbook.test.ts
  frontendv2/tests/e2e/pages/LogbookPage.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write
