Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && vitest related --run --no-coverage --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontendv2/**/*.{ts,tsx}": [
    "cd frontendv2 && eslint --fix",
    "cd frontendv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "api/**/*.{ts,tsx}": [
    "cd api && eslint --fix",
    "cd api && vitest related --run --no-coverage --passWithNoTests"
  ],
  "apiv2/**/*.{ts,tsx}": [
    "cd apiv2 && eslint --fix",
    "cd apiv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

fix: reorganize wrangler.toml to eliminate configuration warnings
  scores/wrangler.toml
Due: none

fix: correct keep_alive values for browser rendering API
  docs/pdf-rendering-implementation-summary.md
  scores/src/api/handlers/pdf-renderer-v2.ts
  scores/src/api/handlers/pdf-renderer.ts
  scores/src/queue/pdf-processor.ts
Due: prettier --write

fix: temporarily disable image-based PDF viewer due to browser rendering instability
  frontendv2/src/components/score/AdaptivePdfViewer.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: clean up PDF rendering docs and update with architectural decisions
  docs/PDF_RENDERING_WORKFLOW.md
  docs/SCOREBOOK.md
  docs/SCOREBOOK_UNIFIED_PLAN.md
  docs/pdf-rendering-implementation-summary.md
Due: prettier --write

fix: remove image viewer toggle buttons from scorebook UI
  DEBUG_IMAGE_VIEWER.md
  frontendv2/src/components/score/AdaptivePdfViewer.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: add enhanced PDF rendering integration plan
  docs/PDF_RENDERING_ENHANCED_PLAN.md
Due: prettier --write

feat: integrate PdfRenderingService with PdfJsViewer
  docs/PHASE_4_IMPLEMENTATION_PLAN.md
  frontendv2/src/App.tsx
  frontendv2/src/components/score/PdfJsViewer.tsx
  frontendv2/src/contexts/PdfRenderingContext.tsx
  frontendv2/src/services/pdfRenderingService.ts
  frontendv2/src/tests/setup.ts
  frontendv2/vitest.config.ts
  scores/public/test-data/score_03_recuerdos.pdf
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

test: add PDF rendering test page with 6-page Recuerdos de la Alhambra
  frontendv2/src/App.tsx
  frontendv2/src/pages/TestPdfRendering.tsx
  scores/test-data/IMSLP528958-PMLP33377-Recuerdos_de_la_Alhambra.pdf
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve lint errors in PDF rendering integration
  frontendv2/src/components/score/PdfJsViewer.tsx
  frontendv2/src/contexts/PdfRenderingContext.tsx
  frontendv2/src/hooks/usePdfRenderingService.ts
  frontendv2/src/pages/TestPdfRendering.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve build error with case-sensitive import path
  frontendv2/src/contexts/PdfRenderingContext.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: disable false positive react-refresh warning
  frontendv2/src/contexts/PdfRenderingContext.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

perf: optimize bundle size by 67% through better chunking
  frontendv2/public/pdf-worker-cdn-fallback.js
  frontendv2/src/components/score/PdfViewer.tsx
  frontendv2/src/services/pdfRenderingService.ts
  frontendv2/vite.config.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve React module loading error in production build
  frontendv2/vite.config.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve PDF worker loading error
  frontendv2/public/pdf-worker-cdn-fallback.js
  frontendv2/src/App.tsx
  frontendv2/src/components/score/PdfViewer.tsx
  frontendv2/src/services/pdfRenderingService.ts
  frontendv2/src/utils/pdfWorkerSetup.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unavailable CSS imports and verify external resources
  frontendv2/src/components/score/PdfViewer.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve PDF worker loading issues and remove test endpoint
  frontendv2/src/App.tsx
  frontendv2/src/pages/TestPdfRendering.tsx
  frontendv2/src/services/pdfRenderingService.ts
  frontendv2/src/utils/pdfWorkerSetup.ts
  scores/scripts/upload-real-pdfs.js
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add unpkg.com to CSP for PDF.js worker loading
  frontendv2/public/_headers
Due: none

feat: implement functional metronome with sound and controls
  frontendv2/src/components/score/ScoreControls.tsx
  frontendv2/src/services/metronomeService.test.ts
  frontendv2/src/services/metronomeService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: upgrade metronome to professional-grade timing with visual feedback
  frontendv2/src/components/score/ScoreControls.tsx
  frontendv2/src/services/metronomeService.test.ts
  frontendv2/src/services/metronomeService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve TypeScript build error with unused parameters
  frontendv2/src/components/score/ScoreControls.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: consolidate and reorganize documentation
  README.md
  config/environments.json
  docs/DEPLOYMENT_GUIDE.md
  docs/DOCUMENTATION_STRUCTURE.md
  docs/README.md
  docs/SCOREBOOK_UNIFIED_PLAN.md
  docs/archive/DOCUMENTATION_INDEX.md
  docs/archive/GUITAR_REPERTOIRE.md
  docs/archive/MONITORING_AND_ALERTING.md
  docs/archive/PDF_RENDERING_ENHANCED_PLAN.md
  docs/archive/PHASE_4_IMPLEMENTATION_PLAN.md
  docs/archive/PIANO_REPERTOIRE.md
  docs/archive/api/DATABASE_SETUP.md
  docs/archive/api/DOMAIN_MIGRATION.md
  docs/archive/api/EMAIL_SETUP.md
  docs/archive/api/GOOGLE_AUTH_SETUP.md
  docs/archive/api/README.md
  docs/archive/api/SEED_MUSIC_CATALOG_GUIDE.md
  docs/archive/api/TODO.md
  docs/archive/scores/BROWSER_RENDERING_QUICKSTART.md
  docs/archive/scores/CACHING.md
  docs/archive/scores/CLOUDFLARE_BROWSER_RENDERING_IMPLEMENTATION.md
  docs/archive/scores/ENDPOINTS_SUMMARY.md
  docs/archive/scores/IMPLEMENTATION_STATUS.md
  docs/archive/scores/PDF_RENDERING_CLOUDFLARE_ANALYSIS.md
  docs/archive/scores/QUICK_START.md
  docs/archive/scores/README.md
  docs/archive/scores/api-documentation.md
  docs/archive/scores/cloudflare-native-features.md
  docs/archive/scores/frontend-integration.md
  docs/archive/scores/pdf-rendering-comparison.md
  frontendv2/stagehand/stagehand.config.ts
  package.json
  scripts/check-graphql-drift.sh
  scripts/validate-all.sh
  test-jwt.js
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: keep the general readme
  README.md
Due: prettier --write

chore: clean structure of documents
  README.md
  docs/DOCUMENTATION_STRUCTURE.md
  docs/README.md
Due: prettier --write

chore: update version numbers for all helpers
  api/src/api/handlers/health.ts
  api/src/api/openapi.ts
  api/src/api/routes.ts
  scores/src/api/handlers/health.ts
  scores/src/api/openapi.ts
  scores/src/index.ts
  scores/src/test/api.test.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: implement AI-powered PDF import API for scores service
  .gitignore
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  docs/SCOREBOOK_UNIFIED_PLAN.md
  scores/migrations/0002_add_processing_status.sql
  scores/migrations/0002_add_slug_pdf_url.sql
  scores/migrations/0003_add_import_columns.sql
  scores/migrations/0003_add_slug_pdf_url.sql
  scores/migrations/0005_initial_data.sql
  scores/music-library/catalog.json
  scores/music-library/download-instructions.md
  scores/scripts/seed-curated-content.sh
  scores/scripts/seed-curated-scores.sql
  scores/src/api/handlers/import.ts
  scores/src/index.ts
  scores/src/queue/pdf-processor.ts
  scores/src/test/api.test.ts
  scores/src/utils/generateId.ts
  scores/src/utils/rateLimiter.ts
  scores/worker-configuration.d.ts
Due: prettier --write

chore: adding AI key
  scores/worker-configuration.d.ts
Due: prettier --write

feat: complete Phase 5 - AI-powered PDF import system
  docs/SCOREBOOK_UNIFIED_PLAN.md
  frontendv2/src/App.tsx
  frontendv2/src/components/scorebook/ScoreImport.tsx
  package-lock.json
  scores/package.json
  scores/public/import-test.html
  scores/scripts/test-import.sh
  scores/src/api/handlers/import.ts
  scores/src/services/aiMetadataExtractor.ts
  scores/src/utils/enhancedRateLimiter.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve lint and build errors
  frontendv2/package.json
  frontendv2/src/components/scorebook/ScoreImport.tsx
  package-lock.json
  scores/src/services/aiMetadataExtractor.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

refactor: implement unified data seeding strategy
  docs/SCOREBOOK_UNIFIED_PLAN.md
  scores/CLEANUP_PLAN.md
  scores/docs/DATA_SEEDING_STRATEGY.md
  scores/migrations/0006_add_missing_import_columns.sql
  scores/package.json
  scores/scripts/check-staging-schema.sh
  scores/scripts/import-catalog.sh
  scores/seeds/README.md
  scores/seeds/development/0001_test_scores.sql
  scores/seeds/production/0001_initial_catalog.sql
  scores/seeds/staging/0001_demo_scores.sql
Due: prettier --write

fix: add Cloudflare build configuration and workaround for axios resolution
  frontendv2/CLOUDFLARE_BUILD.md
  frontendv2/build.sh
  package.json
Due: prettier --write

fix: resolve EMFILE error in Cloudflare build
  frontendv2/CLOUDFLARE_BUILD.md
  frontendv2/build.sh
  frontendv2/package.json
  frontendv2/vite.config.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: remove unnecessary build workarounds
  frontendv2/CLOUDFLARE_BUILD.md
  frontendv2/build.sh
  package.json
Due: prettier --write

fix: add local database migration conflict resolution
  scores/scripts/fix-local-migrations.sh
  scores/seeds/README.md
Due: prettier --write

feat: add courteous import scripts for Mutopia Project
  scores/scripts/import-catalog.sh
  scores/scripts/import-mutopia.sh
  scores/scripts/test-import-local.sh
  scores/seeds/README.md
Due: prettier --write

feat: add advanced metronome foundation
  frontendv2/src/App.tsx
  frontendv2/src/components/metronome/EmbedInstructions.md
  frontendv2/src/components/score/ScoreControls.tsx
  frontendv2/src/data/metronomePatterns.json
  frontendv2/src/hooks/useMetronomeSettings.ts
  frontendv2/src/pages/Home.tsx
  frontendv2/src/pages/Logbook.tsx
  frontendv2/src/pages/MetronomeEmbed.tsx
  frontendv2/src/pages/MetronomeMock.tsx
  frontendv2/src/pages/MetronomeStandalone.tsx
  frontendv2/src/types/metronome.ts
  frontendv2/tailwind.config.js
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: update metronome implementation per requirements
  frontendv2/src/App.tsx
  frontendv2/src/components/metronome/CollapsibleMetronome.tsx
  frontendv2/src/components/score/ScoreControls.tsx
  frontendv2/src/pages/Home.tsx
  frontendv2/src/pages/Logbook.tsx
  frontendv2/src/pages/Toolbox.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: correct metronome service imports and usage
  frontendv2/src/components/metronome/CollapsibleMetronome.tsx
  frontendv2/src/pages/Toolbox.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: implement multi-layer pattern sounds for metronome
  frontendv2/src/components/metronome/CollapsibleMetronome.tsx
  frontendv2/src/pages/Toolbox.tsx
  frontendv2/src/services/patternMetronomeService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve metronome timing and cleanup
  frontendv2/src/components/metronome/CollapsibleMetronome.tsx
  frontendv2/src/pages/Toolbox.tsx
  frontendv2/src/services/patternMetronomeService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

chore: remove unused metronome and mock pages
  frontendv2/src/App.tsx
  frontendv2/src/pages/MetronomeEmbed.tsx
  frontendv2/src/pages/MetronomeMock.tsx
  frontendv2/src/pages/MetronomeStandalone.tsx
  frontendv2/src/pages/Scorebook.mock.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write
