Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.{ts,tsx}": [
    "cd backend && eslint --fix",
    "cd backend && vitest related --run --no-coverage --passWithNoTests"
  ],
  "frontend/**/*.{ts,tsx}": [
    "cd frontend && eslint --fix",
    "cd frontend && jest --bail --findRelatedTests --passWithNoTests"
  ],
  "frontendv2/**/*.{ts,tsx}": [
    "cd frontendv2 && eslint --fix",
    "cd frontendv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "api/**/*.{ts,tsx}": [
    "cd api && eslint --fix",
    "cd api && vitest related --run --no-coverage --passWithNoTests"
  ],
  "apiv2/**/*.{ts,tsx}": [
    "cd apiv2 && eslint --fix",
    "cd apiv2 && vitest related --run --no-coverage --passWithNoTests"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write"]
}

feat: update Circle of Fifths colors to match Morandi design system
  frontendv2/src/components/circle-of-fifths/CircleOfFifthsControls.tsx
  frontendv2/src/components/circle-of-fifths/KeyDetailsPanel.tsx
  frontendv2/tailwind.config.js
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: simplify Play button text in Circle of Fifths
  frontendv2/src/components/circle-of-fifths/CircleOfFifthsControls.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: ensure Play button shows Stop during audio playback
  frontendv2/src/services/musicalAudioService.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: align piano white keys with black keys
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused variables to fix TypeScript build errors
  frontendv2/src/components/circle-of-fifths/CircleVisualization.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve Circle of Fifths mobile display and note naming
  frontendv2/src/components/circle-of-fifths/CircleVisualization.tsx
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
  frontendv2/tailwind.config.js
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: display flat names for keys with flats in Circle of Fifths
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve lint error for unused selectedKey parameter
  frontendv2/src/components/circle-of-fifths/PianoKeyboard.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update Circle of Fifths selected border color and fix text overflow
  frontendv2/src/components/circle-of-fifths/CircleVisualization.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add queue handler for batch processing
  dictionary/src/index.ts
Due: prettier --write

chore: formatter write
  docs/MUSIC_DICTIONARY_ARCHITECTURE.md
  docs/MUSIC_DICTIONARY_PRD.md
Due: prettier --write

fix: correct health check endpoint paths
  dictionary/src/index.ts
Due: prettier --write

feat: remove API key auth and fix all lint/test issues
  dictionary/.eslintrc.json
  dictionary/migrations/0003_remove_api_keys.sql
  dictionary/package-lock.json
  dictionary/package.json
  dictionary/src/__tests__/handlers/batch.test.ts
  dictionary/src/__tests__/handlers/health.test.ts
  dictionary/src/__tests__/handlers/search.test.ts
  dictionary/src/__tests__/helpers/app.ts
  dictionary/src/__tests__/middleware/auth.test.ts
  dictionary/src/__tests__/services/ai/dictionary-generator.test.ts
  dictionary/src/__tests__/setup.ts
  dictionary/src/api/handlers/admin.ts
  dictionary/src/api/handlers/export.ts
  dictionary/src/api/handlers/search.ts
  dictionary/src/api/handlers/terms.ts
  dictionary/src/index.ts
  dictionary/src/middleware/auth.ts
  dictionary/src/middleware/cache.ts
  dictionary/src/middleware/rate-limit.ts
  dictionary/src/services/ai/cloudflare-ai-service.ts
  dictionary/src/services/ai/dictionary-generator.ts
  dictionary/src/types/api.ts
Due: prettier --write

feat: add service template for standardized microservice creation
  CLAUDE.md
  docs/DESIGN.md
  service-template/.env.example
  service-template/.eslintrc.json
  service-template/.gitignore
  service-template/.prettierrc
  service-template/ARCHITECTURE.md
  service-template/README.md
  service-template/drizzle.config.ts
  service-template/migrations/0001_initial.sql
  service-template/package.json
  service-template/scripts/setup.sh
  service-template/src/app.ts
  service-template/src/db/schema.ts
  service-template/src/index.ts
  service-template/src/middleware/auth.ts
  service-template/src/middleware/cache.ts
  service-template/src/middleware/error.ts
  service-template/src/middleware/rate-limit.ts
  service-template/src/middleware/validation.ts
  service-template/src/routes/api/example.ts
  service-template/src/routes/docs.ts
  service-template/src/routes/health.ts
  service-template/src/services/example.service.ts
  service-template/src/types.ts
  service-template/src/utils/date.ts
  service-template/src/utils/id.ts
  service-template/src/utils/response.ts
  service-template/tests/health.test.ts
  service-template/tests/middleware.test.ts
  service-template/tsconfig.json
  service-template/vitest.config.ts
  service-template/wrangler.toml
Due: prettier --write

fix: add missing newline to .prettierrc
  service-template/.prettierrc
Due: none

fix: correct OpenAPI spec link in landing page
  dictionary/src/index.ts
Due: prettier --write

fix(dictionary): optimize health endpoint and update AI models
  dictionary/drizzle.config.ts
  dictionary/package-lock.json
  dictionary/package.json
  dictionary/src/api/handlers/health.ts
  dictionary/src/api/openapi.ts
  dictionary/src/api/routes/terms.ts
  dictionary/src/config/ai-models.ts
  dictionary/src/db/index.ts
  dictionary/src/db/schema/dictionary.ts
  dictionary/src/types/ai.ts
  dictionary/src/types/api.ts
  dictionary/src/utils/id.ts
  dictionary/test-cf-models.sh
Due: prettier --write

fix(dictionary): resolve TypeScript build errors
  dictionary/TYPESCRIPT_FIXES.md
  dictionary/src/api/routes/terms.ts
Due: prettier --write

refactor(dictionary): align with service-template architecture for production readiness
  dictionary/ARCHITECTURE.md
  dictionary/src/api/handlers/docs.ts
  dictionary/src/app.ts
  dictionary/src/index.ts
  dictionary/src/middleware/logging.ts
  dictionary/src/middleware/request-id.ts
  dictionary/src/middleware/validation.ts
  dictionary/src/routes/dictionary.ts
  dictionary/src/routes/docs.ts
  dictionary/src/routes/health.ts
  dictionary/src/schemas/index.ts
  dictionary/src/types/env.ts
  dictionary/src/utils/errors.ts
Due: prettier --write

feat(dictionary): add comprehensive music dictionary with security-first design
  api/wrangler.toml
  frontendv2/package.json
  frontendv2/src/api/dictionary.ts
  frontendv2/src/components/dictionary/Dictionary.tsx
  frontendv2/src/components/dictionary/DictionaryCategories.tsx
  frontendv2/src/components/dictionary/DictionaryPopular.tsx
  frontendv2/src/components/dictionary/DictionaryReferences.tsx
  frontendv2/src/components/dictionary/DictionaryResults.tsx
  frontendv2/src/components/dictionary/DictionarySearch.tsx
  frontendv2/src/components/dictionary/DictionaryTerm.tsx
  frontendv2/src/components/dictionary/SafeExternalLink.tsx
  frontendv2/src/locales/de/toolbox.json
  frontendv2/src/locales/en/toolbox.json
  frontendv2/src/locales/es/toolbox.json
  frontendv2/src/locales/fr/toolbox.json
  frontendv2/src/locales/zh-CN/toolbox.json
  frontendv2/src/locales/zh-TW/toolbox.json
  frontendv2/src/pages/Toolbox.tsx
  frontendv2/src/types/dictionary.ts
  frontendv2/src/utils/dictionarySecurity.ts
  frontendv2/tsconfig.app.json
  frontendv2/vite.config.ts
  frontendv2/wrangler.toml
  package-lock.json
  scores/wrangler.toml
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(security): address CodeQL security vulnerabilities in dictionary sanitization
  frontendv2/src/utils/dictionarySecurity.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(security): add iterative sanitization to sanitizeOutput function
  frontendv2/src/utils/__tests__/dictionarySecurity.test.ts
  frontendv2/src/utils/dictionarySecurity.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(security): enhance XSS protection and add dictionary domains to CSP
  frontendv2/public/_headers
  frontendv2/src/utils/dictionarySecurity.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(security): address CodeQL security vulnerabilities in dictionary sanitization
  frontendv2/src/utils/__tests__/dictionarySecurity.test.ts
  frontendv2/src/utils/dictionarySecurity.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(cors): fix CORS configuration for staging environment
  dictionary/src/app.ts
  dictionary/wrangler.toml
Due: prettier --write

fix(dictionary): update frontend to handle dictionary API response format
  frontendv2/src/api/dictionary.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(typescript): add missing return statements in dictionary API methods
  frontendv2/src/api/dictionary.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(dictionary): map 'results' to 'entries' in search response
  frontendv2/src/api/dictionary.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(dictionary): align backend TermType enum with frontend and add debug endpoints
  dictionary/migrations/0004_update_term_types.sql
  dictionary/src/api/handlers/debug.ts
  dictionary/src/api/handlers/search.ts
  dictionary/src/routes/dictionary.ts
  dictionary/src/services/storage/dictionary-database-debug.ts
  dictionary/src/types/dictionary.ts
Due: prettier --write

feat(dictionary): add comprehensive multi-language support
  dictionary/docs/LANGUAGE-SUPPORT.md
  dictionary/migrations/0005_add_language_support.sql
  dictionary/package.json
  dictionary/src/api/handlers/admin.ts
  dictionary/src/api/handlers/batch.ts
  dictionary/src/api/handlers/search.ts
  dictionary/src/api/handlers/terms.ts
  dictionary/src/data/seed-terms.ts
  dictionary/src/services/storage/dictionary-database.ts
  dictionary/src/types/dictionary.ts
  dictionary/test-language-support.ts
  frontendv2/src/api/dictionary.ts
  frontendv2/src/types/dictionary.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat(dictionary): add intelligent multi-language support
  frontendv2/src/api/dictionary.ts
  frontendv2/src/components/dictionary/Dictionary.tsx
  frontendv2/src/components/dictionary/DictionaryResults.tsx
  frontendv2/src/components/dictionary/DictionaryTerm.tsx
  frontendv2/src/locales/en/toolbox.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(dictionary): fix TypeScript build errors for multi-language support
  frontendv2/src/components/dictionary/DictionaryTerm.tsx
  frontendv2/src/types/dictionary.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(dictionary): handle API error states and AI-generated terms properly
  frontendv2/src/api/dictionary.ts
  frontendv2/src/components/dictionary/Dictionary.tsx
  frontendv2/src/components/dictionary/DictionaryTerm.tsx
  frontendv2/src/locales/en/toolbox.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(dictionary): resolve TypeScript lint errors
  frontendv2/src/api/dictionary.ts
  frontendv2/src/components/dictionary/Dictionary.tsx
  frontendv2/src/components/dictionary/DictionaryTerm.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix(dictionary): add missing lang field to fix build errors
  dictionary/src/api/handlers/admin.ts
  dictionary/src/api/handlers/search.ts
  dictionary/src/api/handlers/terms.ts
  dictionary/src/services/ai/dictionary-generator.ts
  dictionary/src/services/storage/dictionary-database.ts
Due: prettier --write

feat(i18n): complete dictionary translations for all languages
  frontendv2/src/locales/de/toolbox.json
  frontendv2/src/locales/es/toolbox.json
  frontendv2/src/locales/fr/toolbox.json
  frontendv2/src/locales/zh-CN/toolbox.json
  frontendv2/src/locales/zh-TW/toolbox.json
Due: prettier --write

docs(dictionary): consolidate documentation into single file
  dictionary/ARCHITECTURE.md
  dictionary/IMPLEMENTATION_STATUS.md
  dictionary/TYPESCRIPT_FIXES.md
  docs/DICTIONARY.md
Due: prettier --write
