Repository pezware/mirubato: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && eslint --fix, cd backend && vitest related --run --no-coverage --passWithNoTests, cd frontend && eslint --fix, cd frontend && jest --bail --findRelatedTests --passWithNoTests, cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, cd apiv2 && eslint --fix, cd apiv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: comprehensive undefined value handling across entire app
  api/src/tests/comprehensive-undefined-handling.test.ts
  api/src/utils/database.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unnecessary reportView dependency from useMemo
  frontendv2/src/components/EnhancedPracticeReports.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update function signatures to accept null values
  frontendv2/src/api/logbook.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: CreateEntryData type to handle all cases
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/PieceInput.tsx
  frontendv2/src/hooks/useAutocomplete.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve calendar day visibility for days with no practice
  frontendv2/src/components/EnhancedPracticeReports.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

Revert "fix: improve calendar day visibility for days with no practice"
  frontendv2/src/components/EnhancedPracticeReports.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add background color to empty calendar cells and future dates
  frontendv2/src/components/EnhancedPracticeReports.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve D1 sync errors and calendar rendering issues
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/tailwind.config.js
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: sanitize all fields when updating entries to prevent D1 undefined errors
  api/package.json
  frontendv2/package.json
  frontendv2/src/api/logbook.ts
  frontendv2/src/tests/unit/api/logbook.test.ts
  package.json
  scores/package.json
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

docs: prepare for v1.1.0 release
  README.md
  docs/DEBUG.md
  docs/DESIGN.md
  docs/MVP_FINAL_SPRINT.md
  docs/ROADMAP.md
  docs/archive/CACHING_IMPLEMENTATION.md
  docs/archive/CACHING_OPTIMIZATIONS.md
  docs/archive/E2E_TEST_STABILITY.md
  docs/archive/ENHANCED_REPORTS_INTEGRATION.md
  docs/archive/FRONTEND.md
  docs/archive/FRONTEND_DEBUG.md
  docs/archive/STAGING_ISSUES.md
  docs/archive/SYNC_TYPES.md
  docs/archive/classical-music-composers-pieces.md
  docs/archive/enhanced-reports-design-mockup.html
  docs/archive/mirubato-mvp-actionable-steps.md
Due: prettier --write

fix: add client-side sanitization to prevent D1 sync errors after login
  frontendv2/src/api/sync.ts
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/unit/utils/sanitizeForD1.test.ts
  frontendv2/src/utils/sanitizeForD1.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

refactor: move D1 sanitization from frontend to API middleware
  api/src/api/middleware.test.ts
  api/src/api/middleware.ts
  api/src/tests/sanitize-middleware.test.ts
  frontendv2/src/api/sync.ts
  frontendv2/src/stores/logbookStore.ts
  frontendv2/src/tests/unit/utils/sanitizeForD1.test.ts
  frontendv2/src/utils/sanitizeForD1.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove unused vi import from middleware test
  api/src/api/middleware.test.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: handle undefined deviceCount in updateSyncMetadata to prevent D1 errors
  api/src/utils/database.test.ts
  api/src/utils/database.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add migration to fix sync_metadata schema on staging
  api/migrations/0004_fix_sync_metadata_schema.sql
Due: none

docs: update DESIGN.md and ROADMAP.md to reflect actual implementation
  docs/DESIGN.md
  docs/ROADMAP.md
Due: prettier --write

test: fix integration and E2E tests, add unit tests for Autocomplete component
  api/src/api/handlers/sync.integration.test.ts
  frontendv2/src/tests/unit/components/ui/Autocomplete.test.tsx
  frontendv2/tests/e2e/logbook-fixed.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve lint errors in sync integration tests
  api/src/api/handlers/sync.integration.test.ts
Due: cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve E2E test reliability and prevent timeouts
  frontendv2/tests/e2e/logbook-fixed.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update E2E tests to match current UI implementation
  frontendv2/tests/e2e/logbook-fixed.test.ts
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: improve E2E test reliability and flexibility
  frontendv2/tests/e2e/helpers/logbook-helpers.ts
  frontendv2/tests/e2e/logbook-fixed.test.ts
  frontendv2/tests/e2e/logbook-simple.test.ts
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve lint errors and unit test failure
  frontendv2/tests/e2e/logbook-fixed.test.ts
  frontendv2/tests/e2e/logbook-simple.test.ts
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: ensure duration test uses All Time filter for consistent results
  frontendv2/src/tests/unit/components/EnhancedPracticeReports.test.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

perf: optimize E2E test execution time from 30+ minutes to <10 minutes
  .github/workflows/ci.yml
  CLAUDE.md
  frontendv2/playwright.config.ts
  frontendv2/tests/e2e/helpers/logbook-helpers.ts
  frontendv2/tests/e2e/helpers/test-setup.ts
  frontendv2/tests/e2e/logbook-simple.test.ts
  frontendv2/tests/e2e/playwright.base.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve ESLint errors in playwright.base.ts
  frontendv2/tests/e2e/playwright.base.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: remove non-existent @mirubato/shared workspace from CI workflow
  .github/workflows/ci.yml
Due: none

fix: update E2E test selectors to match actual DOM structure
  frontendv2/tests/e2e/helpers/entry-helpers.ts
  frontendv2/tests/e2e/helpers/logbook-helpers.ts
  frontendv2/tests/e2e/helpers/test-setup.ts
  frontendv2/tests/e2e/logbook-fixed.test.ts
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve ESLint errors in E2E test helpers
  frontendv2/tests/e2e/helpers/entry-helpers.ts
  frontendv2/tests/e2e/helpers/logbook-helpers.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve remaining E2E test failures
  frontendv2/tests/e2e/logbook-simple.test.ts
  frontendv2/tests/e2e/logbook-sync.test.ts
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: comprehensive E2E test improvements based on Gemini recommendations
  .github/workflows/ci.yml
  E2E_TEST_FIXES_SUMMARY.md
  frontendv2/gemini_e2e_analysis.md
  frontendv2/gemini_e2e_comprehensive_analysis.md
  frontendv2/gemini_final_e2e_analysis.md
  frontendv2/playwright.config.ts
  frontendv2/src/components/EnhancedPracticeReports.tsx
  frontendv2/src/components/LogbookEntryList.tsx
  frontendv2/src/components/LogbookReports.tsx
  frontendv2/src/components/ManualEntryForm.tsx
  frontendv2/src/components/PieceInput.tsx
  frontendv2/src/components/ui/Autocomplete.tsx
  frontendv2/tests/e2e/helpers/test-helpers.ts
  frontendv2/tests/e2e/logbook-fixed.test.ts
  frontendv2/tests/e2e/logbook-simple.test.ts
  frontendv2/tests/e2e/logbook.test.ts
  frontendv2/tests/e2e/pages/LogbookPage.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve lint errors and skip integration tests
  api/src/api/handlers/sync.integration.test.ts
  frontendv2/tests/e2e/logbook.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, cd api && eslint --fix, cd api && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: update E2E sync tests to remove flaky authentication mocks
  frontendv2/tests/e2e/logbook-sync.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: resolve lint errors in E2E tests and ignore coverage files
  frontendv2/eslint.config.js
  frontendv2/gemini_e2e_analysis.md
  frontendv2/gemini_e2e_comprehensive_analysis.md
  frontendv2/gemini_final_e2e_analysis.md
  frontendv2/tests/e2e/logbook-sync.test.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

feat: add Scorebook implementation plan and test infrastructure
  SCOREBOOK_IMPLEMENTATION_PLAN.md
  docs/E2E_TEST_FIXES_SUMMARY.md
  frontendv2/src/pages/Scorebook.mock.tsx
  scores/package.json
  scores/scripts/seed-test-scores.sh
  scores/scripts/upload-test-scores.ts
  scores/test-data/README.md
  scores/test-data/score_01.pdf
  scores/test-data/score_02.pdf
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: correct D1 database binding and schema for local seeding
  scores/scripts/seed-test-scores.sh
Due: none

docs: add Scorebook setup summary
  SCOREBOOK_SETUP_SUMMARY.md
Due: prettier --write

feat: implement Scorebook UI with PDF viewer
  frontendv2/public/locales/en/scorebook.json
  frontendv2/src/components/score/ScoreControls.tsx
  frontendv2/src/components/score/ScoreManagement.tsx
  frontendv2/src/components/score/ScoreViewer.tsx
  frontendv2/src/pages/ScoreBrowser.tsx
  frontendv2/src/pages/Scorebook.tsx
  frontendv2/src/routes/scorebook.tsx
  frontendv2/src/services/scoreService.ts
  frontendv2/src/stores/scoreStore.ts
  scores/src/api/handlers/testPdfs.ts
  scores/src/api/routes.ts
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: configure CORS and PDF serving for Scorebook
  SCOREBOOK_TESTING.md
  scores/package.json
  scores/scripts/upload-test-pdfs.sh
  scores/src/api/handlers/testPdfs.ts
  scores/src/api/routes.ts
  scores/src/index.ts
Due: prettier --write

feat: improve Scorebook PDF error handling and documentation
  SCOREBOOK_QUICKSTART.md
  frontendv2/src/components/score/ScoreViewer.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

fix: add Scorebook routes to main App router
  frontendv2/src/App.tsx
Due: cd frontendv2 && eslint --fix, cd frontendv2 && vitest related --run --no-coverage --passWithNoTests, prettier --write

Path conditions:
  cd backend && eslint --fix: any of: backend/**/*.{ts,tsx}
  cd backend && vitest related --run --no-coverage --passWithNoTests: any of: backend/**/*.{ts,tsx}
  cd frontend && eslint --fix: any of: frontend/**/*.{ts,tsx}
  cd frontend && jest --bail --findRelatedTests --passWithNoTests: any of: frontend/**/*.{ts,tsx}
  cd frontendv2 && eslint --fix: any of: frontendv2/**/*.{ts,tsx}
  cd frontendv2 && vitest related --run --no-coverage --passWithNoTests: any of: frontendv2/**/*.{ts,tsx}
  cd api && eslint --fix: any of: api/**/*.{ts,tsx}
  cd api && vitest related --run --no-coverage --passWithNoTests: any of: api/**/*.{ts,tsx}
  cd apiv2 && eslint --fix: any of: apiv2/**/*.{ts,tsx}
  cd apiv2 && vitest related --run --no-coverage --passWithNoTests: any of: apiv2/**/*.{ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
